Repository datumforge/datum, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, mixin, privacy, dbschema, graphqlschema, migrations, local-development

.github/labeler.yml:

ci:
- .github/**
- .buildkite/**

mixin:
- internal/ent/mixin/*

privacy:
- internal/ent/privacy/*

dbschema:
- internal/ent/schema/*

graphqlschema:
- schema/**

migrations:
- db/**

local-development:
- scripts/**
- Taskfile.yaml
- docker/**

add ze tests
  go.mod
  go.sum
  internal/utils/viperconfig/viperconfig_test.go
Labels: none

jk real comment
  internal/auth/oauth.go
Labels: none

Update fga playground task command in README
  README.md
Labels: none

pull out auth for now
  internal/auth/doc.go
  internal/auth/errors.go
  internal/auth/oauth.go
Labels: none

remove constants
  internal/constants/prod.go
  internal/constants/test.go
Labels: none

pr feedback, add user delete cli command
  cmd/cli/cmd/user_create.go
  cmd/cli/cmd/user_delete.go
  internal/api/organization.resolvers.go
  internal/api/organization_helpers.go
Labels: none

add basic caching, using entcache, to the db layer
  go.mod
  go.sum
  internal/entdb/client.go
Labels: none

test osv scanner workflow
  .github/workflows/osv-scanner.yml
Labels: ci

Aligns audit mixin values with others when no auth is used; Fixes bug with retrieving user when auth is not enabled
  internal/ent/mixin/audit_mixin.go
Labels: mixin

fix driver opts duplicate, add to secondaryDb
  internal/entdb/client.go
Labels: none

test atlas token
  .github/workflows/ci-atlas.yaml
Labels: ci

try with old token
  .github/workflows/ci-atlas.yaml
Labels: ci
