Repository datumforge/datum, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, mixin, privacy, dbschema, graphqlschema, migrations, local-development

add passwd package
  internal/passwd/dk.go
  internal/passwd/dk_test.go
  internal/passwd/doc.go
  internal/passwd/errors.go
  internal/passwd/strength.go
  internal/passwd/strength_test.go
Labels: none

add keygen package
  internal/keygen/doc.go
  internal/keygen/keygen.go
  internal/keygen/keygen_test.go
Labels: none

fix test
  internal/passwd/dk_test.go
Labels: none

add utils package
  go.mod
  go.sum
  internal/utils/rows/doc.go
  internal/utils/rows/rows.go
  internal/utils/sqlite/doc.go
  internal/utils/sqlite/errors.go
  internal/utils/sqlite/sqlite.go
  internal/utils/sqlite/sqlite_test.go
  internal/utils/ulids/doc.go
  internal/utils/ulids/ulids.go
  internal/utils/ulids/ulids_test.go
Labels: none

linter
  internal/utils/ulids/ulids_test.go
Labels: none

fix test
  internal/passwd/dk_test.go
Labels: none

burn tests for now
  internal/passwd/dk_test.go
Labels: none

Update internal/passwd/dk.go
  internal/passwd/dk.go
Labels: none

Update internal/passwd/dk.go
  internal/passwd/dk.go
Labels: none

PR feedback
  internal/passwd/dk.go
  internal/passwd/errors.go
Labels: none

Update internal/utils/sqlite/sqlite.go
  internal/utils/sqlite/sqlite.go
Labels: none

Update internal/utils/sqlite/sqlite.go
  internal/utils/sqlite/sqlite.go
Labels: none

Update internal/utils/ulids/ulids.go
  internal/utils/ulids/ulids.go
Labels: none

Update internal/utils/ulids/ulids.go
  internal/utils/ulids/ulids.go
Labels: none

Update internal/utils/ulids/ulids.go
  internal/utils/ulids/ulids.go
Labels: none

linter
  internal/utils/sqlite/sqlite.go
Labels: none

Update internal/passwd/errors.go
  internal/passwd/errors.go
Labels: none

remove import
  internal/passwd/errors.go
Labels: none

Update auditmixin to set createdby and updatedby; Set createdby to immutable so it can't be updated after the fact
  go.mod
  go.sum
  internal/api/gen_server.go
  internal/datumclient/models.go
  internal/ent/generated/entitlement_update.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/group_update.go
  internal/ent/generated/groupsetting_update.go
  internal/ent/generated/integration_update.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/oauthprovider_update.go
  internal/ent/generated/openapi.json
  internal/ent/generated/organization_update.go
  internal/ent/generated/organizationsetting_update.go
  internal/ent/generated/personalaccesstoken_update.go
  internal/ent/generated/session_update.go
  internal/ent/generated/user_update.go
  internal/ent/generated/usersetting_update.go
  internal/ent/mixin/audit_mixin.go
  schema.graphql
  schema/ent.graphql
Labels: mixin, graphqlschema

add mockgen
  Taskfile.yaml
Labels: local-development

move hooks to its own package
  internal/ent/hooks/doc.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/tuples.go
  internal/ent/schema/errors.go
  internal/ent/schema/organization.go
Labels: dbschema

Cleanup getting user information in audit mixin
  internal/ent/mixin/audit_mixin.go
Labels: mixin

initial cut at adding tokens; jwks, token mgr
  config/config.go
  go.mod
  go.sum
  internal/tokens/claims.go
  internal/tokens/doc.go
  internal/tokens/errors.go
  internal/tokens/jwks.go
  internal/tokens/parser.go
  internal/tokens/signing.go
  internal/tokens/tokenmanager.go
  internal/tokens/types.go
  internal/tokens/validator.go
Labels: none

fix spelling typo on org settings schema
  internal/api/gen_server.go
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_edge.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/organizationsetting.go
  internal/ent/generated/organizationsetting/organizationsetting.go
  internal/ent/generated/organizationsetting/where.go
  internal/ent/generated/organizationsetting_create.go
  internal/ent/generated/organizationsetting_query.go
  internal/ent/generated/organizationsetting_update.go
  internal/ent/schema/organizationsetting.go
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema

update template command and add http client
  internal/ent/entc.go
  internal/ent/generated/client.go
Labels: none

worthless code
  config/doc.go
  internal/tokens/claims.go
  internal/tokens/errors.go
  internal/tokens/parser.go
  internal/tokens/signing.go
  internal/tokens/testdata/01GE6191AQTGMCJ9BN0QC3CCVG.pem
  internal/tokens/testdata/01GE62EXXR0X0561XD53RDFBQJ.pem
  internal/tokens/testdata/jwks.json
  internal/tokens/testdata/partial_jwks.json
  internal/tokens/tokenmanager.go
  internal/tokens/tokens_test.go
  internal/tokens/types.go
  internal/tokens/validator.go
Labels: none

add cookie and session store
  go.mod
  go.sum
  internal/store/cookie.go
  internal/store/doc.go
  internal/store/parse.go
  internal/store/session.go
  internal/store/state.go
Labels: none

Update internal/store/session.go
  internal/store/session.go
Labels: none

Update internal/store/state.go
  internal/store/state.go
Labels: none

update user resolvers, add cli functions
  cmd/cli/cmd/errors.go
  cmd/cli/cmd/org.go
  cmd/cli/cmd/user.go
  cmd/cli/cmd/user_create.go
  cmd/cli/cmd/user_get.go
  cmd/cli/cmd/user_update.go
  db/migrations/20231128021906_user.sql
  db/migrations/atlas.sum
  go.mod
  go.sum
  internal/api/organization.resolvers.go
  internal/api/user.resolvers.go
  internal/api/user_helpers.go
  internal/datumclient/client.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/user/user.go
  internal/ent/generated/user_query.go
  internal/ent/schema/user.go
  query/user.graphql
Labels: dbschema, migrations

first pass at oauth
  go.mod
  go.sum
  internal/auth/auth.go
  internal/auth/doc.go
  internal/constants/prod.go
  internal/constants/test.go
  internal/utils/viperconfig/doc.go
  internal/utils/viperconfig/viperconfig.go
Labels: none

add basic err handling
  go.sum
  internal/store/session.go
  internal/store/state.go
Labels: none

add user resolver tests
  internal/api/models_test.go
  internal/api/organization_test.go
  internal/api/tools_test.go
  internal/api/user_helpers.go
  internal/api/user_test.go
  internal/datumclient/client.go
  query/user.graphql
Labels: none

ensure user setting is created
  internal/api/user_test.go
Labels: none

fix create user display name test
  internal/api/user_test.go
Labels: none

add TODO on user-settings for delete
  internal/api/user_test.go
Labels: none

Update internal/store/session.go
  internal/store/session.go
Labels: none

Update internal/store/session.go
  internal/store/session.go
Labels: none

man i'm dumb
  internal/store/session.go
Labels: none

initial cut at oauth; additional ocd changes
  go.mod
  go.sum
  internal/auth/errors.go
  internal/auth/oauth.go
  internal/constants/prod.go
  internal/constants/test.go
  internal/echox/doc.go
  internal/echox/echo.go
  internal/entdb/doc.go
  internal/entdb/multidriver.go
  internal/fga/doc.go
  internal/fga/tuples.go
  internal/utils/viperconfig/doc.go
Labels: none

.github/labeler.yml:

ci:
- .github/**
- .buildkite/**

mixin:
- internal/ent/mixin/*

privacy:
- internal/ent/privacy/*

dbschema:
- internal/ent/schema/*

graphqlschema:
- schema/**

migrations:
- db/**

local-development:
- scripts/**
- Taskfile.yaml
- docker/**
