Repository datumforge/datum, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, mixin, privacy, dbschema, graphqlschema, migrations, local-development

.github/labeler.yml:

ci:
- .github/**
- .buildkite/**

mixin:
- internal/ent/mixin/*

privacy:
- internal/ent/privacy/*

dbschema:
- internal/ent/schema/*

graphqlschema:
- schema/**

migrations:
- db/**

local-development:
- scripts/**
- Taskfile.yaml
- docker/**

settings can't be unique
  db/migrations/20231110235737_orgnames.sql
  db/migrations/20231111000637_nonuniqueorgsettings.sql
  db/migrations/atlas.sum
  internal/api/gen_server.go
  internal/datumclient/models.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_edge.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/groupsettings.go
  internal/ent/generated/groupsettings/groupsettings.go
  internal/ent/generated/groupsettings/where.go
  internal/ent/generated/groupsettings_create.go
  internal/ent/generated/groupsettings_update.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/organization_create.go
  internal/ent/generated/organization_update.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/schema/organization.go
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations

remove validate rule from firstname and lastname
  internal/ent/schema/user.go
Labels: dbschema

email confirmed to false by default
  internal/ent/schema/user_settings.go
Labels: dbschema

update files
  db/migrations/20231111002729_usersettings.sql
  db/migrations/atlas.sum
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/runtime/runtime.go
Labels: migrations

update org tests to account for new fields, unique test
  internal/api/models_test.go
  internal/api/organization_test.go
  internal/datumclient/client.go
  query/organization.graphql
Labels: none

add cli with org CRUD operations
  cmd/cli/cmd/errors.go
  cmd/cli/cmd/org.go
  cmd/cli/cmd/org_create.go
  cmd/cli/cmd/org_delete.go
  cmd/cli/cmd/org_get.go
  cmd/cli/cmd/org_update.go
  cmd/cli/cmd/root.go
  cmd/cli/main.go
  internal/datumclient/client.go
  query/organization.graphql
Labels: none

go mod tidy
  go.mod
  go.sum
Labels: none

comment
  cmd/cli/cmd/org.go
Labels: none

comment
  cmd/cli/cmd/org.go
Labels: none

make display name test number of letters to ensure no spaces
  internal/api/organization_test.go
Labels: none

ent v0.12.4 -> v0.12.5, run generate
  go.mod
  go.sum
  internal/ent/generated/client.go
  internal/ent/generated/group_update.go
  internal/ent/generated/integration_update.go
  internal/ent/generated/oauthprovider_update.go
  internal/ent/generated/organization_update.go
  internal/ent/generated/organizationsettings_update.go
  internal/ent/generated/personalaccesstoken_update.go
  internal/ent/generated/refreshtoken_update.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/session_update.go
  internal/ent/generated/user_update.go
Labels: none

add fga package, taskfile updates
  Taskfile.yaml
  cmd/serve.go
  docker/docker-compose.yml
  go.mod
  go.sum
  internal/api/errors.go
  internal/api/resolver.go
  internal/api/tools_test.go
  internal/fga/checks.go
  internal/fga/errors.go
  internal/fga/fga.go
  internal/fga/tuples.go
Labels: local-development

flip oauth to org vs. user
  db/migrations/20231114181225_oauthprovidertoorg.sql
  db/migrations/atlas.sum
  internal/api/gen_server.go
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_edge.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/oauthprovider.go
  internal/ent/generated/oauthprovider/oauthprovider.go
  internal/ent/generated/oauthprovider/where.go
  internal/ent/generated/oauthprovider_create.go
  internal/ent/generated/oauthprovider_query.go
  internal/ent/generated/oauthprovider_update.go
  internal/ent/generated/openapi.json
  internal/ent/generated/organization.go
  internal/ent/generated/organization/organization.go
  internal/ent/generated/organization/where.go
  internal/ent/generated/organization_create.go
  internal/ent/generated/organization_query.go
  internal/ent/generated/organization_update.go
  internal/ent/generated/schema-viz.html
  internal/ent/generated/user.go
  internal/ent/generated/user/user.go
  internal/ent/generated/user/where.go
  internal/ent/generated/user_create.go
  internal/ent/generated/user_query.go
  internal/ent/generated/user_update.go
  internal/ent/schema/oauthprovider.go
  internal/ent/schema/organization.go
  internal/ent/schema/user.go
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations

Fix Docker-Compose for FGA
  docker/docker-compose-fga.yml
Labels: local-development

update task file; minor docs
  README.md
  Taskfile.yaml
  cli/Taskfile.yml
Labels: local-development

add descriptions to taskfiles
  Taskfile.yaml
  cli/Taskfile.yml
Labels: local-development

wip, add fga test framework, setup store on startup
  Taskfile.yaml
  cmd/serve.go
  docker/Dockerfile
  docker/docker-compose-fga.yml
  docker/docker-compose.yml
  internal/api/gen_server.go
  internal/datumclient/models.go
  internal/echox/echo.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_edge.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/group.go
  internal/ent/generated/internal/schema.go
  internal/ent/schema/user_settings.go
  internal/fga/fga.go
  query/query.graphql
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, local-development

fix linter, commit missing files
  cmd/serve.go
  internal/fga/fga.go
  internal/fga/fga_test.go
  internal/fga/testdata/datum.json
  internal/fga/testdata/datum.model
Labels: none

ensure no generated output
  go.sum
Labels: none

wip: add tests
  internal/echox/echo.go
  internal/echox/echo_test.go
  internal/echox/test_tools.go
  internal/fga/errors.go
  internal/fga/fga_test.go
  internal/fga/tuples.go
  internal/fga/tuples_test.go
Labels: none

revert incorrect change to echo
  internal/echox/echo.go
Labels: none

mark functions for tests
  internal/echox/echo_test.go
  internal/echox/test_tools.go
  internal/fga/tuples_test.go
Labels: none

moar tests
  internal/fga/tuples_test.go
Labels: none

wip: saving
  internal/echox/echo_test.go
  internal/echox/test_tools.go
  internal/fga/checks_test.go
  internal/fga/testdata/datum.fga
  internal/fga/testdata/datum.model
  internal/fga/testdata/tests.yaml
  internal/fga/tuples_test.go
Labels: none

version and goreleaser
  .github/workflows/releaser.yml
  .goreleaser.yaml
  internal/constants/doc.go
  internal/constants/version.go
Labels: ci

more wp
  Taskfile.yaml
  internal/fga/testdata/datum.fga
  internal/fga/testdata/tests.yaml
Labels: local-development

fga schema and tests
  internal/fga/testdata/datum.fga
  internal/fga/testdata/tests.yaml
Labels: none

cleanup names
  internal/fga/testdata/tests.yaml
Labels: none

add fga model, and tests
  .buildkite/pipeline.yaml
  Taskfile.yaml
  internal/fga/testdata/datum.fga
  internal/fga/testdata/tests.yaml
Labels: ci, local-development

buildkite pipeline correction
  .buildkite/pipeline.yaml
Labels: ci

update taskfile, auth fga flags not on this branch
  Taskfile.yaml
Labels: local-development

fix fga buildkite command
  .buildkite/pipeline.yaml
Labels: ci

add model to create command
  Taskfile.yaml
Labels: local-development

move fga model to root directory
  .buildkite/pipeline.yaml
  Taskfile.yaml
  fga/model/datum.fga
  fga/tests/tests.yaml
Labels: ci, local-development

comment out fga tests, the path changed, need to fix
  internal/fga/checks_test.go
  internal/fga/fga_test.go
  internal/fga/testdata/datum.fga
  internal/fga/testdata/datum.json
  internal/fga/testdata/tests.yaml
  internal/fga/tuples_test.go
Labels: none

Add tests for echox.GetActorSubject, tools for testing
  internal/echox/echo.go
  internal/echox/echo_test.go
  internal/echox/test_tools.go
Labels: none

remove extra functions
  internal/echox/echo.go
Labels: none

remove docker for now, see if we can do this with mocks
  Taskfile.yaml
  go.mod
  go.sum
  internal/fga/tuples_test.go
Labels: local-development

mock fga client, update tests to use mocks
  Taskfile.yaml
  cmd/serve.go
  fga/model/datum.json
  go.mod
  go.sum
  internal/fga/checks.go
  internal/fga/checks_test.go
  internal/fga/fga.go
  internal/fga/fga_test.go
  internal/fga/mocks/client.go
  internal/fga/tuples.go
  internal/fga/tuples_test.go
Labels: local-development

add fga mock to go generate
  Taskfile.yaml
  generate.go
  internal/fga/mocks/client.go
Labels: local-development
