Repository datumforge/datum, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, mixin, privacy, dbschema, graphqlschema, migrations, local-development

.github/labeler.yml:

ci:
- .github/**
- .buildkite/**

mixin:
- internal/ent/mixin/*

privacy:
- internal/ent/privacy/*

dbschema:
- internal/ent/schema/*

graphqlschema:
- schema/**

migrations:
- db/**

local-development:
- scripts/**
- Taskfile.yaml
- docker/**

cleanup
  docker/docker-compose.yml
  internal/echox/echo.go
Labels: local-development

Add model transform for fga to task:pr
  Taskfile.yaml
Labels: local-development

add delete tuples functions
  go.mod
  go.sum
  internal/api/organization.resolvers.go
  internal/ent/schema/errors.go
  internal/ent/schema/organization.go
  internal/fga/errors.go
  internal/fga/fga_test.go
  internal/fga/tuples.go
  internal/fga/tuples_test.go
Labels: dbschema

this shouldn't be in the resolvers, commenting out for now
  go.mod
  go.sum
  internal/api/organization.resolvers.go
  internal/ent/schema/organization.go
Labels: dbschema

setup entc with Authz, add hook to org resolver
  cmd/serve.go
  internal/api/resolver.go
  internal/api/tools_test.go
  internal/ent/entc.go
  internal/ent/generated/client.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/organization/organization.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/schema/organization.go
  internal/entdb/client.go
Labels: dbschema

attempting to add delete hook, but only first hook seems to run ever
  internal/ent/schema/organization.go
  internal/fga/errors.go
  internal/fga/tuples.go
Labels: dbschema

working example of create/delete organization and its fga tuples
  internal/api/organization.resolvers.go
  internal/ent/schema/organization.go
Labels: dbschema

fit jtw vs jwt
  cmd/serve.go
Labels: none

cleanup code not being used
  internal/api/errors.go
  internal/api/organization.resolvers.go
  internal/ent/schema/errors.go
Labels: dbschema

cleanup, use object type from mutation, add relations to fga tuples
  internal/ent/schema/organization.go
  internal/fga/tuples.go
Labels: dbschema

privacy wip
  go.mod
  go.sum
  internal/ent/generated/group/group.go
  internal/ent/generated/group_query.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/organization/organization.go
  internal/ent/generated/organization_query.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/user/user.go
  internal/ent/generated/user_query.go
  internal/ent/mixin/basepolicymixin.go
  internal/ent/privacy/rule/rule.go
  internal/ent/privacy/viewer/viewer.go
  internal/ent/schema/organization.go
  internal/fga/checks.go
Labels: mixin, dbschema

fix naming of user setting queries and mutations
  internal/api/gen_models.go
  internal/api/gen_server.go
  internal/api/user_settings.resolvers.go
  internal/datumclient/client.go
  internal/datumclient/models.go
  schema.graphql
  schema/user_settings.graphql
Labels: graphqlschema

fix naming of oauth + pat queries and mutations
  Taskfile.yaml
  internal/api/gen_models.go
  internal/api/gen_server.go
  internal/datumclient/client.go
  internal/datumclient/models.go
  schema.graphql
  schema/oauthprovider.graphql
  schema/personalaccesstoken.graphql
Labels: graphqlschema, local-development

saving progress, the tests will now fail cause theres no echo context
  cmd/serve.go
  go.mod
  go.sum
  internal/api/organization.resolvers.go
  internal/api/resolver.go
  internal/ent/privacy/rule/rule.go
  internal/ent/privacy/viewer/viewer.go
  internal/ent/schema/errors.go
  internal/ent/schema/organization.go
Labels: dbschema

removes erroneously committed echox auth file
  internal/echox/auth.go
Labels: none

permission denied error
  internal/api/errors.go
  internal/api/organization.resolvers.go
Labels: none

add user sub
  db/migrations/20231121013750_addusersub.sql
  db/migrations/atlas.sum
  internal/api/gen_server.go
  internal/datumclient/models.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/generated/user.go
  internal/ent/generated/user/user.go
  internal/ent/generated/user/where.go
  internal/ent/generated/user_create.go
  internal/ent/generated/user_update.go
  internal/ent/schema/user.go
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations

wip, policy viewer
  fga/model/datum.fga
  internal/api/organization.resolvers.go
  internal/echox/echo.go
  internal/ent/privacy/rule/rule.go
  internal/ent/privacy/viewer/viewer.go
  internal/fga/tuples.go
Labels: none

revert fga model change
  fga/model/datum.fga
Labels: none

token in cli, fga test move
  cmd/cli/cmd/errors.go
  cmd/cli/cmd/org_create.go
  cmd/cli/cmd/org_delete.go
  cmd/cli/cmd/org_get.go
  cmd/cli/cmd/org_update.go
  cmd/serve.go
  internal/fga/checks_test.go
  internal/fga/test_tools.go
  internal/fga/tuples_test.go
Labels: none

add access token
  internal/datumclient/auth.go
Labels: none

add doc
  internal/datumclient/doc.go
Labels: none

add readyz and livez
  internal/echox/checks.go
  internal/echox/server.go
Labels: none

remove echo referneces from fga package
  internal/ent/schema/organization.go
  internal/fga/checks.go
  internal/fga/checks_test.go
  internal/fga/tuples.go
  internal/fga/tuples_test.go
Labels: dbschema

fix tests and client, skipping parent org for now
  cmd/cli/cmd/org_get.go
  internal/api/models_test.go
  internal/api/organization.resolvers.go
  internal/api/organization_test.go
  internal/api/tools_test.go
  internal/datumclient/client.go
  internal/ent/privacy/viewer/viewer.go
  query/organization.graphql
Labels: none

use func to convert fga->json instead of cli directly
  Taskfile.yaml
  fga/model/datum.json
  go.mod
  go.sum
  internal/fga/errors.go
  internal/fga/fga.go
Labels: local-development

move to rules, remove fga client from resolver
  Taskfile.yaml
  cmd/serve.go
  internal/api/organization.resolvers.go
  internal/api/organization_test.go
  internal/api/tools_test.go
  internal/ent/generated/openapi.json
  internal/ent/privacy/rule/rule.go
  internal/ent/privacy/viewer/viewer.go
  internal/ent/schema/organization.go
Labels: dbschema, local-development

remove authz options from resolver
  internal/api/resolver.go
Labels: none

cleanup, use privacy checks
  internal/api/organization.resolvers.go
  internal/api/organization_test.go
  internal/ent/privacy/rule/rule.go
  internal/ent/schema/organization.go
Labels: dbschema

one rule for mutations
  internal/ent/privacy/rule/rule.go
  internal/ent/schema/organization.go
Labels: dbschema

revert
  go.mod
  go.sum
  internal/echox/auth.go
  internal/entdb/client.go
Labels: none

allow things to work when oidc is disabled
  cmd/cli/cmd/org_create.go
  cmd/cli/cmd/org_delete.go
  cmd/cli/cmd/org_get.go
  cmd/cli/cmd/org_update.go
  cmd/serve.go
  internal/api/ent.resolvers.go
  internal/api/organization.resolvers.go
  internal/api/resolver.go
Labels: none

allow force create of a new model
  cmd/cli/cmd/org_get.go
  cmd/serve.go
  internal/fga/fga.go
Labels: none

model as const
  internal/fga/fga.go
Labels: none

do orgs tests for now without auth
  internal/api/organization_test.go
  internal/api/tools_test.go
  internal/ent/mixin/basepolicymixin.go
Labels: mixin

use passed context, not background
  internal/api/organization.resolvers.go
Labels: none

Adds initial prom scaffolding for addition of future metrics
  go.mod
  go.sum
  internal/echox/server.go
Labels: none

tidy
  go.mod
  go.sum
Labels: none

add query interceptor to track query times
  internal/ent/interceptors/doc.go
  internal/ent/interceptors/query.go
  internal/entdb/client.go
Labels: none

go lint
  internal/ent/interceptors/doc.go
  internal/ent/interceptors/query.go
Labels: none
