Repository datumforge/datum, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, mixin, privacy, dbschema, graphqlschema, migrations, local-development

just the new test workflow
  .github/workflows/atlas-pr.yaml
Labels: ci

updates
  .github/workflows/atlas-pr.yaml
Labels: ci

wtf
  .github/workflows/atlas-pr.yaml
Labels: ci

allow org names to be reused if soft-deleted
  db/migrations/20231130210332_unique_name_deleted.sql
  db/migrations/atlas.sum
  internal/api/organization_test.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/schema/organization.go
Labels: dbschema, migrations

remove annotation
  internal/ent/generated/internal/schema.go
  internal/ent/schema/organization.go
Labels: dbschema

do not push the atlas migration on task:pr, this should happen in CI on merge to main
  Taskfile.yaml
Labels: local-development

authz checks for org hierarchy - parents
  go.mod
  go.sum
  internal/api/gen_server.go
  internal/api/models_test.go
  internal/api/organization.resolvers.go
  internal/api/organization_test.go
  internal/api/tools_test.go
  internal/datumclient/client.go
  internal/datumclient/models.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/organization.go
  internal/ent/generated/organization/organization.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/tuples.go
  internal/ent/interceptors/errors.go
  internal/ent/interceptors/organization.go
  internal/ent/privacy/rule/rule.go
  internal/ent/privacy/viewer/viewer.go
  internal/ent/schema/organization.go
  internal/entdb/client.go
  internal/fga/checks.go
  internal/fga/checks_test.go
  internal/fga/list.go
  internal/fga/list_test.go
  internal/fga/tuples.go
  query/organization.graphql
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema

fix tests after merge of main
  go.mod
  go.sum
  internal/api/organization_test.go
Labels: none

permission denied per type and action
  internal/api/errors.go
  internal/api/organization.resolvers.go
  internal/api/organization_helpers.go
  internal/api/resolver.go
Labels: none

delete relationship tuples on soft delete
  internal/api/organization_test.go
  internal/api/tools_test.go
  internal/ent/hooks/organization.go
  internal/ent/mixin/errors.go
  internal/ent/mixin/softdelete_mixin.go
Labels: mixin

add comments to soft delete mixin functions
  internal/ent/mixin/softdelete_mixin.go
Labels: mixin

whoops
  internal/ent/mixin/softdelete_mixin.go
Labels: mixin

fix get all orgs with no auth
  internal/api/ent.resolvers.go
  internal/api/models_test.go
  internal/api/organization_test.go
  internal/echox/echo_test.go
  internal/echox/test_tools.go
Labels: none

task file and gitignore
  .gitignore
  Taskfile.yaml
Labels: local-development

attempt at CLI login
  Taskfile.yaml
  cmd/cli/cmd/login.go
  cmd/cli/cmd/token.go
  cmd/cli/vars/vars.go
  go.mod
  go.sum
Labels: local-development

allow org creation when oidc=false
  internal/api/organization_test.go
  internal/ent/privacy/rule/rule.go
  internal/ent/schema/organization.go
Labels: dbschema

add request struct
  Taskfile.yaml
  cmd/cli/appdata/appdata.go
  cmd/cli/cmd/version.go
  cmd/cli/logger/logger.go
  cmd/cli/request/api.go
  cmd/cli/request/request.go
  cmd/cli/utils/utils.go
  cmd/cli/utils/version.go
  cmd/cli/vars/vars.go
  go.mod
  go.sum
Labels: local-development

allow org creation when oidc=false (#172)
  internal/api/organization_test.go
  internal/ent/privacy/rule/rule.go
  internal/ent/schema/organization.go
Labels: dbschema

not the best
  README.md
  Taskfile.yaml
  db/migrations/20231203030431_softdelete.sql
  db/migrations/20231203034621_softdelete.sql
  db/migrations/20231203045504_softdelete.sql
  db/migrations/20231203051239_sheesh.sql
  db/migrations/atlas.sum
  go.mod
  go.sum
  internal/api/gen_server.go
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_edge.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/organization.go
  internal/ent/generated/organization/organization.go
  internal/ent/generated/organization/where.go
  internal/ent/generated/organization_create.go
  internal/ent/generated/organization_query.go
  internal/ent/generated/organization_update.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/generated/user.go
  internal/ent/generated/user/user.go
  internal/ent/generated/user/where.go
  internal/ent/generated/user_create.go
  internal/ent/generated/user_update.go
  internal/ent/hooks/organization.go
  internal/ent/mixin/softdelete_mixin.go
  internal/ent/schema/organization.go
  internal/ent/schema/user.go
  schema.graphql
  schema/ent.graphql
Labels: mixin, dbschema, graphqlschema, migrations, local-development

stub out server struct for sarah
  go.mod
  go.sum
  internal/server/config/config.go
  internal/server/config/configprovider.go
  internal/server/config/configproviderrefresh.go
  internal/server/config/doc.go
  internal/server/handlers/doc.go
  internal/server/handlers/login.go
  internal/server/middleware/cors/cors.go
  internal/server/middleware/cors/doc.go
  internal/server/middleware/middleware.go
  internal/server/middleware/mime/doc.go
  internal/server/middleware/mime/mime.go
  internal/server/middleware/redirect/doc.go
  internal/server/middleware/redirect/redirect.go
  internal/server/router/doc.go
  internal/server/router/router.go
  internal/server/routes/api.go
  internal/server/routes/doc.go
  internal/server/serveropts/doc.go
  internal/server/serveropts/option.go
  internal/server/serveropts/server.go
Labels: none

WIP: oauth with clerk
  .gitignore
  Taskfile.yaml
  cmd/cli/cmd/login.go
  cmd/cli/vars/vars.go
  internal/auth/auth.go
  internal/auth/errors.go
Labels: local-development

add token exchange, which does not work
  cmd/cli/cmd/login.go
  internal/auth/sts.go
Labels: none

huh
  internal/tokens/validator.go
Labels: none

take another pass at some basic route adding
  go.mod
  go.sum
  internal/httpserve/config/config.go
  internal/httpserve/config/configprovider.go
  internal/httpserve/config/configproviderrefresh.go
  internal/httpserve/config/doc.go
  internal/httpserve/handlers/doc.go
  internal/httpserve/middleware/cors/cors.go
  internal/httpserve/middleware/cors/doc.go
  internal/httpserve/middleware/middleware.go
  internal/httpserve/middleware/mime/doc.go
  internal/httpserve/middleware/mime/mime.go
  internal/httpserve/middleware/redirect/doc.go
  internal/httpserve/middleware/redirect/redirect.go
  internal/httpserve/route/base.go
  internal/httpserve/route/doc.go
  internal/httpserve/server/server.go
  internal/httpserve/serveropts/doc.go
  internal/httpserve/serveropts/option.go
  internal/httpserve/serveropts/server.go
  internal/server/config/config.go
  internal/server/handlers/login.go
  internal/server/router/doc.go
  internal/server/router/router.go
  internal/server/routes/api.go
  internal/server/routes/doc.go
Labels: none

cli build and clean
  .gitignore
  Taskfile.yaml
Labels: local-development

run gqlgen
  go.sum
  internal/api/ent.resolvers.go
  internal/api/entitlement.resolvers.go
  internal/api/gen_server.go
  internal/api/group.resolvers.go
  internal/api/groupsetting.resolvers.go
  internal/api/integration.resolvers.go
  internal/api/oauthprovider.resolvers.go
  internal/api/organization.resolvers.go
  internal/api/organizationsetting.resolvers.go
  internal/api/personalaccesstoken.resolvers.go
  internal/api/refreshtoken.resolvers.go
  internal/api/session.resolvers.go
  internal/api/user.resolvers.go
  internal/api/usersetting.resolvers.go
Labels: none

add groups
  Taskfile.yaml
  cmd/cli/cmd/errors.go
  cmd/cli/cmd/group.go
  cmd/cli/cmd/group_create.go
  cmd/cli/cmd/group_delete.go
  cmd/cli/cmd/group_update.go
  internal/api/gen_server.go
  internal/api/group.resolvers.go
  internal/api/group_helpers.go
  internal/api/organization_helpers.go
  internal/datumclient/client.go
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/group.go
  internal/ent/generated/group/group.go
  internal/ent/generated/group/where.go
  internal/ent/generated/group_create.go
  internal/ent/generated/group_query.go
  internal/ent/generated/group_update.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/generated/user.go
  internal/ent/generated/user/user.go
  internal/ent/generated/user/where.go
  internal/ent/generated/user_create.go
  internal/ent/generated/user_update.go
  internal/ent/schema/group.go
  internal/ent/schema/user.go
  query/group.graphql
  query/organization.graphql
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, local-development

finish out everything needed for groups
  cmd/cli/cmd/group.go
  cmd/cli/cmd/group_create.go
  cmd/cli/cmd/group_delete.go
  cmd/cli/cmd/group_update.go
  internal/api/gen_server.go
  internal/datumclient/client.go
  internal/datumclient/models.go
  internal/ent/generated/gql_edge.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/group/group.go
  internal/ent/generated/group_create.go
  internal/ent/generated/group_update.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/openapi.json
  internal/ent/generated/runtime/runtime.go
  internal/ent/schema/group.go
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema

nolint orgsettings
  internal/api/organization_helpers.go
Labels: none

add task db:console
  Taskfile.yaml
Labels: local-development

add some comments, fix linters
  go.mod
  go.sum
  internal/httpserve/config/config.go
  internal/httpserve/config/configprovider.go
  internal/httpserve/config/configproviderrefresh.go
  internal/httpserve/handlers/doc.go
  internal/httpserve/middleware/cors/cors.go
  internal/httpserve/middleware/cors/errors.go
  internal/httpserve/middleware/middleware.go
  internal/httpserve/middleware/mime/mime.go
  internal/httpserve/middleware/redirect/redirect.go
  internal/httpserve/route/base.go
  internal/httpserve/server/doc.go
  internal/httpserve/server/server.go
Labels: none

.github/labeler.yml:

ci:
- .github/**
- .buildkite/**

mixin:
- internal/ent/mixin/*

privacy:
- internal/ent/privacy/*

dbschema:
- internal/ent/schema/*

graphqlschema:
- schema/**

migrations:
- .github/workflows/ci-atlas*.yaml
- db/**

local-development:
- scripts/**
- Taskfile.yaml
- docker/**
