Repository datumforge/datum, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, mixin, privacy, dbschema, graphqlschema, migrations, local-development

Update cmd/cli/cmd/errors.go
  cmd/cli/cmd/errors.go
Labels: none

Update cmd/cli/cmd/group.go
  cmd/cli/cmd/group.go
Labels: none

Update cmd/cli/cmd/group_create.go
  cmd/cli/cmd/group_create.go
Labels: none

Update cmd/cli/cmd/group_create.go
  cmd/cli/cmd/group_create.go
Labels: none

Update internal/api/organization_helpers.go
  internal/api/organization_helpers.go
Labels: none

Update internal/api/group_helpers.go
  internal/api/group_helpers.go
Labels: none

take a cut at access tokens
  cmd/cli/cmd/errors.go
  cmd/cli/cmd/pat.go
  cmd/cli/cmd/pat_create.go
  cmd/cli/cmd/pat_delete.go
  db/migrations/20231204213855_pat.sql
  db/migrations/atlas.sum
  go.sum
  internal/api/gen_server.go
  internal/api/personalaccesstoken.resolvers.go
  internal/datumclient/client.go
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_edge.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/personalaccesstoken.go
  internal/ent/generated/personalaccesstoken/personalaccesstoken.go
  internal/ent/generated/personalaccesstoken/where.go
  internal/ent/generated/personalaccesstoken_create.go
  internal/ent/generated/personalaccesstoken_query.go
  internal/ent/generated/personalaccesstoken_update.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/generated/user/user.go
  internal/ent/generated/user_query.go
  internal/ent/schema/personalaccesstoken.go
  internal/ent/schema/user.go
  query/personalaccesstoken.graphql
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations

Update cmd/cli/cmd/errors.go
  cmd/cli/cmd/errors.go
Labels: none

Update cmd/cli/cmd/pat.go
  cmd/cli/cmd/pat.go
Labels: none

Update cmd/cli/cmd/pat_create.go
  cmd/cli/cmd/pat_create.go
Labels: none

Update cmd/cli/cmd/pat_delete.go
  cmd/cli/cmd/pat_delete.go
Labels: none

Wip
  cmd/serve.go
  gqlgen.yml
  internal/graphapi/doc.go
  internal/graphapi/ent.resolvers.go
  internal/graphapi/entitlement.resolvers.go
  internal/graphapi/errors.go
  internal/graphapi/federation.go
  internal/graphapi/gen_models.go
  internal/graphapi/gen_server.go
  internal/graphapi/group.resolvers.go
  internal/graphapi/groupsetting.resolvers.go
  internal/graphapi/integration.resolvers.go
  internal/graphapi/models_test.go
  internal/graphapi/oauthprovider.resolvers.go
  internal/graphapi/organization.resolvers.go
  internal/graphapi/organization_helpers.go
  internal/graphapi/organization_test.go
  internal/graphapi/organizationsetting.resolvers.go
  internal/graphapi/personalaccesstoken.resolvers.go
  internal/graphapi/refreshtoken.resolvers.go
  internal/graphapi/resolver.go
  internal/graphapi/session.resolvers.go
  internal/graphapi/tools_test.go
  internal/graphapi/user.resolvers.go
  internal/graphapi/user_helpers.go
  internal/graphapi/user_test.go
  internal/graphapi/usersetting.resolvers.go
  internal/httpserve/config/config.go
  internal/httpserve/config/defaults.go
  internal/httpserve/config/flags.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/readiness.go
  internal/httpserve/server/server.go
Labels: none

rename api package to graphapi
  cmd/serve.go
  gen_schema.go
  gqlgen.yml
  internal/api/doc.go
  internal/graphapi/doc.go
  internal/graphapi/ent.resolvers.go
  internal/graphapi/entitlement.resolvers.go
  internal/graphapi/errors.go
  internal/graphapi/federation.go
  internal/graphapi/gen_models.go
  internal/graphapi/gen_server.go
  internal/graphapi/group.resolvers.go
  internal/graphapi/group_helpers.go
  internal/graphapi/groupsetting.resolvers.go
  internal/graphapi/integration.resolvers.go
  internal/graphapi/models_test.go
  internal/graphapi/oauthprovider.resolvers.go
  internal/graphapi/organization.resolvers.go
  internal/graphapi/organization_helpers.go
  internal/graphapi/organization_test.go
  internal/graphapi/organizationsetting.resolvers.go
  internal/graphapi/personalaccesstoken.resolvers.go
  internal/graphapi/refreshtoken.resolvers.go
  internal/graphapi/resolver.go
  internal/graphapi/session.resolvers.go
  internal/graphapi/tools_test.go
  internal/graphapi/user.resolvers.go
  internal/graphapi/user_helpers.go
  internal/graphapi/user_test.go
  internal/graphapi/usersetting.resolvers.go
Labels: none

the server comes up, with the new structure, lots of todos + fix auth server (echo context)
  cmd/serve.go
  gqlgen.yml
  internal/api/doc.go
  internal/api/ent.resolvers.go
  internal/api/entitlement.resolvers.go
  internal/api/errors.go
  internal/api/federation.go
  internal/api/gen_models.go
  internal/api/gen_server.go
  internal/api/group.resolvers.go
  internal/api/groupsetting.resolvers.go
  internal/api/integration.resolvers.go
  internal/api/models_test.go
  internal/api/oauthprovider.resolvers.go
  internal/api/organization.resolvers.go
  internal/api/organization_helpers.go
  internal/api/organization_test.go
  internal/api/organizationsetting.resolvers.go
  internal/api/personalaccesstoken.resolvers.go
  internal/api/refreshtoken.resolvers.go
  internal/api/resolver.go
  internal/api/session.resolvers.go
  internal/api/tools_test.go
  internal/api/user.resolvers.go
  internal/api/user_helpers.go
  internal/api/user_test.go
  internal/api/usersetting.resolvers.go
  internal/auth/doc.go
  internal/auth/flags.go
  internal/entdb/flags.go
  internal/fga/flags.go
  internal/httpserve/config/config.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/liveness.go
  internal/httpserve/handlers/readiness.go
  internal/httpserve/server/server.go
Labels: none

move functions to their packages
  cmd/serve.go
  internal/auth/middelware.go
  internal/httpserve/server/errors.go
  internal/httpserve/server/validate.go
Labels: none

spelling is hard
  internal/auth/middleware.go
Labels: none

goodbye echo/v4
  cmd/serve.go
  go.mod
  go.sum
  internal/api/resolver.go
  internal/auth/middleware.go
  internal/echox/checks.go
  internal/echox/config.go
  internal/echox/echo.go
  internal/echox/echo_test.go
  internal/echox/server.go
  internal/echox/test_tools.go
  internal/httpserve/config/config.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/liveness.go
  internal/httpserve/middleware/cors/cors.go
  internal/httpserve/middleware/mime/mime.go
  internal/httpserve/middleware/redirect/redirect.go
  internal/httpserve/route/base.go
  internal/httpserve/server/server.go
Labels: none

move most things out of echox
  internal/auth/echo.go
  internal/auth/echo_test.go
  internal/auth/errors.go
  internal/echox/echo.go
  internal/echox/errors.go
  internal/ent/hooks/tuples.go
  internal/ent/interceptors/organization.go
  internal/ent/mixin/audit_mixin.go
  internal/ent/mixin/softdelete_mixin.go
  internal/ent/privacy/rule/rule.go
Labels: mixin

closer
  cmd/serve.go
  internal/httpserve/config/config.go
  internal/httpserve/handlers/doc.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/readiness.go
  internal/httpserve/middleware/middleware.go
  internal/httpserve/route/base.go
  internal/httpserve/route/login.go
  internal/httpserve/route/routes.go
  internal/httpserve/server/server.go
Labels: none

add echo middleware
  internal/httpserve/server/server.go
Labels: none

use refereh config provivder
  cmd/serve.go
  internal/httpserve/config/configprovider.go
  internal/httpserve/config/configproviderrefresh.go
  internal/httpserve/config/flags.go
  internal/httpserve/server/server.go
  internal/httpserve/serveropts/option.go
  internal/httpserve/serveropts/server.go
Labels: none

cleanup
  internal/httpserve/server/server.go
  internal/httpserve/serveropts/doc.go
  internal/httpserve/serveropts/option.go
  internal/httpserve/serveropts/server.go
Labels: none

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file: .github/**
  - any-glob-to-any-file: .buildkite/**

mixin:
- changed-files:
  - any-glob-to-any-file: internal/ent/mixin/*

privacy:
- changed-files:
  - any-glob-to-any-file: internal/ent/privacy/*

dbschema:
- changed-files:
  - any-glob-to-any-file: internal/ent/schema/*

graphqlschema:
- changed-files:
  - any-glob-to-any-file: schema/**

migrations:
- changed-files:
  - any-glob-to-any-file: db/**

local-development:
- changed-files:
  - any-glob-to-any-file: scripts/**
  - any-glob-to-any-file: Taskfile.yaml
  - any-glob-to-any-file: docker/**
