Repository datumforge/datum, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, mixin, privacy, dbschema, graphqlschema, migrations, local-development

add atlas.hcl, schema.hcl
  .github/workflows/cd-turso.yml
  atlas.hcl
  schema.hcl
Labels: ci

bump golangci versoin
  .buildkite/pipeline.yaml
Labels: ci

appease the linter
  .golangci.yaml
  internal/ent/mixin/basepolicymixin.go
  internal/ent/privacy/viewer/viewer.go
  internal/ent/schema/errors.go
  internal/ent/schema/group.go
  internal/ent/schema/group_setting.go
  internal/ent/schema/integration.go
  internal/ent/schema/membership.go
  internal/ent/schema/organization.go
  internal/ent/schema/session.go
  internal/ent/schema/user.go
  internal/entclean/main.go
Labels: mixin, dbschema

update basemixin policy
  internal/ent/mixin/basepolicymixin.go
Labels: mixin

address PR feedback
  .golangci.yaml
  db/migrations/20231029202743_userGroups.sql
  db/migrations/atlas.sum
Labels: migrations

Add echo middleware
  cmd/serve.go
  docker/docker-compose.yml
  internal/echox/echo.go
  internal/echox/errors.go
Labels: local-development

cleanup, go mod
  cmd/serve.go
  go.mod
  go.sum
Labels: none

secret from config
  cmd/serve.go
  docker/docker-compose.yml
Labels: local-development

move additional param to taskfile
  Taskfile.yaml
Labels: local-development

align docker-compose
  docker/docker-compose-fga.yml
  docker/docker-compose.yml
Labels: local-development

cleanup of mods, link
  README.md
  go.mod
  go.sum
Labels: none

add support for UUID type, change created_by and updated_by to UUID
  gen_schema.go
  gqlgen.yml
  internal/ent/mixin/audit_mixin.go
  schema.graphql
  schema/scalers.graphql
Labels: mixin, graphqlschema

audit should set uuid, not int
  internal/ent/mixin/audit_mixin.go
Labels: mixin

move client creation to library
  cmd/serve.go
  internal/entdb/client.go
  internal/entdb/multidriver.go
Labels: none

add multiwrite driver to write to mulitple sqlites
  .gitignore
  cmd/migrate.go
  cmd/serve.go
  internal/entdb/multidriver.go
Labels: none

remove flags unrelated to this PR
  cmd/serve.go
Labels: none

other defaults unrelated to this pr
  cmd/serve.go
Labels: none

default to single db
  cmd/serve.go
Labels: none

fix single db write
  cmd/serve.go
  internal/entdb/client.go
Labels: none

generate datumclient
  Taskfile.yaml
  go.mod
  go.sum
  gqlgenc.yml
  internal/datumclient/client.go
  internal/datumclient/models.go
  query/.gitkeep
  query/query.graphql
Labels: local-development

update taskfile
  Taskfile.yaml
Labels: local-development

adds pagination, sorting
  gqlgen.yml
  internal/api/ent.resolvers.go
  internal/api/gen_server.go
  internal/datumclient/client.go
  internal/datumclient/models.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_pagination.go
  internal/ent/generated/internal/schema.go
  internal/ent/schema/group.go
  internal/ent/schema/group_setting.go
  internal/ent/schema/integration.go
  internal/ent/schema/membership.go
  internal/ent/schema/organization.go
  internal/ent/schema/session.go
  internal/ent/schema/user.go
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema

remove memberships and create org heirarchy
  go.mod
  go.sum
  internal/ent/schema/group.go
  internal/ent/schema/integration.go
  internal/ent/schema/organization.go
  internal/ent/schema/user.go
Labels: dbschema

Update internal/ent/schema/organization.go
  internal/ent/schema/organization.go
Labels: dbschema

blow away migrations; re-init schema
  Taskfile.yaml
  db/create_migrations.go
  db/migrations/20231023200817_init.sql
  db/migrations/20231026212057_groups.sql
  db/migrations/20231027151419_globaluniqueID.sql
  db/migrations/20231028235826_undoTenant.sql
  db/migrations/20231029202743_userGroups.sql
  db/migrations/20231029210421_audit_mixin_uuid.sql
  db/migrations/20231031203348_removeMembership.sql
  db/migrations/20231031210908_init.sql
  db/migrations/atlas.sum
  schema.hcl
Labels: migrations, local-development

Update internal/ent/schema/integration.go
  internal/ent/schema/integration.go
Labels: dbschema

Update internal/ent/schema/organization.go
  internal/ent/schema/organization.go
Labels: dbschema

Upgrade to golang-jwt/jwt/v5 from v4
  go.mod
  go.sum
  internal/echox/echo.go
Labels: none

go mod tidy
  go.sum
Labels: none

fix sqllite sequencing problem
  Taskfile.yaml
  db/create_migrations.go
  db/migrations/20231031221758_init.sql
  db/migrations/atlas.sum
  internal/api/gen_server.go
  internal/datumclient/models.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/organization/organization.go
  internal/ent/generated/organization_create.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/schema/organization.go
  schema.graphql
  schema.hcl
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations, local-development

add templates directory
  internal/ent/entc.go
  internal/ent/templates/.gitkeep
Labels: none

Add new id based on nanoid
  internal/nanox/errors.go
  internal/nanox/nanox.go
Labels: none

make the linter happy
  go.mod
  go.sum
  internal/nanox/errors.go
  internal/nanox/nanox.go
Labels: none

pipeline
  .github/workflows/gosec.yml
Labels: ci

yaml not yml lol
  .github/workflows/gosec.yml
Labels: ci

add version and timeout flags
  .github/workflows/gosec.yml
Labels: ci

use latest
  .github/workflows/gosec.yml
Labels: ci

uuid cleanup
  internal/api/gen_server.go
  schema/scalers.graphql
Labels: graphqlschema

remove import
  internal/ent/entc.go
Labels: none

simple is better
  internal/ent/mixin/idmixin.go
  internal/nanox/nanox.go
Labels: mixin

.github/labeler.yml:

ci:
- .github/**
- .buildkite/**

mixin:
- internal/ent/mixin/*

privacy:
- internal/ent/privacy/*

dbschema:
- internal/ent/schema/*

graphqlschema:
- schema/**

migrations:
- db/**

local-development:
- scripts/**
- Taskfile.yaml
- docker/**
