Repository datumforge/datum, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, mixin, privacy, dbschema, graphqlschema, migrations, local-development

.github/labeler.yml:

ci:
- .github/**
- .buildkite/**

mixin:
- internal/ent/mixin/*

privacy:
- internal/ent/privacy/*

dbschema:
- internal/ent/schema/*

graphqlschema:
- schema/**

migrations:
- db/**

local-development:
- scripts/**
- Taskfile.yaml
- docker/**

remove added ogent
  internal/ent/entc.go
Labels: none

cleanup, remove Unique on id
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/mixin/idmixin.go
Labels: mixin

tls config
  .golangci.yaml
  cmd/serve.go
Labels: none

WIP: echo library expansion
  cmd/errors.go
  cmd/serve.go
  internal/echox/config.go
  internal/echox/server.go
Labels: none

linter
  cmd/serve.go
  internal/echox/config.go
  internal/echox/server.go
Labels: none

add gitignore
  .gitignore
Labels: none

auto cert stuff, this doesn't work on localhost
  cmd/serve.go
  internal/echox/config.go
Labels: none

cleannup
  cmd/errors.go
  cmd/serve.go
  internal/echox/config.go
  internal/echox/server.go
Labels: none

pass through file names from params
  cmd/serve.go
  internal/echox/config.go
Labels: none

Remove gosec github actions
  internal/echox/server.go
Labels: none

this shouldn't check before setting the defaults
  internal/echox/config.go
Labels: none

add todo
  internal/echox/server.go
Labels: none

cleanup
  internal/echox/config.go
Labels: none

change default host for cert
  cmd/serve.go
Labels: none

add secrets keeper
  go.mod
  go.sum
  internal/ent/entc.go
  internal/ent/generated/client.go
Labels: none

update golang versions
  .buildkite/pipeline.yaml
  .github/workflows/gosec.yml
Labels: ci

actual image version
  .buildkite/pipeline.yaml
Labels: ci

Upgrade images, set GOTOOLCHAIN=auto
  .buildkite/pipeline.yaml
  go.mod
  go.sum
Labels: ci

add a couple organization queries
  internal/datumclient/client.go
  query/organization.graphql
Labels: none

add more organization queries and mutations
  internal/datumclient/client.go
  query/organization.graphql
Labels: none

add entx + json
  db/migrations/20231108183243_addRefreshToken.sql
  db/migrations/atlas.sum
  gen_schema.go
  gqlgen.yml
  gqlgenc.yml
  internal/api/gen_models.go
  internal/api/gen_server.go
  internal/datumclient/models.go
  internal/ent/entc.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/ogent/oas_json_gen.go
  internal/ent/generated/ogent/oas_schemas_gen.go
  internal/ent/generated/ogent/ogent.go
  internal/ent/generated/ogent/responses.go
  internal/ent/generated/openapi.json
  internal/ent/generated/refreshtoken.go
  internal/ent/generated/refreshtoken/refreshtoken.go
  internal/ent/generated/refreshtoken/where.go
  internal/ent/generated/refreshtoken_create.go
  internal/ent/generated/refreshtoken_update.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/schema/refreshtoken.go
  internal/entx/doc.go
  internal/entx/generator.go
  internal/entx/gqlhooks.go
  internal/entx/json.go
  schema.graphql
  schema/ent.graphql
  schema/refreshtoken.graphql
  schema/scalars.graphql
Labels: dbschema, graphqlschema, migrations

silly linter
  internal/ent/schema/refreshtoken.go
Labels: dbschema

revert fieldJSON to Text
  db/migrations/20231108221739_refreshToken.sql
  db/migrations/atlas.sum
  go.mod
  go.sum
  internal/api/gen_server.go
  internal/datumclient/models.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/ogent/oas_json_gen.go
  internal/ent/generated/ogent/oas_schemas_gen.go
  internal/ent/generated/ogent/ogent.go
  internal/ent/generated/ogent/responses.go
  internal/ent/generated/openapi.json
  internal/ent/generated/refreshtoken.go
  internal/ent/generated/refreshtoken/refreshtoken.go
  internal/ent/generated/refreshtoken/where.go
  internal/ent/generated/refreshtoken_create.go
  internal/ent/generated/refreshtoken_update.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/schema/refreshtoken.go
  schema.graphql
  schema/ent.graphql
  schema/scalars.graphql
Labels: dbschema, graphqlschema, migrations

change field type to text
  internal/ent/schema/refreshtoken.go
Labels: dbschema

add subscription
  go.sum
  internal/api/ent.resolvers.go
  internal/api/gen_server.go
  internal/datumclient/client.go
  internal/ent/generated/client.go
  internal/ent/generated/ent.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_node.go
  internal/ent/generated/gql_pagination.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/hook/hook.go
  internal/ent/generated/intercept/intercept.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/internal/schemaconfig.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/predicate/predicate.go
  internal/ent/generated/privacy/privacy.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/generated/subscription.go
  internal/ent/generated/subscription/subscription.go
  internal/ent/generated/subscription/where.go
  internal/ent/generated/subscription_create.go
  internal/ent/generated/subscription_delete.go
  internal/ent/generated/subscription_query.go
  internal/ent/generated/subscription_update.go
  internal/ent/generated/tx.go
  internal/ent/schema/subscription.go
  schema/ent.graphql
  schema/subscription.graphql
Labels: dbschema, graphqlschema

still encountering failure
  internal/api/ent.resolvers.go
  internal/api/gen_server.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_node.go
  internal/ent/generated/gql_pagination.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/schema/subscription.go
  schema/ent.graphql
Labels: dbschema, graphqlschema

step 1
  internal/ent/schema/subscription.go
Labels: dbschema

tacos for dinner
  db/migrations/20231109200643_taco.sql
  db/migrations/atlas.sum
  go.sum
  internal/api/ent.resolvers.go
  internal/api/gen_models.go
  internal/api/gen_server.go
  internal/api/taco.resolvers.go
  internal/datumclient/client.go
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/ent.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_node.go
  internal/ent/generated/gql_pagination.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/hook/hook.go
  internal/ent/generated/intercept/intercept.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/internal/schemaconfig.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/predicate/predicate.go
  internal/ent/generated/privacy/privacy.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/generated/taco.go
  internal/ent/generated/taco/taco.go
  internal/ent/generated/taco/where.go
  internal/ent/generated/taco_create.go
  internal/ent/generated/taco_delete.go
  internal/ent/generated/taco_query.go
  internal/ent/generated/taco_update.go
  internal/ent/generated/tx.go
  internal/ent/schema/taco.go
  schema.graphql
  schema/ent.graphql
  schema/taco.graphql
Labels: dbschema, graphqlschema, migrations

update to entitlements
  db/migrations/20231109210643_entitlements.sql
  db/migrations/atlas.sum
  internal/api/ent.resolvers.go
  internal/api/gen_server.go
  internal/ent/generated/client.go
  internal/ent/generated/ent.go
  internal/ent/generated/entitlement.go
  internal/ent/generated/entitlement/entitlement.go
  internal/ent/generated/entitlement/where.go
  internal/ent/generated/entitlement_create.go
  internal/ent/generated/entitlement_delete.go
  internal/ent/generated/entitlement_query.go
  internal/ent/generated/entitlement_update.go
  internal/ent/generated/entql.go
  internal/ent/generated/hook/hook.go
  internal/ent/generated/intercept/intercept.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/internal/schemaconfig.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/predicate/predicate.go
  internal/ent/generated/privacy/privacy.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/generated/subscription/where.go
  internal/ent/generated/subscription_create.go
  internal/ent/generated/subscription_delete.go
  internal/ent/generated/subscription_query.go
  internal/ent/generated/subscription_update.go
  internal/ent/generated/tx.go
  internal/ent/schema/entitlement.go
  schema/entitlement.graphql
  schema/subscription.graphql
Labels: dbschema, graphqlschema, migrations

Update internal/ent/schema/entitlement.go
  internal/ent/schema/entitlement.go
Labels: dbschema

Update internal/ent/schema/entitlement.go
  internal/ent/schema/entitlement.go
Labels: dbschema

Update internal/ent/schema/entitlement.go
  internal/ent/schema/entitlement.go
Labels: dbschema

add mixin + annotations
  db/migrations/20231109213638_entitlementAnnotations.sql
  db/migrations/atlas.sum
  internal/api/ent.resolvers.go
  internal/api/entitlement.resolvers.go
  internal/api/gen_models.go
  internal/api/gen_server.go
  internal/api/group.resolvers.go
  internal/datumclient/client.go
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/entitlement.go
  internal/ent/generated/entitlement/entitlement.go
  internal/ent/generated/entitlement/where.go
  internal/ent/generated/entitlement_create.go
  internal/ent/generated/entitlement_query.go
  internal/ent/generated/entitlement_update.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_node.go
  internal/ent/generated/gql_pagination.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/schema/entitlement.go
  schema.graphql
  schema/ent.graphql
  schema/entitlement.graphql
Labels: dbschema, graphqlschema, migrations

wip
  internal/api/organization_test.go
  internal/test_utils/db_setup.go
Labels: none

add oauth provider
  db/migrations/20231109232217_oauthprovider.sql
  db/migrations/atlas.sum
  internal/api/ent.resolvers.go
  internal/api/gen_models.go
  internal/api/gen_server.go
  internal/api/oauthprovider.resolvers.go
  internal/datumclient/client.go
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/ent.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_node.go
  internal/ent/generated/gql_pagination.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/hook/hook.go
  internal/ent/generated/intercept/intercept.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/internal/schemaconfig.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/oauthprovider.go
  internal/ent/generated/oauthprovider/oauthprovider.go
  internal/ent/generated/oauthprovider/where.go
  internal/ent/generated/oauthprovider_create.go
  internal/ent/generated/oauthprovider_delete.go
  internal/ent/generated/oauthprovider_query.go
  internal/ent/generated/oauthprovider_update.go
  internal/ent/generated/openapi.json
  internal/ent/generated/predicate/predicate.go
  internal/ent/generated/privacy/privacy.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/generated/tx.go
  internal/ent/schema/oauthprovider.go
  schema.graphql
  schema/ent.graphql
  schema/oauthprovider.graphql
Labels: dbschema, graphqlschema, migrations

add organization resolver CRUD tests
  Taskfile.yaml
  go.mod
  go.sum
  internal/api/models_test.go
  internal/api/organization_test.go
  internal/api/test.db
  internal/api/tools_test.go
  internal/test_utils/db_setup.go
Labels: local-development

some cleanup
  internal/api/organization_test.go
  internal/api/tools_test.go
Labels: none

remove accidentally committed file
  internal/api/test.db
Labels: none

just ignore all .db files
  .gitignore
Labels: none

first cut of user settings
  internal/ent/schema/user.go
  internal/ent/schema/user_settings.go
Labels: dbschema
