Repository datumforge/datum, pull requests merged in 2023-11, with the labels that each got.

#49 Gosec workflow
  .github/workflows/gosec.yml
Labels: ci

#61 update golang versions
  .buildkite/pipeline.yaml
  .github/workflows/gosec.yml
Labels: ci

#63 Upgrade images, set GOTOOLCHAIN=auto
  .buildkite/pipeline.yaml
  go.mod
  go.sum
Labels: ci

#64 add refresh token
  db/migrations/20231108183243_addRefreshToken.sql
  db/migrations/20231108221739_refreshToken.sql
  db/migrations/atlas.sum
  gen_schema.go
  gqlgen.yml
  gqlgenc.yml
  internal/api/gen_server.go
  internal/datumclient/models.go
  internal/ent/entc.go
  internal/ent/generated/client.go
  internal/ent/generated/ent.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_node.go
  internal/ent/generated/gql_pagination.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/hook/hook.go
  internal/ent/generated/intercept/intercept.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/internal/schemaconfig.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/ogent/oas_client_gen.go
  internal/ent/generated/ogent/oas_handlers_gen.go
  internal/ent/generated/ogent/oas_interfaces_gen.go
  internal/ent/generated/ogent/oas_json_gen.go
  internal/ent/generated/ogent/oas_parameters_gen.go
  internal/ent/generated/ogent/oas_request_decoders_gen.go
  internal/ent/generated/ogent/oas_request_encoders_gen.go
  internal/ent/generated/ogent/oas_response_decoders_gen.go
  internal/ent/generated/ogent/oas_response_encoders_gen.go
  internal/ent/generated/ogent/oas_router_gen.go
  internal/ent/generated/ogent/oas_schemas_gen.go
  internal/ent/generated/ogent/oas_server_gen.go
  internal/ent/generated/ogent/oas_unimplemented_gen.go
  internal/ent/generated/ogent/oas_validators_gen.go
  internal/ent/generated/ogent/ogent.go
  internal/ent/generated/ogent/responses.go
  internal/ent/generated/openapi.json
  internal/ent/generated/predicate/predicate.go
  internal/ent/generated/privacy/privacy.go
  internal/ent/generated/refreshtoken.go
  internal/ent/generated/refreshtoken/refreshtoken.go
  internal/ent/generated/refreshtoken/where.go
  internal/ent/generated/refreshtoken_create.go
  internal/ent/generated/refreshtoken_delete.go
  internal/ent/generated/refreshtoken_query.go
  internal/ent/generated/refreshtoken_update.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/generated/tx.go
  internal/ent/schema/refreshtoken.go
  internal/entx/doc.go
  internal/entx/generator.go
  internal/entx/gqlhooks.go
  internal/entx/json.go
  schema.graphql
  schema/ent.graphql
  schema/refreshtoken.graphql
Labels: dbschema, graphqlschema, migrations

#68 remove ogent, update scopes to strings array
  db/migrations/20231109003347_json.sql
  db/migrations/atlas.sum
  go.mod
  go.sum
  internal/api/gen_server.go
  internal/datumclient/models.go
  internal/ent/entc.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/ogent/oas_cfg_gen.go
  internal/ent/generated/ogent/oas_client_gen.go
  internal/ent/generated/ogent/oas_defaults_gen.go
  internal/ent/generated/ogent/oas_handlers_gen.go
  internal/ent/generated/ogent/oas_interfaces_gen.go
  internal/ent/generated/ogent/oas_json_gen.go
  internal/ent/generated/ogent/oas_middleware_gen.go
  internal/ent/generated/ogent/oas_parameters_gen.go
  internal/ent/generated/ogent/oas_request_decoders_gen.go
  internal/ent/generated/ogent/oas_request_encoders_gen.go
  internal/ent/generated/ogent/oas_response_decoders_gen.go
  internal/ent/generated/ogent/oas_response_encoders_gen.go
  internal/ent/generated/ogent/oas_router_gen.go
  internal/ent/generated/ogent/oas_schemas_gen.go
  internal/ent/generated/ogent/oas_server_gen.go
  internal/ent/generated/ogent/oas_unimplemented_gen.go
  internal/ent/generated/ogent/oas_validators_gen.go
  internal/ent/generated/ogent/ogent.go
  internal/ent/generated/ogent/responses.go
  internal/ent/generated/openapi.json
  internal/ent/generated/refreshtoken.go
  internal/ent/generated/refreshtoken/refreshtoken.go
  internal/ent/generated/refreshtoken/where.go
  internal/ent/generated/refreshtoken_create.go
  internal/ent/generated/refreshtoken_update.go
  internal/ent/generated/schema-viz.html
  internal/ent/schema/refreshtoken.go
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations

#70 organization setting schema
  db/migrations/20231109044731_organizationSettings.sql
  db/migrations/atlas.sum
  gqlgen.yml
  gqlgenc.yml
  internal/api/ent.resolvers.go
  internal/api/gen_server.go
  internal/datumclient/client.go
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/ent.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_node.go
  internal/ent/generated/gql_pagination.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/hook/hook.go
  internal/ent/generated/intercept/intercept.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/internal/schemaconfig.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/organizationsettings.go
  internal/ent/generated/organizationsettings/organizationsettings.go
  internal/ent/generated/organizationsettings/where.go
  internal/ent/generated/organizationsettings_create.go
  internal/ent/generated/organizationsettings_delete.go
  internal/ent/generated/organizationsettings_query.go
  internal/ent/generated/organizationsettings_update.go
  internal/ent/generated/predicate/predicate.go
  internal/ent/generated/privacy/privacy.go
  internal/ent/generated/refreshtoken.go
  internal/ent/generated/refreshtoken/refreshtoken.go
  internal/ent/generated/refreshtoken/where.go
  internal/ent/generated/refreshtoken_create.go
  internal/ent/generated/refreshtoken_update.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/generated/tx.go
  internal/ent/schema/organization_settings.go
  internal/ent/schema/refreshtoken.go
  schema.graphql
  schema/ent.graphql
  schema/organization_settings.graphql
Labels: dbschema, graphqlschema, migrations

#71 add entitlements
  db/migrations/20231109210643_entitlements.sql
  db/migrations/20231109213638_entitlementAnnotations.sql
  db/migrations/atlas.sum
  go.sum
  internal/api/ent.resolvers.go
  internal/api/entitlement.resolvers.go
  internal/api/gen_models.go
  internal/api/gen_server.go
  internal/api/group.resolvers.go
  internal/datumclient/client.go
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/ent.go
  internal/ent/generated/entitlement.go
  internal/ent/generated/entitlement/entitlement.go
  internal/ent/generated/entitlement/where.go
  internal/ent/generated/entitlement_create.go
  internal/ent/generated/entitlement_delete.go
  internal/ent/generated/entitlement_query.go
  internal/ent/generated/entitlement_update.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_node.go
  internal/ent/generated/gql_pagination.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/hook/hook.go
  internal/ent/generated/intercept/intercept.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/internal/schemaconfig.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/predicate/predicate.go
  internal/ent/generated/privacy/privacy.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/generated/tx.go
  internal/ent/schema/entitlement.go
  schema.graphql
  schema/ent.graphql
  schema/entitlement.graphql
Labels: dbschema, graphqlschema, migrations

#74 add pat
  db/migrations/20231109215956_personalaccesstoken.sql
  db/migrations/atlas.sum
  internal/api/ent.resolvers.go
  internal/api/gen_models.go
  internal/api/gen_server.go
  internal/api/personalaccesstoken.resolvers.go
  internal/datumclient/client.go
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/ent.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_edge.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_node.go
  internal/ent/generated/gql_pagination.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/hook/hook.go
  internal/ent/generated/intercept/intercept.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/internal/schemaconfig.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/personalaccesstoken.go
  internal/ent/generated/personalaccesstoken/personalaccesstoken.go
  internal/ent/generated/personalaccesstoken/where.go
  internal/ent/generated/personalaccesstoken_create.go
  internal/ent/generated/personalaccesstoken_delete.go
  internal/ent/generated/personalaccesstoken_query.go
  internal/ent/generated/personalaccesstoken_update.go
  internal/ent/generated/predicate/predicate.go
  internal/ent/generated/privacy/privacy.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/generated/tx.go
  internal/ent/generated/user.go
  internal/ent/generated/user/user.go
  internal/ent/generated/user/where.go
  internal/ent/generated/user_create.go
  internal/ent/generated/user_query.go
  internal/ent/generated/user_update.go
  internal/ent/schema/personalaccesstoken.go
  internal/ent/schema/user.go
  schema.graphql
  schema/ent.graphql
  schema/personalaccesstoken.graphql
Labels: dbschema, graphqlschema, migrations

#75 add oauth provider
  db/migrations/20231109232217_oauthprovider.sql
  db/migrations/atlas.sum
  internal/api/ent.resolvers.go
  internal/api/gen_models.go
  internal/api/gen_server.go
  internal/api/oauthprovider.resolvers.go
  internal/datumclient/client.go
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/ent.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_node.go
  internal/ent/generated/gql_pagination.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/hook/hook.go
  internal/ent/generated/intercept/intercept.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/internal/schemaconfig.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/oauthprovider.go
  internal/ent/generated/oauthprovider/oauthprovider.go
  internal/ent/generated/oauthprovider/where.go
  internal/ent/generated/oauthprovider_create.go
  internal/ent/generated/oauthprovider_delete.go
  internal/ent/generated/oauthprovider_query.go
  internal/ent/generated/oauthprovider_update.go
  internal/ent/generated/openapi.json
  internal/ent/generated/predicate/predicate.go
  internal/ent/generated/privacy/privacy.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/generated/tx.go
  internal/ent/schema/oauthprovider.go
  schema.graphql
  schema/ent.graphql
  schema/oauthprovider.graphql
Labels: dbschema, graphqlschema, migrations

#76 Add test utils and organization crud resolver tests
  .gitignore
  Taskfile.yaml
  go.mod
  go.sum
  internal/api/models_test.go
  internal/api/organization_test.go
  internal/api/tools_test.go
Labels: local-development

#83 add additional edges and create migrations
  db/migrations/20231114175055_addEdges.sql
  db/migrations/20231114181225_oauthprovidertoorg.sql
  db/migrations/atlas.sum
  internal/api/gen_server.go
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/entitlement.go
  internal/ent/generated/entitlement/entitlement.go
  internal/ent/generated/entitlement/where.go
  internal/ent/generated/entitlement_create.go
  internal/ent/generated/entitlement_query.go
  internal/ent/generated/entitlement_update.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_edge.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/oauthprovider.go
  internal/ent/generated/oauthprovider/oauthprovider.go
  internal/ent/generated/oauthprovider/where.go
  internal/ent/generated/oauthprovider_create.go
  internal/ent/generated/oauthprovider_query.go
  internal/ent/generated/oauthprovider_update.go
  internal/ent/generated/openapi.json
  internal/ent/generated/organization.go
  internal/ent/generated/organization/organization.go
  internal/ent/generated/organization/where.go
  internal/ent/generated/organization_create.go
  internal/ent/generated/organization_query.go
  internal/ent/generated/organization_update.go
  internal/ent/generated/personalaccesstoken/personalaccesstoken.go
  internal/ent/generated/personalaccesstoken_update.go
  internal/ent/generated/refreshtoken.go
  internal/ent/generated/refreshtoken/refreshtoken.go
  internal/ent/generated/refreshtoken/where.go
  internal/ent/generated/refreshtoken_create.go
  internal/ent/generated/refreshtoken_query.go
  internal/ent/generated/refreshtoken_update.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/generated/user.go
  internal/ent/generated/user/user.go
  internal/ent/generated/user/where.go
  internal/ent/generated/user_create.go
  internal/ent/generated/user_query.go
  internal/ent/generated/user_update.go
  internal/ent/schema/entitlement.go
  internal/ent/schema/oauthprovider.go
  internal/ent/schema/organization.go
  internal/ent/schema/personalaccesstoken.go
  internal/ent/schema/refreshtoken.go
  internal/ent/schema/user.go
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations

#84 Fix Docker-Compose for FGA
  docker/docker-compose-fga.yml
Labels: local-development

#85 update task file; minor docs
  README.md
  Taskfile.yaml
  cli/Taskfile.yml
Labels: local-development

#86 add descriptions to taskfiles
  Taskfile.yaml
  cli/Taskfile.yml
Labels: local-development

#90 version and goreleaser
  .github/workflows/releaser.yml
  .goreleaser.yaml
  internal/constants/doc.go
  internal/constants/version.go
Labels: ci

#91 Adds a basic FGA model with organization, groups, subscriptions, and features
  .buildkite/pipeline.yaml
  Taskfile.yaml
  fga/model/datum.fga
  fga/tests/tests.yaml
Labels: ci, local-development

#95 fix naming of some queries and mutations
  Taskfile.yaml
  internal/api/gen_models.go
  internal/api/gen_server.go
  internal/api/user_settings.resolvers.go
  internal/datumclient/client.go
  internal/datumclient/models.go
  schema.graphql
  schema/oauthprovider.graphql
  schema/personalaccesstoken.graphql
  schema/user_settings.graphql
Labels: graphqlschema, local-development

#97 add user sub and oauth fields
  db/migrations/20231121013750_addusersub.sql
  db/migrations/atlas.sum
  internal/api/gen_server.go
  internal/datumclient/models.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/generated/user.go
  internal/ent/generated/user/user.go
  internal/ent/generated/user/where.go
  internal/ent/generated/user_create.go
  internal/ent/generated/user_update.go
  internal/ent/schema/user.go
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations

#93 Adding authz with openfga
  Taskfile.yaml
  cmd/cli/cmd/errors.go
  cmd/cli/cmd/org_create.go
  cmd/cli/cmd/org_delete.go
  cmd/cli/cmd/org_get.go
  cmd/cli/cmd/org_update.go
  cmd/serve.go
  docker/Dockerfile
  docker/docker-compose.yml
  generate.go
  go.mod
  go.sum
  internal/api/ent.resolvers.go
  internal/api/errors.go
  internal/api/models_test.go
  internal/api/organization.resolvers.go
  internal/api/organization_test.go
  internal/api/resolver.go
  internal/api/tools_test.go
  internal/datumclient/auth.go
  internal/datumclient/client.go
  internal/datumclient/doc.go
  internal/echox/echo.go
  internal/ent/entc.go
  internal/ent/generated/client.go
  internal/ent/generated/group/group.go
  internal/ent/generated/group_query.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/organization/organization.go
  internal/ent/generated/organization_query.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/user/user.go
  internal/ent/generated/user_query.go
  internal/ent/mixin/basepolicymixin.go
  internal/ent/privacy/rule/rule.go
  internal/ent/privacy/viewer/viewer.go
  internal/ent/schema/errors.go
  internal/ent/schema/organization.go
  internal/ent/schema/usersetting.go
  internal/entdb/client.go
  internal/fga/checks.go
  internal/fga/checks_test.go
  internal/fga/errors.go
  internal/fga/fga.go
  internal/fga/mocks/client.go
  internal/fga/test_tools.go
  internal/fga/tuples.go
  internal/fga/tuples_test.go
  query/organization.graphql
  query/query.graphql
Labels: mixin, dbschema, local-development

#133 Update auditmixin to set createdby and updatedby
  go.mod
  go.sum
  internal/api/gen_server.go
  internal/datumclient/models.go
  internal/ent/generated/entitlement_update.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/group_update.go
  internal/ent/generated/groupsetting_update.go
  internal/ent/generated/integration_update.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/oauthprovider_update.go
  internal/ent/generated/openapi.json
  internal/ent/generated/organization_update.go
  internal/ent/generated/organizationsetting_update.go
  internal/ent/generated/personalaccesstoken_update.go
  internal/ent/generated/session_update.go
  internal/ent/generated/user_update.go
  internal/ent/generated/usersetting_update.go
  internal/ent/mixin/audit_mixin.go
  schema.graphql
  schema/ent.graphql
Labels: mixin, graphqlschema

#134 add mockgen
  Taskfile.yaml
Labels: local-development

#135 move hooks to its own package
  internal/ent/hooks/doc.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/tuples.go
  internal/ent/schema/errors.go
  internal/ent/schema/organization.go
Labels: dbschema

#139 fix spelling typo on org settings schema
  internal/api/gen_server.go
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_edge.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/organizationsetting.go
  internal/ent/generated/organizationsetting/organizationsetting.go
  internal/ent/generated/organizationsetting/where.go
  internal/ent/generated/organizationsetting_create.go
  internal/ent/generated/organizationsetting_query.go
  internal/ent/generated/organizationsetting_update.go
  internal/ent/schema/organizationsetting.go
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema

#146 Sets up basic user creation, personal orgs, and cli commands
  cmd/cli/cmd/errors.go
  cmd/cli/cmd/org.go
  cmd/cli/cmd/user.go
  cmd/cli/cmd/user_create.go
  cmd/cli/cmd/user_delete.go
  cmd/cli/cmd/user_get.go
  cmd/cli/cmd/user_update.go
  db/migrations/20231128021906_user.sql
  db/migrations/atlas.sum
  go.mod
  go.sum
  internal/api/models_test.go
  internal/api/organization.resolvers.go
  internal/api/organization_helpers.go
  internal/api/organization_test.go
  internal/api/tools_test.go
  internal/api/user.resolvers.go
  internal/api/user_helpers.go
  internal/api/user_test.go
  internal/datumclient/client.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/user/user.go
  internal/ent/generated/user_query.go
  internal/ent/schema/user.go
  query/user.graphql
Labels: dbschema, migrations

#158 Audit mixin cleanup
  internal/ent/mixin/audit_mixin.go
Labels: mixin

#157 Add initial soft delete mixin
  db/migrations/20231130080026_add-soft-delete.sql
  db/migrations/atlas.sum
  internal/api/gen_server.go
  internal/api/organization_test.go
  internal/api/tools_test.go
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/organization.go
  internal/ent/generated/organization/organization.go
  internal/ent/generated/organization/where.go
  internal/ent/generated/organization_create.go
  internal/ent/generated/organization_update.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/mixin/softdelete_mixin.go
  internal/ent/schema/organization.go
  schema.graphql
  schema/ent.graphql
Labels: mixin, dbschema, graphqlschema, migrations, run-ci

#165 do not push the atlas migration on task:pr
  Taskfile.yaml
Labels: local-development
