Repository datumforge/datum, pull requests merged in 2023-12, with the labels that each got.

#154 Authz checks for org hierarchy - parent
  internal/api/gen_server.go
  internal/api/models_test.go
  internal/api/organization.resolvers.go
  internal/api/organization_test.go
  internal/api/tools_test.go
  internal/datumclient/client.go
  internal/datumclient/models.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/organization.go
  internal/ent/generated/organization/organization.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/tuples.go
  internal/ent/interceptors/errors.go
  internal/ent/interceptors/organization.go
  internal/ent/privacy/rule/rule.go
  internal/ent/privacy/viewer/viewer.go
  internal/ent/schema/organization.go
  internal/entdb/client.go
  internal/fga/checks.go
  internal/fga/checks_test.go
  internal/fga/list.go
  internal/fga/list_test.go
  internal/fga/tuples.go
  query/organization.graphql
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema

#172 allow org creation when oidc=false
  internal/api/organization_test.go
  internal/ent/privacy/rule/rule.go
  internal/ent/schema/organization.go
Labels: dbschema

#183 fix labler config for v5 action
  .github/labeler.yml
Labels: ci

#179 Groups
  Taskfile.yaml
  cmd/cli/cmd/errors.go
  cmd/cli/cmd/group.go
  cmd/cli/cmd/group_create.go
  cmd/cli/cmd/group_delete.go
  cmd/cli/cmd/group_update.go
  internal/api/gen_server.go
  internal/api/group.resolvers.go
  internal/api/group_helpers.go
  internal/api/organization_helpers.go
  internal/datumclient/client.go
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_edge.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/group.go
  internal/ent/generated/group/group.go
  internal/ent/generated/group/where.go
  internal/ent/generated/group_create.go
  internal/ent/generated/group_query.go
  internal/ent/generated/group_update.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/generated/user.go
  internal/ent/generated/user/user.go
  internal/ent/generated/user/where.go
  internal/ent/generated/user_create.go
  internal/ent/generated/user_update.go
  internal/ent/schema/group.go
  internal/ent/schema/user.go
  query/group.graphql
  query/organization.graphql
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, local-development

#184 take a cut at access tokens
  cmd/cli/cmd/errors.go
  cmd/cli/cmd/pat.go
  cmd/cli/cmd/pat_create.go
  cmd/cli/cmd/pat_delete.go
  db/migrations/20231204213855_pat.sql
  db/migrations/atlas.sum
  go.sum
  internal/api/gen_server.go
  internal/api/personalaccesstoken.resolvers.go
  internal/datumclient/client.go
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_edge.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/personalaccesstoken.go
  internal/ent/generated/personalaccesstoken/personalaccesstoken.go
  internal/ent/generated/personalaccesstoken/where.go
  internal/ent/generated/personalaccesstoken_create.go
  internal/ent/generated/personalaccesstoken_query.go
  internal/ent/generated/personalaccesstoken_update.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/generated/user/user.go
  internal/ent/generated/user_query.go
  internal/ent/schema/personalaccesstoken.go
  internal/ent/schema/user.go
  query/personalaccesstoken.graphql
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations

#175 Revamp server setup with new httpserve packages, echo v5
  cmd/serve.go
  go.mod
  go.sum
  internal/auth/doc.go
  internal/auth/echo.go
  internal/auth/echo_test.go
  internal/auth/errors.go
  internal/auth/flags.go
  internal/auth/middleware.go
  internal/echox/checks.go
  internal/echox/config.go
  internal/echox/doc.go
  internal/echox/server.go
  internal/ent/hooks/tuples.go
  internal/ent/interceptors/organization.go
  internal/ent/mixin/audit_mixin.go
  internal/ent/mixin/softdelete_mixin.go
  internal/ent/privacy/rule/rule.go
  internal/entdb/client.go
  internal/entdb/flags.go
  internal/fga/fga.go
  internal/fga/flags.go
  internal/graphapi/organization.resolvers.go
  internal/graphapi/organization_test.go
  internal/graphapi/resolver.go
  internal/graphapi/tools_test.go
  internal/graphapi/user_test.go
  internal/httpserve/config/config.go
  internal/httpserve/config/configprovider.go
  internal/httpserve/config/configproviderrefresh.go
  internal/httpserve/config/defaults.go
  internal/httpserve/config/doc.go
  internal/httpserve/config/flags.go
  internal/httpserve/handlers/doc.go
  internal/httpserve/handlers/readiness.go
  internal/httpserve/middleware/cors/cors.go
  internal/httpserve/middleware/cors/doc.go
  internal/httpserve/middleware/cors/errors.go
  internal/httpserve/middleware/echocontext/context.go
  internal/httpserve/middleware/echocontext/doc.go
  internal/httpserve/middleware/echocontext/errors.go
  internal/httpserve/middleware/echocontext/test_tools.go
  internal/httpserve/middleware/middleware.go
  internal/httpserve/middleware/mime/doc.go
  internal/httpserve/middleware/mime/mime.go
  internal/httpserve/middleware/redirect/doc.go
  internal/httpserve/middleware/redirect/redirect.go
  internal/httpserve/route/base.go
  internal/httpserve/route/doc.go
  internal/httpserve/route/login.go
  internal/httpserve/route/routes.go
  internal/httpserve/server/doc.go
  internal/httpserve/server/errors.go
  internal/httpserve/server/server.go
  internal/httpserve/server/validate.go
  internal/httpserve/serveropts/doc.go
  internal/httpserve/serveropts/option.go
  internal/httpserve/serveropts/server.go
Labels: mixin

#195 rename `oidc` flag to `auth`
  Taskfile.yaml
  go.sum
  internal/auth/flags.go
  internal/httpserve/serveropts/option.go
Labels: local-development

#202 user hook, avatar, pass
  cmd/cli/cmd/user_create.go
  db/migrations/20231208194325_userpasswords.sql
  db/migrations/atlas.sum
  go.mod
  go.sum
  internal/datumclient/client.go
  internal/datumclient/models.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/schema-viz.html
  internal/ent/generated/user.go
  internal/ent/generated/user/user.go
  internal/ent/generated/user/where.go
  internal/ent/generated/user_create.go
  internal/ent/generated/user_update.go
  internal/ent/schema/user.go
  internal/graphapi/gen_server.go
  internal/utils/gravatar/doc.go
  internal/utils/gravatar/gravatar.go
  internal/utils/gravatar/gravatar_test.go
  query/user.graphql
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations

#209 run migrate even if linter failed on main
  .github/workflows/ci-atlas.yaml
Labels: ci

#204 Add auth middleware
  .gitignore
  Taskfile.yaml
  cmd/serve.go
  go.mod
  go.sum
  internal/auth/doc.go
  internal/auth/errors.go
  internal/auth/flags.go
  internal/auth/middleware.go
  internal/ent/hooks/tuples.go
  internal/ent/interceptors/organization.go
  internal/ent/mixin/audit_mixin.go
  internal/ent/mixin/softdelete_mixin.go
  internal/ent/privacy/rule/rule.go
  internal/graphapi/organization_test.go
  internal/graphapi/tools_test.go
  internal/graphapi/user_test.go
  internal/httpserve/config/config.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/readiness.go
  internal/httpserve/handlers/wellknown.go
  internal/httpserve/middleware/auth/auth.go
  internal/httpserve/middleware/auth/auth_test.go
  internal/httpserve/middleware/auth/authoptions.go
  internal/httpserve/middleware/auth/authoptions_test.go
  internal/httpserve/middleware/auth/doc.go
  internal/httpserve/middleware/auth/errors.go
  internal/httpserve/middleware/auth/test_tools.go
  internal/httpserve/middleware/auth/user.go
  internal/httpserve/middleware/auth/user_test.go
  internal/httpserve/middleware/authtest/authservertest.go
  internal/httpserve/middleware/authtest/authtest_test.go
  internal/httpserve/route/base.go
  internal/httpserve/route/routes.go
  internal/httpserve/route/wellknown.go
  internal/httpserve/server/server.go
  internal/httpserve/serveropts/option.go
  internal/tokens/claims.go
  internal/tokens/claims_test.go
  internal/tokens/config.go
  internal/tokens/flags.go
  internal/tokens/tokenmanager.go
  internal/tokens/tokens_test.go
Labels: mixin, local-development

#214 Switch ids to ULIDS instead of nano ids
  fga/tests/tests.yaml
  go.mod
  go.sum
  internal/ent/generated/internal/schema.go
  internal/ent/mixin/idmixin.go
  internal/fga/checks_test.go
  internal/fga/list_test.go
  internal/fga/tuples_test.go
Labels: mixin

#225 Adds login handler
  Taskfile.yaml
  go.sum
  internal/ent/schema/user.go
  internal/graphapi/models_test.go
  internal/graphapi/user.resolvers.go
  internal/graphapi/user_test.go
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/middleware/auth/errors.go
  internal/httpserve/route/login.go
  internal/httpserve/route/routes.go
  internal/httpserve/server/server.go
  internal/httpserve/serveropts/option.go
  internal/passwd/errors.go
  internal/tokens/config.go
  internal/tokens/flags.go
  internal/utils/responses/errors.go
Labels: dbschema, local-development

#169 add gosec to buildkite, add go build-cli, move to groups
  .buildkite/pipeline.yaml
  .github/workflows/gosec.yml
  README.md
  Taskfile.yaml
Labels: ci, local-development

#238 add fga dep to run-dev-auth
  Taskfile.yaml
Labels: local-development

#239 auto create org settings on org creation
  Taskfile.yaml
  db/migrations/20231214192957_org_settings.sql
  db/migrations/atlas.sum
  go.mod
  go.sum
  internal/datumclient/graphclient.go
  internal/datumclient/models.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/organizationsetting/organizationsetting.go
  internal/ent/generated/organizationsetting/where.go
  internal/ent/generated/organizationsetting_create.go
  internal/ent/generated/organizationsetting_update.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/schema/organizationsetting.go
  internal/graphapi/gen_server.go
  internal/graphapi/models_test.go
  internal/graphapi/organization_helpers.go
  internal/graphapi/organization_test.go
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations, local-development

#245 Hooks for display names to be set on orgs, users, groups
  Taskfile.yaml
  db/migrations/20231214205613_display_name.sql
  db/migrations/atlas.sum
  go.mod
  internal/ent/generated/group/group.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/organization/organization.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/group.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/user.go
  internal/ent/schema/group.go
  internal/ent/schema/organization.go
  internal/ent/schema/user.go
  internal/graphapi/organization_helpers.go
  internal/graphapi/organization_test.go
  internal/graphapi/user_test.go
Labels: dbschema, migrations, local-development

#246 move helpers to hooks
  cmd/cli/cmd/user/user_create.go
  internal/ent/generated/internal/schema.go
  internal/ent/hooks/group.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/user.go
  internal/graphapi/group.resolvers.go
  internal/graphapi/group_helpers.go
  internal/graphapi/organization.resolvers.go
  internal/graphapi/organization_helpers.go
  internal/graphapi/user.resolvers.go
  internal/graphapi/user_helpers.go
  internal/httpserve/handlers/login_test.go
Labels: local-development

#250 Adds the ability to get groups
  cmd/cli/cmd/group/group_get.go
  db/migrations/20231215234305_group.sql
  db/migrations/atlas.sum
  internal/datumclient/graphclient.go
  internal/datumclient/models.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/group/group.go
  internal/ent/generated/group/where.go
  internal/ent/generated/group_create.go
  internal/ent/generated/group_update.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/runtime/runtime.go
  internal/ent/schema/group.go
  internal/graphapi/ent.resolvers.go
  internal/graphapi/gen_server.go
  internal/graphapi/group_test.go
  internal/graphapi/models_test.go
  query/group.graphql
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations

#252 run forks gosec upload on pull
  .buildkite/pipeline.yaml
Labels: ci

#253 email confirmed true; return user id on creation
  db/migrations/20231217014813_emailverified.sql
  db/migrations/atlas.sum
  internal/datumclient/graphclient.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/schema/usersetting.go
  query/user.graphql
Labels: dbschema, migrations

#251 Add initial edgecleanup helper functions
  go.mod
  go.sum
  internal/ent/generated/edge_cleanup.go
  internal/ent/generated/internal/schema.go
  internal/ent/schema/organization.go
  internal/ent/templates/edge_cleanup.tmpl
  internal/entx/annotation.go
  internal/graphapi/errors.go
  internal/graphapi/organization.resolvers.go
  internal/graphapi/organization_test.go
Labels: dbschema, run-ci

#256 missing schema changes from cascade delete changes
  db/migrations/20231218035513_cascade_delete.sql
  db/migrations/atlas.sum
  go.mod
  go.sum
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
Labels: migrations

#255 fix infinite loop on child orgs
  internal/datumclient/graphclient.go
  internal/ent/generated/internal/schema.go
  internal/ent/interceptors/organization.go
  internal/ent/privacy/rule/rule.go
  internal/graphapi/organization_test.go
  query/organization.graphql
Labels: migrations

#266 Groupauthz
  cmd/cli/cmd/group/group_delete.go
  cmd/cli/cmd/group/group_get.go
  cmd/cli/cmd/group/group_update.go
  internal/datumclient/graphclient.go
  internal/ent/generated/edge_cleanup.go
  internal/ent/generated/group/group.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/group.go
  internal/ent/hooks/tuples.go
  internal/ent/privacy/rule/context.go
  internal/ent/privacy/rule/group.go
  internal/ent/privacy/rule/organization.go
  internal/ent/privacy/viewer/viewer.go
  internal/ent/schema/group.go
  internal/ent/templates/edge_cleanup.tmpl
  internal/fga/checks.go
  internal/fga/tuples.go
  internal/graphapi/ent.resolvers.go
  internal/graphapi/group.resolvers.go
  internal/graphapi/group_test.go
  internal/graphapi/groupsetting.resolvers.go
  internal/graphapi/organization_test.go
  query/group.graphql
  query/groupsetting.graphql
Labels: ci, dbschema, migrations

#273 add authz group tests
  internal/ent/generated/group/group.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/interceptors/group.go
  internal/ent/interceptors/organization.go
  internal/ent/privacy/rule/group.go
  internal/ent/privacy/rule/organization.go
  internal/ent/schema/group.go
  internal/graphapi/group_test.go
Labels: dbschema

#290 Codecov, CHANGELOG.md, release automation
  .github/codecov.yml
  .github/labeler.yml
  .github/release.yml
  CHANGELOG.md
Labels: ci

#289 remove base mixin
  internal/ent/generated/internal/schema.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/mixin/basepolicymixin.go
  internal/ent/schema/group.go
  internal/ent/schema/user.go
Labels: mixin, dbschema

#288 add secure, cachecontrol, middleware
  internal/httpserve/handlers/handlers.go
  internal/httpserve/middleware/cachecontrol/cache.go
  internal/httpserve/middleware/cachecontrol/doc.go
  internal/httpserve/middleware/debug/bodydump.go
  internal/httpserve/middleware/debug/colors.go
  internal/httpserve/middleware/debug/doc.go
  internal/httpserve/middleware/ratelimit/doc.go
  internal/httpserve/middleware/ratelimit/ratelimiter.go
  internal/httpserve/middleware/redirect/redirect.go
  internal/httpserve/middleware/secure/doc.go
  internal/httpserve/middleware/secure/secure.go
  internal/httpserve/route/base.go
  internal/httpserve/route/login.go
  internal/httpserve/route/refresh.go
  internal/httpserve/route/routes.go
  internal/httpserve/route/wellknown.go
  internal/httpserve/server/server.go
Labels: httpserve

#296 Add cascade deletes to user edges
  internal/ent/generated/edge_cleanup.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/schema/user.go
  internal/graphapi/models_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/user_test.go
Labels: dbschema, run-ci, graphapi

#298 missed schema change from PR 296
  db/migrations/20231222182654_user_settings.sql
  db/migrations/atlas.sum
Labels: migrations

#299 fix transaction tests by adding `Transactioner` to the graphql handler used in tests
  internal/graphapi/group_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/resolver.go
  internal/graphapi/tools_test.go
  internal/graphapi/user_test.go
Labels: graphapi

#301 update cyclic dep
  README.md
  Taskfile.yaml
Labels: local-development

#294 ability to identify personal orgs from a regular org
  db/migrations/20231222195328_personal_org.sql
  db/migrations/atlas.sum
  internal/datumclient/graphclient.go
  internal/datumclient/models.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/organization.go
  internal/ent/generated/organization/organization.go
  internal/ent/generated/organization/where.go
  internal/ent/generated/organization_create.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/user.go
  internal/ent/schema/organization.go
  internal/entdb/client.go
  internal/graphapi/gen_server.go
  internal/graphapi/organization_test.go
  internal/graphapi/tools_test.go
  internal/graphapi/user_test.go
  internal/httpserve/config/config.go
  internal/httpserve/serveropts/option.go
  query/organization.graphql
  query/user.graphql
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations, httpserve, graphapi, datumclient

#303 set version of base image
  .buildkite/pipeline.yaml
  go.mod
  go.sum
  internal/fga/mocks/client.go
Labels: ci, authorization

#304 add docker build and publish to bk pipeline
  .buildkite/pipeline.yaml
Labels: ci

#307 remove codecov config cuz codecov sucks
  .github/codecov.yml
Labels: ci

#308 do not allow personal orgs to have child orgs
  internal/ent/hooks/errors.go
  internal/ent/hooks/organization.go
  internal/graphapi/models_test.go
  internal/graphapi/organization.resolvers.go
  internal/graphapi/organization_test.go
Labels: graphapi

#310 create dev yaml config for auth'ed server
  Taskfile.yaml
  cmd/root.go
  config/.datum.dev.yml
  internal/httpserve/config/flags.go
  internal/httpserve/serveropts/option.go
  internal/tokens/flags.go
Labels: local-development, httpserve

#311 pass context for graceful shutdown
  cmd/serve.go
  config/.datum.dev.yml
  internal/httpserve/config/flags.go
  internal/httpserve/server/server.go
Labels: httpserve

#312 be more consistent with the logger, use sugared
  cmd/serve.go
  internal/httpserve/server/server.go
Labels: httpserve

#313 setup v1 routes, middleware for rest
  internal/datumclient/login.go
  internal/datumclient/refresh.go
  internal/httpserve/route/authenticate.go
  internal/httpserve/route/base.go
  internal/httpserve/route/forgotpass.go
  internal/httpserve/route/login.go
  internal/httpserve/route/refresh.go
  internal/httpserve/route/register.go
  internal/httpserve/route/resend.go
  internal/httpserve/route/resetpass.go
  internal/httpserve/route/routes.go
  internal/httpserve/route/verify.go
  internal/httpserve/route/wellknown.go
  internal/httpserve/server/server.go
Labels: httpserve, datumclient

#309 Add initial sonar scanning (codecoverage and gosec)
  .buildkite/pipeline.yaml
  .gitignore
  sonar-project.properties
Labels: ci, run-ci

#317 create email verification tokens schemas and generate
  db/migrations/20231227222444_emailverificationtokens.sql
  db/migrations/atlas.sum
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/edge_cleanup.go
  internal/ent/generated/emailverificationtoken.go
  internal/ent/generated/emailverificationtoken/emailverificationtoken.go
  internal/ent/generated/emailverificationtoken/where.go
  internal/ent/generated/emailverificationtoken_create.go
  internal/ent/generated/emailverificationtoken_delete.go
  internal/ent/generated/emailverificationtoken_query.go
  internal/ent/generated/emailverificationtoken_update.go
  internal/ent/generated/ent.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/hook/hook.go
  internal/ent/generated/intercept/intercept.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/internal/schemaconfig.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/predicate/predicate.go
  internal/ent/generated/privacy/privacy.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/tx.go
  internal/ent/generated/user.go
  internal/ent/generated/user/user.go
  internal/ent/generated/user/where.go
  internal/ent/generated/user_create.go
  internal/ent/generated/user_query.go
  internal/ent/generated/user_update.go
  internal/ent/hooks/emailverificationtoken.go
  internal/ent/schema/emailverificationtoken.go
  internal/ent/schema/user.go
  internal/graphapi/gen_server.go
  schema.graphql
  schema/ent.graphql
  scripts/files_to_skip.txt
Labels: dbschema, graphqlschema, migrations, local-development, graphapi, datumclient

#321 Add register handler
  Taskfile.yaml
  cmd/cli/cmd/register/doc.go
  cmd/cli/cmd/register/register.go
  cmd/cli/main.go
  cmd/serve.go
  go.mod
  go.sum
  internal/datumclient/errors.go
  internal/datumclient/register.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/group.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/tuples.go
  internal/ent/hooks/user.go
  internal/httpserve/handlers/email.go
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/users.go
  internal/httpserve/route/register.go
  internal/httpserve/route/routes.go
  internal/httpserve/serveropts/option.go
  internal/utils/emails/client.go
  internal/utils/emails/config.go
  internal/utils/emails/config_test.go
  internal/utils/emails/contacts.go
  internal/utils/sendgrid/api.go
Labels: dbschema, graphqlschema, migrations, local-development, httpserve, graphapi, datumclient, cli

#325 Compose cleanup
  Taskfile.yaml
  docker/Dockerfile
  docker/docker-compose-fga.yml
  docker/docker-compose.yml
Labels: local-development, run-ci

#324 user last_seen updated on login
  Taskfile.yaml
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/login.go
Labels: local-development, httpserve

#328 rollback transaction on email failure too
  internal/httpserve/handlers/register.go
Labels: httpserve

#329 Split auth override into sep. compose file
  Taskfile.yaml
  docker/docker-compose-auth.yml
  docker/docker-compose-fga.yml
Labels: local-development, run-ci

#330 add verify handler, fixup email urls
  .gitignore
  Taskfile.yaml
  cmd/cli/cmd/login/login.go
  db/migrations/20231228154508_email_confirmed.sql
  db/migrations/atlas.sum
  internal/datumclient/login.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/schema/usersetting.go
  internal/httpserve/handlers/email.go
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/users.go
  internal/httpserve/handlers/verify_test.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/route/routes.go
  internal/httpserve/route/verify.go
Labels: dbschema, migrations, local-development, httpserve, datumclient, cli

#333 Marionettefollowup
  Taskfile.yaml
  cmd/serve.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/register.go
  internal/httpserve/serveropts/option.go
Labels: local-development, httpserve

#335 move marrionette email send to the right place, add to tests
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/register_test.go
  internal/httpserve/handlers/verify_test.go
  internal/httpserve/handlers/verifyemail.go
Labels: httpserve

#337 Run sonar PR on all PRs
  .buildkite/pipeline.yaml
Labels: ci

#338 Cleanup login tests, update responses in register handler
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/verifyemail.go
Labels: httpserve

#339 add entoas mutation
  internal/ent/entc.go
  internal/ent/generated/openapi.json
Labels: codegenerators

#340 add resend handler
  internal/httpserve/handlers/resend_test.go
  internal/httpserve/handlers/resendemail.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/route/resend.go
  internal/httpserve/route/routes.go
Labels: httpserve

#342 Forgot pass handler
  db/migrations/20231230043617_password_reset_token.sql
  db/migrations/atlas.sum
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/edge_cleanup.go
  internal/ent/generated/ent.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/hook/hook.go
  internal/ent/generated/intercept/intercept.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/internal/schemaconfig.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/passwordresettoken.go
  internal/ent/generated/passwordresettoken/passwordresettoken.go
  internal/ent/generated/passwordresettoken/where.go
  internal/ent/generated/passwordresettoken_create.go
  internal/ent/generated/passwordresettoken_delete.go
  internal/ent/generated/passwordresettoken_query.go
  internal/ent/generated/passwordresettoken_update.go
  internal/ent/generated/predicate/predicate.go
  internal/ent/generated/privacy/privacy.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/tx.go
  internal/ent/generated/user.go
  internal/ent/generated/user/user.go
  internal/ent/generated/user/where.go
  internal/ent/generated/user_create.go
  internal/ent/generated/user_query.go
  internal/ent/generated/user_update.go
  internal/ent/hooks/passwordresettoken.go
  internal/ent/schema/emailverificationtoken.go
  internal/ent/schema/passwordresettoken.go
  internal/ent/schema/user.go
  internal/graphapi/gen_server.go
  internal/httpserve/handlers/email.go
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/forgotpassword.go
  internal/httpserve/handlers/forgotpassword_test.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/refresh.go
  internal/httpserve/handlers/refresh_test.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/register_test.go
  internal/httpserve/handlers/resendemail.go
  internal/httpserve/handlers/users.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/route/forgotpass.go
  internal/httpserve/route/routes.go
  internal/tokens/urltokens.go
  schema.graphql
  schema/ent.graphql
  scripts/files_to_skip.txt
Labels: dbschema, graphqlschema, migrations, local-development, httpserve, graphapi, datumclient

#343 limit register, forgot-password, and resend endpoints
  internal/httpserve/middleware/ratelimit/ratelimiter.go
  internal/httpserve/route/forgotpass.go
  internal/httpserve/route/register.go
  internal/httpserve/route/resetpass.go
  internal/httpserve/route/routes.go
  internal/httpserve/route/verify.go
  internal/httpserve/server/server.go
Labels: httpserve

#344 add transaction middelware for rest endpoints
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/forgotpassword.go
  internal/httpserve/handlers/forgotpassword_test.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/refresh.go
  internal/httpserve/handlers/refresh_test.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/register_test.go
  internal/httpserve/handlers/resend_test.go
  internal/httpserve/handlers/resendemail.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/handlers/verify_test.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/middleware/transaction/doc.go
  internal/httpserve/middleware/transaction/transaction.go
  internal/httpserve/route/routes.go
Labels: httpserve

#347 fix cascade deletes, add tests for user setting cascade
  internal/datumclient/graphclient.go
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/edge_cleanup.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/personalaccesstoken.go
  internal/ent/generated/personalaccesstoken/personalaccesstoken.go
  internal/ent/generated/personalaccesstoken/where.go
  internal/ent/generated/personalaccesstoken_create.go
  internal/ent/generated/personalaccesstoken_update.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/schema/personalaccesstoken.go
  internal/ent/templates/edge_cleanup.tmpl
  internal/graphapi/gen_server.go
  internal/graphapi/user.resolvers.go
  internal/graphapi/user_test.go
  internal/graphapi/usersetting.resolvers.go
  query/usersetting.graphql
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, graphapi, datumclient, codegenerators

#350 Initial all-in-one image
  Taskfile.yaml
  docker/all-in-one/Dockerfile.all-in-one
  docker/all-in-one/README.md
  docker/all-in-one/docker_entrypoint.sh
Labels: local-development
