Repository datumforge/datum, pull requests merged in 2024-05, with the labels that each got.

#855 feat: add interceptor to org owned mixin
  internal/ent/generated/entitlement/entitlement.go
  internal/ent/generated/group/group.go
  internal/ent/generated/integration/integration.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/invite/invite.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/template/template.go
  internal/ent/hooks/invite_test.go
  internal/ent/schema/org_owned_mixin.go
  internal/graphapi/group_test.go
  internal/graphapi/groupmembers_test.go
  internal/graphapi/invite_test.go
  internal/graphapi/models_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/tools_test.go
  internal/graphapi/user_test.go
  internal/httpserve/handlers/invite_test.go
  internal/httpserve/handlers/register_test.go
  internal/httpserve/handlers/subscribe_test.go
  internal/httpserve/handlers/userinfo_test.go
  internal/httpserve/handlers/verifysubscribe_test.go
  pkg/auth/auth_test.go
  pkg/auth/test_tools.go
  pkg/auth/user_test.go
Labels: enhancement, dbschema, httpserve, graphapi, feature

#859 feat: Add error codes to error responses to better handle errors
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/oauth_register.go
  internal/httpserve/handlers/oauth_register_test.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/register_test.go
  internal/httpserve/handlers/webauthn.go
  pkg/rout/errors.go
Labels: enhancement, httpserve

#862 fix: org owned query for api tokens; feat: add user owned interceptor
  internal/ent/generated/client.go
  internal/ent/generated/emailverificationtoken/emailverificationtoken.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/passwordresettoken/passwordresettoken.go
  internal/ent/generated/personalaccesstoken/personalaccesstoken.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/webauthn/webauthn.go
  internal/ent/interceptors/mixin_intercetpor.go
  internal/ent/mixin/user_owned_policy_mixin.go
  internal/ent/privacy/rule/allow_viewer_owner.go
  internal/ent/schema/apitoken.go
  internal/ent/schema/emailverificationtoken.go
  internal/ent/schema/org_owned_mixin.go
  internal/ent/schema/passwordresettoken.go
  internal/ent/schema/personalaccesstoken.go
  internal/ent/schema/user_owned_mixin.go
Labels: bug, enhancement, mixin, dbschema

#863 Viewer checks cleanup, starting with organization level
  cmd/cli/cmd/switch/switch.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/organizationsetting/organizationsetting.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/interceptors/organizationsetting.go
  internal/ent/privacy/rule/organization.go
  internal/ent/schema/organizationsetting.go
  internal/graphapi/organization.resolvers.go
  internal/graphapi/organizationsetting.resolvers.go
  internal/graphapi/user_test.go
Labels: dbschema, graphapi, cli

#865 make the session keys in the example more obvious they should be changed by setting to the defaults
  config/config-aio.example.yaml
  config/config-dev.example.yaml
Labels: config

#867 remove extra fields from claims
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/refresh_test.go
  internal/httpserve/handlers/switch.go
  pkg/auth/test_tools.go
  pkg/middleware/authtest/authtest_test.go
  pkg/tokens/claims.go
  pkg/tokens/jwks_test.go
  pkg/tokens/tokenmanager.go
  pkg/tokens/tokens_test.go
Labels: httpserve

#879 fix labeler to work on features
  .github/labeler.yml
Labels: ci, feature

#880 fix default values for config map
  config/config.example.yaml
  config/config.go
  config/configmap.yaml
  go.mod
  jsonschema/envparse/parse.go
  jsonschema/schema_generator.go
Labels: bug, config

#885 remove some deps to speed up builds, cancel on failure early
  .buildkite/pipeline.yaml
Labels: ci

#884 feat: api tokens authorization
  fga/model/datum.fga
  fga/tests/tests.yaml
  go.mod
  go.sum
  internal/ent/hooks/group.go
  internal/ent/hooks/organization.go
  internal/ent/interceptors/group.go
  internal/ent/interceptors/organization.go
  internal/ent/interceptors/subscribers.go
  internal/ent/privacy/rule/group.go
  internal/ent/privacy/rule/organization.go
  pkg/auth/context.go
  pkg/middleware/auth/auth.go
Labels: enhancement, authorization

#890 add /favicon.ico for browsers
  internal/httpserve/route/assets/favicon.ico
  internal/httpserve/route/routes.go
  internal/httpserve/route/static.go
Labels: enhancement, httpserve

#902 feat: postgres goose migrations
  .github/CONTRIBUTING.md
  Taskfile.yaml
  config/config-dev.example.yaml
  db/Taskfile.yaml
  db/create_migrations.go
  db/migrate.go
  db/migrations-goose-postgres/20240511231022_init.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations-goose-sqlite/20240511231021_init.sql
  db/migrations-goose-sqlite/atlas.sum
  db/migrations-goose/20240507001241_subscriber.sql
  db/migrations-goose/20240509211705_optional_name.sql
  db/migrations-goose/20240510172711_owner.sql
  db/migrations-goose/atlas.sum
  db/migrations/20240506191305_init.sql
  db/migrations/20240507001241_subscriber.sql
  db/migrations/20240509211705_optional_name.sql
  db/migrations/20240510172711_owner.sql
  db/migrations/20240511231021_init.sql
  db/migrations/atlas.sum
  docker/Taskfile.yaml
  docker/docker-compose-fga.yml
  docker/docker-compose-kafka.yml
  docker/docker-compose-pg.yml
  docker/pg-init-scripts/init.sql
  internal/entdb/client.go
Labels: enhancement, ci, migrations, local-development, config

#904 switch to postgres for atlas push
  .buildkite/pipeline.yaml
  db/Taskfile.yaml
Labels: bug, ci, migrations

#905 remove create new model from static config
  config/config-aio.example.yaml
Labels: config

#907 Updates org members to not require `owner_id` as input
  cmd/cli/cmd/orgmembers/org_members_create.go
  cmd/cli/cmd/orgmembers/org_members_delete.go
  cmd/cli/cmd/orgmembers/org_members_get.go
  cmd/cli/cmd/orgmembers/org_members_update.go
  cmd/cli/cmd/user/user_get.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/orgmembership/orgmembership.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/orgmembers.go
  internal/ent/hooks/usersettings.go
  internal/ent/interceptors/orgmembers.go
  internal/ent/schema/orgmembership.go
  internal/graphapi/group_test.go
  internal/graphapi/models_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/orgmembers_test.go
  internal/graphapi/orgmembership.resolvers.go
  internal/graphapi/tools_test.go
  internal/graphapi/user_test.go
  internal/graphapi/usersetting_test.go
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/forgotpassword_test.go
  internal/httpserve/handlers/invite_test.go
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/oauth_login_handlers_test.go
  internal/httpserve/handlers/oauth_register_test.go
  internal/httpserve/handlers/refresh_test.go
  internal/httpserve/handlers/register_test.go
  internal/httpserve/handlers/resend_test.go
  internal/httpserve/handlers/resetpassword_test.go
  internal/httpserve/handlers/switch.go
  internal/httpserve/handlers/userinfo_test.go
  internal/httpserve/handlers/verify_test.go
  internal/httpserve/handlers/verifysubscribe_test.go
  pkg/middleware/echocontext/test_tools.go
Labels: enhancement, dbschema, httpserve, graphapi, cli

#908 add org and user name to auth context
  internal/ent/hooks/orgmembers.go
  pkg/auth/context.go
  pkg/middleware/auth/auth.go
Labels: enhancement

#910 update dev-url for all atlas steps to docker, remove skipped atlas apply
  .buildkite/pipeline.yaml
Labels: ci

#913 update default TEST_URL to postgres
  Taskfile.yaml
Labels: local-development

#912 clean up viewer context, use auth context always
  internal/ent/hooks/orgmembers.go
  internal/ent/interceptors/organization.go
  internal/ent/interceptors/user.go
  internal/ent/interceptors/user_test.go
  internal/ent/interceptors/usersetting.go
  internal/ent/mixin/user_owned_policy_mixin.go
  internal/ent/privacy/rule/allow_if_admin.go
  internal/ent/privacy/rule/allow_if_self.go
  internal/ent/privacy/rule/allow_mutation_after_owner_filter.go
  internal/ent/privacy/rule/context.go
  internal/ent/privacy/rule/deny_no_viewer.go
  internal/ent/privacy/viewer/doc.go
  internal/ent/privacy/viewer/viewer.go
  internal/ent/schema/emailverificationtoken.go
  internal/ent/schema/group.go
  internal/ent/schema/groupmembership.go
  internal/ent/schema/groupsetting.go
  internal/ent/schema/integration.go
  internal/ent/schema/invite.go
  internal/ent/schema/organization.go
  internal/ent/schema/organizationsetting.go
  internal/ent/schema/orgmembership.go
  internal/ent/schema/passwordresettoken.go
  internal/ent/schema/personalaccesstoken.go
  internal/ent/schema/user.go
  internal/ent/schema/usersetting.go
  internal/graphapi/apitoken.resolvers.go
  internal/graphapi/ent.resolvers.go
  internal/graphapi/group.resolvers.go
  internal/graphapi/groupmembers_test.go
  internal/graphapi/groupsetting.resolvers.go
  internal/graphapi/personalaccesstoken.resolvers.go
  internal/graphapi/tfasetting.resolvers.go
  internal/graphapi/user.resolvers.go
  internal/graphapi/user_test.go
  internal/graphapi/usersetting.resolvers.go
  internal/httpserve/handlers/forgotpassword.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/oauth_login.go
  internal/httpserve/handlers/oauth_register.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/resendemail.go
  internal/httpserve/handlers/resetpassword.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/handlers/webauthn.go
Labels: mixin, dbschema, httpserve, graphapi

#920 Feat: httpsling
  go.mod
  go.sum
  pkg/httpsling/README.md
  pkg/httpsling/auth.go
  pkg/httpsling/auth_test.go
  pkg/httpsling/client.go
  pkg/httpsling/client_test.go
  pkg/httpsling/doc.go
  pkg/httpsling/encoders.go
  pkg/httpsling/encoders_test.go
  pkg/httpsling/errors.go
  pkg/httpsling/examples/main.go
  pkg/httpsling/form.go
  pkg/httpsling/form_test.go
  pkg/httpsling/headers.go
  pkg/httpsling/logger.go
  pkg/httpsling/logger_test.go
  pkg/httpsling/middleware.go
  pkg/httpsling/middleware_test.go
  pkg/httpsling/proxy.go
  pkg/httpsling/proxy_test.go
  pkg/httpsling/request.go
  pkg/httpsling/request_test.go
  pkg/httpsling/response.go
  pkg/httpsling/response_test.go
  pkg/httpsling/retry.go
  pkg/tokens/exchange.go
Labels: enhancement

#924 add postgres + openfga dashboards
  docker/configs/grafana/dashboards/openfga.json
  docker/configs/grafana/dashboards/postgres.json
  docker/configs/grafana/provisioning/datasources.yml
  docker/configs/prometheus/prometheus.yml
  docker/docker-compose-fga.yml
  docker/docker-compose-pg.yml
  docker/docker-compose-prometheus.yml
Labels: enhancement, local-development

#925 refactor + simplify org filter
  internal/ent/interceptors/organization.go
  internal/graphapi/apitoken_test.go
  internal/graphapi/group_test.go
  internal/graphapi/invite_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/orgmembers_test.go
  internal/graphapi/personalaccesstoken_test.go
  internal/graphapi/subscriber_test.go
  internal/graphapi/tfasetting_test.go
  internal/graphapi/user_test.go
  internal/graphapi/usersetting_test.go
Labels: graphapi

#930 feat: group and group member get table output
  cmd/cli/cmd/events/event_get.go
  cmd/cli/cmd/group/group_get.go
  cmd/cli/cmd/groupmembers/group_members_get.go
  cmd/cli/cmd/integration/integration_get.go
  cmd/cli/cmd/org/org_get.go
  cmd/cli/cmd/orgmembers/org_members_get.go
  cmd/cli/cmd/root.go
  cmd/cli/cmd/subscriber/subscriber_get.go
  cmd/cli/cmd/switch/switch.go
  cmd/cli/cmd/template/template_get.go
  cmd/cli/cmd/user/user_get.go
  cmd/cli/cmd/usersetting/usersetting_get.go
  cmd/cli/cmd/webhook/webhook_get.go
  pkg/datumclient/graphclient.go
  query/group.graphql
Labels: enhancement, datumclient, cli

#933 add api token tuple to FGA on org creation
  internal/ent/hooks/organization.go
Labels: bug

#939 bug fix: filter organization queries for API tokens based on the authorized org
  internal/ent/interceptors/organization.go
Labels: bug

#937 feat: switch to `ory/dockertest` over testcontainers
  .buildkite/pipeline.yaml
  Taskfile.yaml
  go.mod
  go.sum
  internal/ent/generated/internal/schema.go
  internal/ent/generated/openapi.json
  internal/entdb/client.go
  internal/graphapi/models_test.go
  internal/graphapi/tools_test.go
  internal/httpserve/handlers/tools_test.go
  pkg/testutils/db.go
  pkg/utils/oas/specifications/openapi.json
Labels: enhancement, ci, local-development, httpserve, graphapi

#944 Update authorization interceptor to not require session
  cmd/cli/cmd/root.go
  internal/graphapi/tools_test.go
  pkg/datumclient/interceptor.go
Labels: enhancement, graphapi, cli

#948 do not set token.kid in aio config, use env vars for all token vars
  config/config-aio.example.yaml
Labels: config

#951 remove version from docker compose files
  docker/docker-compose-fga.yml
  docker/docker-compose-kafka.yml
  docker/docker-compose-pg.yml
  docker/docker-compose-prometheus.yml
  docker/docker-compose-redis.yml
  docker/docker-compose-storage.yml
  docker/docker-compose-tracing.yml
  docker/docker-compose.yml
Labels: local-development

#952 fix: secure session cookies via cli login
  cmd/cli/cmd/errors.go
  cmd/cli/cmd/login/login.go
  internal/httpserve/handlers/oauth_login.go
  pkg/datumclient/login.go
  pkg/datumclient/login_test.go
  pkg/datumclient/oauth_login.go
  pkg/providers/oauth2/login.go
Labels: httpserve, cli

#953 join the party fun; start a soiree pool instead of using channels
  internal/graphapi/errors.go
  internal/graphapi/search.go
  internal/graphapi/search.resolvers.go
Labels: enhancement, graphapi

#957 create a pool for resolvers to use, add tasks functions to pool
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap.yaml
  internal/graphapi/helpers.go
  internal/graphapi/resolver.go
  internal/graphapi/search.resolvers.go
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/datum.config.json
  pkg/events/soiree/metrics.go
  pkg/events/soiree/pool.go
Labels: httpserve, graphapi, config

#965 fix issues when creating invites with API token
  internal/ent/hooks/errors.go
  internal/ent/hooks/invite.go
Labels: bug

#964 feat: add bulk queries to client, pre-commit graph hook
  .pre-commit-config.yaml
  pkg/datumclient/graphclient.go
  query/entitlement.graphql
  query/event.graphql
  query/feature.graphql
  query/file.graphql
  query/group.graphql
  query/groupmembership.graphql
  query/groupsetting.graphql
  query/hush.graphql
  query/integration.graphql
  query/invite.graphql
  query/ohauthtootoken.graphql
  query/organization.graphql
  query/organizationsetting.graphql
  query/orgmembership.graphql
  query/personalaccesstoken.graphql
  query/search.graphql
  query/subscribers.graphql
  query/template.graphql
  query/tfasetting.graphql
  query/user.graphql
  query/usersetting.graphql
  query/webhook.graphql
Labels: enhancement, datumclient
