Repository datumforge/datum, pull requests merged in 2024-06, with the labels that each got.

#970 feat: add invite list option for client and cli
  cmd/cli/cmd/invite/invite_get.go
  pkg/datumclient/graphclient.go
  query/invite.graphql
Labels: enhancement, datumclient, cli

#978 Use dockertest containers for migrations instead of docker compose
  Taskfile.yaml
  db/Taskfile.yaml
  db/create_migrations.go
  pkg/testutils/db.go
Labels: migrations, local-development

#991 fix: put oauth/userinfo back to unversioned route
  internal/httpserve/route/oauth.go
Labels: bug, httpserve

#993 do not add the accept-encoding header
  pkg/datumclient/config.go
Labels: bug

#999 update taskfile and precommit configuration
  .buildkite/pipeline.yaml
  .gitignore
  .goreleaser.yaml
  .pre-commit-config.yaml
  Taskfile.yaml
  db/Taskfile.yaml
  docker/Dockerfile
  docker/envoy.yaml
  go.mod
  go.sum
  internal/ent/generated/auth_from_mutation.go
  tools.go
Labels: enhancement, ci, migrations, local-development

#998 fix: invite accept fix for org owner traverser
  internal/ent/privacy/rule/allow_if_token_valid.go
  internal/ent/schema/apitoken.go
  internal/ent/schema/invite.go
  internal/ent/schema/org_owned_mixin.go
  internal/ent/schema/personalaccesstoken.go
  internal/ent/schema/subscriber.go
  internal/httpserve/handlers/invite.go
  internal/httpserve/handlers/invite_test.go
  pkg/auth/context.go
Labels: bug, dbschema, httpserve

#1000 feat: return auth data when accepting invite
  internal/httpserve/handlers/auth.go
  internal/httpserve/handlers/invite.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/oauth_login.go
  internal/httpserve/handlers/oauth_register.go
  internal/httpserve/handlers/oauth_register_test.go
  internal/httpserve/handlers/refresh.go
  internal/httpserve/handlers/switch.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/handlers/webauthn.go
  pkg/httpsling/auth.go
  pkg/models/models.go
Labels: enhancement, httpserve

#1008 fix: Set headers, do not Add
  pkg/httpsling/request.go
Labels: bug

#1009 Use IDs over mapping ids in claims
  internal/httpserve/handlers/auth.go
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/refresh.go
  internal/httpserve/handlers/refresh_test.go
  internal/httpserve/handlers/switch.go
  pkg/middleware/auth/auth.go
Labels: httpserve

#1014 fix: propagate error back to middleware
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/eventpublisher.go
  internal/httpserve/handlers/forgotpassword.go
  internal/httpserve/handlers/invite.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/oauth_register.go
  internal/httpserve/handlers/refresh.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/resendemail.go
  internal/httpserve/handlers/resetpassword.go
  internal/httpserve/handlers/switch.go
  internal/httpserve/handlers/userinfo.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/handlers/verifysubscribe.go
  internal/httpserve/handlers/webauthn.go
Labels: bug, httpserve

#1018 lint: rename `goerr113` -> `err113` and `gomnd` to `mnd`
  .golangci.yaml
  cmd/cli/cmd/groupmembers/group_members_delete.go
  cmd/cli/cmd/groupmembers/group_members_update.go
  cmd/cli/cmd/orgmembers/org_members_delete.go
  cmd/cli/cmd/orgmembers/org_members_update.go
  internal/ent/enums/auth_provider.go
  internal/ent/enums/documenttype.go
  internal/ent/enums/invitestatus.go
  internal/ent/enums/join_policy.go
  internal/ent/enums/region.go
  internal/ent/enums/role.go
  internal/ent/enums/status.go
  internal/ent/enums/tier.go
  internal/ent/enums/visibility.go
  internal/ent/hooks/emailverificationtoken.go
  internal/ent/hooks/passwordresettoken.go
  internal/ent/hooks/personalaccesstoken.go
  internal/ent/hooks/subscriber.go
  internal/ent/hooks/user.go
  internal/graphapi/organization_test.go
  internal/graphapi/resolver.go
  internal/httpserve/handlers/forgotpassword.go
  internal/httpserve/handlers/refresh_test.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/resetpassword.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/handlers/verifysubscribe.go
  internal/httpserve/route/router.go
  internal/httpserve/serveropts/option.go
  pkg/auth/auth.go
  pkg/datumclient/client.go
  pkg/events/events.go
  pkg/events/soiree/event.go
  pkg/events/soiree/eventpool.go
  pkg/middleware/auth/authoptions.go
  pkg/middleware/authtest/authservertest.go
  pkg/middleware/cors/cors.go
  pkg/middleware/secure/secure.go
  pkg/passwd/dk.go
  pkg/passwd/strength.go
  pkg/providers/oauth2/login.go
  pkg/sessions/cookie.go
  pkg/testutils/db.go
  pkg/tokens/jwks.go
  pkg/tokens/tokenmanager.go
  pkg/utils/cli/rows/rows.go
  pkg/utils/emails/builders.go
  pkg/utils/emails/mock/mock.go
  pkg/utils/marionette/scheduler.go
  pkg/utils/pdf/invoice/bank.go
  pkg/utils/pdf/invoice/company.go
  pkg/utils/pdf/invoice/fonts.go
  pkg/utils/pdf/invoice/footer.go
  pkg/utils/pdf/invoice/header.go
  pkg/utils/pdf/invoice/invoice.go
  pkg/utils/pdf/invoice/items.go
  pkg/utils/pdf/invoice/signaturelines.go
  pkg/utils/sentry/logger.go
  pkg/utils/storage/fs/fs.go
  pkg/utils/storage/s3/s3.go
Labels: httpserve, graphapi, cli

#1017 cleanup cli error checking, return error in the client and not message
  cmd/cli/cmd/apitokens/apitoken_create.go
  cmd/cli/cmd/apitokens/apitoken_delete.go
  cmd/cli/cmd/apitokens/apitoken_get.go
  cmd/cli/cmd/apitokens/apitoken_update.go
  cmd/cli/cmd/events/event_create.go
  cmd/cli/cmd/events/event_get.go
  cmd/cli/cmd/group/group_create.go
  cmd/cli/cmd/group/group_delete.go
  cmd/cli/cmd/group/group_get.go
  cmd/cli/cmd/group/group_update.go
  cmd/cli/cmd/groupmembers/group_members_create.go
  cmd/cli/cmd/groupmembers/group_members_delete.go
  cmd/cli/cmd/groupmembers/group_members_get.go
  cmd/cli/cmd/groupmembers/group_members_update.go
  cmd/cli/cmd/groupsetting/groupsetting_get.go
  cmd/cli/cmd/groupsetting/groupsetting_update.go
  cmd/cli/cmd/integration/integration_create.go
  cmd/cli/cmd/integration/integration_get.go
  cmd/cli/cmd/invite/invite_accept.go
  cmd/cli/cmd/invite/invite_create.go
  cmd/cli/cmd/invite/invite_delete.go
  cmd/cli/cmd/invite/invite_get.go
  cmd/cli/cmd/login/login.go
  cmd/cli/cmd/org/org_create.go
  cmd/cli/cmd/org/org_delete.go
  cmd/cli/cmd/org/org_get.go
  cmd/cli/cmd/org/org_update.go
  cmd/cli/cmd/orgmembers/org_members_create.go
  cmd/cli/cmd/orgmembers/org_members_delete.go
  cmd/cli/cmd/orgmembers/org_members_get.go
  cmd/cli/cmd/orgmembers/org_members_update.go
  cmd/cli/cmd/orgsetting/orgsetting_get.go
  cmd/cli/cmd/orgsetting/orgsetting_update.go
  cmd/cli/cmd/output.go
  cmd/cli/cmd/personalaccesstokens/pat_create.go
  cmd/cli/cmd/personalaccesstokens/pat_delete.go
  cmd/cli/cmd/personalaccesstokens/pat_get.go
  cmd/cli/cmd/personalaccesstokens/pat_update.go
  cmd/cli/cmd/register/register.go
  cmd/cli/cmd/reset/reset.go
  cmd/cli/cmd/search/search.go
  cmd/cli/cmd/subscriber/subscriber_create.go
  cmd/cli/cmd/subscriber/subscriber_delete.go
  cmd/cli/cmd/subscriber/subscriber_get.go
  cmd/cli/cmd/subscriber/subscriber_update.go
  cmd/cli/cmd/switch/switch.go
  cmd/cli/cmd/template/template_create.go
  cmd/cli/cmd/template/template_get.go
  cmd/cli/cmd/user/user_create.go
  cmd/cli/cmd/user/user_delete.go
  cmd/cli/cmd/user/user_get.go
  cmd/cli/cmd/user/user_update.go
  cmd/cli/cmd/usersetting/usersetting_get.go
  cmd/cli/cmd/usersetting/usersetting_update.go
  cmd/cli/cmd/webhook/webhook_create.go
  cmd/cli/cmd/webhook/webhook_get.go
  pkg/datumclient/errors.go
  pkg/datumclient/restclient.go
Labels: cli

#1024 fix: allow keychain to work on macos builds
  .goreleaser.yaml
Labels: bug

#1027 fix: goreleaser failing now darwin_arm64, needs to build on macos
  .github/workflows/releaser.yml
Labels: ci

#1032 fix: verify email incorrect method; add verify subscriber to client
  pkg/datumclient/restclient.go
Labels: bug

#1033 fix: when using GET, send token on Query string, not body
  pkg/datumclient/restclient.go
Labels: bug

#1029 fix: goreleaser failing now darwin_arm64, needs to build on macos
  .github/workflows/releaser.yml
Labels: ci

#1037 feat: add ability to set cookie domain
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/datum.config.json
  pkg/sessions/cookie.go
  pkg/sessions/sessions.go
Labels: enhancement, httpserve, config

#1034 bump entx, update config
  config/config.example.yaml
  go.mod
  go.sum
Labels: config

#1057 feat: update session on org delete, update default org ID
  cmd/cli/cmd/client.go
  cmd/serve.go
  internal/ent/entc.go
  internal/ent/generated/client.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/organization/organization.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/helpers.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/sessions.go
  internal/ent/hooks/user.go
  internal/ent/schema/organization.go
  internal/graphapi/organization_test.go
  internal/graphapi/tools_test.go
  internal/httpserve/authmanager/authmanager.go
  internal/httpserve/authmanager/doc.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/invite.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/oauth_login.go
  internal/httpserve/handlers/oauth_register.go
  internal/httpserve/handlers/refresh.go
  internal/httpserve/handlers/refresh_test.go
  internal/httpserve/handlers/switch.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/handlers/webauthn.go
  internal/httpserve/server/server.go
  internal/httpserve/serveropts/option.go
  pkg/auth/auth.go
  pkg/auth/auth_test.go
  pkg/datumclient/client.go
  pkg/middleware/auth/auth.go
  pkg/middleware/auth/authoptions.go
  pkg/testutils/auth.go
Labels: enhancement, dbschema, httpserve, graphapi, cli, codegenerators

#1063 remove the entgo snapshot feature
  internal/ent/entc.go
  internal/ent/generated/internal/schema.go
Labels: enhancement, codegenerators

#1067 enable query generation, bump entx
  go.mod
  go.sum
  internal/ent/entc.go
  internal/ent/schema/emailverificationtoken.go
  internal/ent/schema/oauthprovider.go
  internal/ent/schema/passwordresettoken.go
  internal/ent/schema/webauthn.go
  pkg/datumclient/graphclient.go
  query/documentdatahistory.graphql
  query/entitlementhistory.graphql
  query/eventhistory.graphql
  query/featurehistory.graphql
  query/filehistory.graphql
  query/grouphistory.graphql
  query/groupmembershiphistory.graphql
  query/groupsettinghistory.graphql
  query/hushhistory.graphql
  query/integrationhistory.graphql
  query/oauthproviderhistory.graphql
  query/organizationhistory.graphql
  query/organizationsettinghistory.graphql
  query/orgmembershiphistory.graphql
  query/subscriber.graphql
  query/templatehistory.graphql
  query/userhistory.graphql
  query/usersettinghistory.graphql
  query/webhookhistory.graphql
Labels: enhancement, dbschema, datumclient, codegenerators
