Repository datumforge/datum, pull requests merged in 2024-02, with the labels that each got.

#478 switch to buildkite atlas plugin
  .buildkite/pipeline.yaml
  .github/workflows/ci-atlas.yaml
Labels: ci

#477 add and validate email url config
  internal/httpserve/serveropts/option.go
Labels: httpserve

#483 Auth provider for users schema
  db/migrations/20240204221517_unique_user.sql
  db/migrations/atlas.sum
  internal/datumclient/models.go
  internal/ent/enums/auth_provider.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/user.go
  internal/ent/generated/user/user.go
  internal/ent/generated/user/where.go
  internal/ent/generated/user_create.go
  internal/ent/generated/user_update.go
  internal/ent/schema/user.go
  internal/graphapi/gen_server.go
  internal/graphapi/user_test.go
  internal/httpserve/route/openapi.json
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations, httpserve, graphapi, datumclient

#488 bump to latest atlas-buildkite-plugin
  .buildkite/pipeline.yaml
Labels: ci

#472 Skipper configuration for auth and session middleware
  cmd/serve.go
  internal/graphapi/resolver.go
  internal/httpserve/config/config.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/invite.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/refresh.go
  internal/httpserve/handlers/sessionmanager.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/middleware/auth/auth.go
  internal/httpserve/middleware/auth/authoptions.go
  internal/httpserve/middleware/auth/authoptions_test.go
  internal/httpserve/server/server.go
  internal/httpserve/serveropts/option.go
  internal/sessions/middleware.go
Labels: httpserve, graphapi

#495 upgrade gqlgen + gqlgenc
  go.mod
  go.sum
  gqlgen.yml
  gqlgenc.yml
  internal/datumclient/graphclient.go
  internal/datumclient/models.go
  internal/graphapi/ent.resolvers.go
  internal/graphapi/entitlement.resolvers.go
  internal/graphapi/group.resolvers.go
  internal/graphapi/groupextended.resolvers.go
  internal/graphapi/groupmembership.resolvers.go
  internal/graphapi/groupsetting.resolvers.go
  internal/graphapi/integration.resolvers.go
  internal/graphapi/invite.resolvers.go
  internal/graphapi/oauthprovider.resolvers.go
  internal/graphapi/ohauthtootoken.resolvers.go
  internal/graphapi/organization.resolvers.go
  internal/graphapi/organizationsetting.resolvers.go
  internal/graphapi/orgextended.resolvers.go
  internal/graphapi/orgmembership.resolvers.go
  internal/graphapi/personalaccesstoken.resolvers.go
  internal/graphapi/user.resolvers.go
  internal/graphapi/usersetting.resolvers.go
Labels: graphapi, datumclient, codegenerators

#501 Fix duplicate routes causing startup errors
  internal/httpserve/route/webauthn.go
Labels: httpserve

#502 loop routes instead of a huge number of if statements
  internal/httpserve/route/authenticate.go
  internal/httpserve/route/routes.go
Labels: httpserve

#506 add redis to aio image
  docker/all-in-one/Dockerfile.all-in-one
  docker/all-in-one/README.md
  docker/all-in-one/docker_entrypoint.sh
Labels: local-development

#507 return token data on succesful login
  internal/httpserve/handlers/login.go
  internal/tokens/exchange.go
Labels: httpserve

#513 Return tokens on verrify, add userinfo endpoint
  go.mod
  go.sum
  internal/httpserve/config/config.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/static.go
  internal/httpserve/handlers/userinfo.go
  internal/httpserve/handlers/userinfo_test.go
  internal/httpserve/handlers/verify_test.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/route/oauth.go
  internal/httpserve/route/routes.go
  internal/httpserve/serveropts/option.go
Labels: httpserve

#516 rename password reset handler
  internal/datumclient/reset.go
  internal/httpserve/handlers/resetpassword_test.go
  internal/httpserve/middleware/cachecontrol/cache_test.go
  internal/httpserve/middleware/mime/mime_test.go
  internal/httpserve/middleware/ratelimit/ratelimiter.go
  internal/httpserve/middleware/redirect/redirect.go
  internal/httpserve/middleware/redirect/redirect_test.go
  internal/httpserve/middleware/secure/secure.go
  internal/httpserve/middleware/secure/secure_test.go
  internal/httpserve/route/forgotpass.go
  internal/httpserve/route/resetpass.go
  internal/httpserve/serveropts/option.go
  internal/utils/emails/config.go
Labels: httpserve, datumclient

#517 set default mime type to json
  internal/httpserve/route/base.go
  internal/httpserve/route/forgotpass.go
  internal/httpserve/route/invite.go
  internal/httpserve/route/login.go
  internal/httpserve/route/register.go
  internal/httpserve/route/resend.go
  internal/httpserve/route/resetpass.go
  internal/httpserve/route/static.go
  internal/httpserve/route/verify.go
  internal/httpserve/route/webauthn.go
  internal/httpserve/serveropts/option.go
Labels: httpserve

#518 register oauth handler
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/oauth_login.go
  internal/httpserve/handlers/oauth_register.go
  internal/httpserve/handlers/oauth_register_test.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/route/oauth.go
  internal/httpserve/route/routes.go
  internal/providers/github/client.go
  internal/providers/github/login.go
  internal/providers/github/login_test.go
  internal/providers/google/login.go
  internal/providers/oauth2/login.go
Labels: httpserve

#526 update openapi spec
  internal/ent/entc.go
  internal/ent/generated/openapi.json
  internal/httpserve/route/openapi.json
Labels: httpserve, codegenerators

#528 add version cmd to cli
  cmd/cli/cmd/version/doc.go
  cmd/cli/cmd/version/version.go
  cmd/cli/main.go
  internal/utils/cli/rows/doc.go
  internal/utils/cli/rows/rows.go
  internal/utils/cli/useragent/doc.go
  internal/utils/cli/useragent/useragent.go
Labels: cli

#527 invite accept should require user authenticated
  cmd/cli/cmd/group/group_create.go
  cmd/cli/cmd/group/group_delete.go
  cmd/cli/cmd/group/group_get.go
  cmd/cli/cmd/group/group_update.go
  cmd/cli/cmd/groupmembers/group_members_create.go
  cmd/cli/cmd/groupmembers/group_members_delete.go
  cmd/cli/cmd/groupmembers/group_members_get.go
  cmd/cli/cmd/groupmembers/group_members_update.go
  cmd/cli/cmd/invite/invite_accept.go
  cmd/cli/cmd/invite/invite_create.go
  cmd/cli/cmd/invite/invite_delete.go
  cmd/cli/cmd/invite/invite_get.go
  cmd/cli/cmd/org/org_create.go
  cmd/cli/cmd/org/org_delete.go
  cmd/cli/cmd/org/org_get.go
  cmd/cli/cmd/org/org_update.go
  cmd/cli/cmd/orgmembers/org_members_create.go
  cmd/cli/cmd/orgmembers/org_members_delete.go
  cmd/cli/cmd/orgmembers/org_members_get.go
  cmd/cli/cmd/orgmembers/org_members_update.go
  cmd/cli/cmd/root.go
  cmd/cli/cmd/tokens/pat_create.go
  cmd/cli/cmd/tokens/pat_delete.go
  cmd/cli/cmd/user/user_create.go
  cmd/cli/cmd/user/user_delete.go
  cmd/cli/cmd/user/user_get.go
  cmd/cli/cmd/user/user_update.go
  internal/datumclient/invite.go
  internal/ent/hooks/invite.go
  internal/graphapi/invite_test.go
  internal/graphapi/models_test.go
  internal/httpserve/handlers/invite.go
  internal/httpserve/handlers/invite_test.go
  internal/httpserve/handlers/register.go
  internal/httpserve/route/invite.go
Labels: httpserve, graphapi, datumclient, cli

#530 try increasing poll interval to fix race condition
  internal/httpserve/handlers/tools_test.go
Labels: httpserve

#534 restrict number of resend attempts on an email verify
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/resend_test.go
  internal/httpserve/handlers/resendemail.go
Labels: httpserve

#543 add sentry middlwware and helper packages
  cmd/cli/cmd/login/login.go
  cmd/doc.go
  cmd/root.go
  cmd/serve.go
  config/.env-dev.example
  config/.env.example
  go.mod
  go.sum
  internal/httpserve/config/config.go
  internal/httpserve/handlers/forgotpassword_test.go
  internal/httpserve/middleware/debug/bodydump.go
  internal/httpserve/middleware/middleware.go
  internal/httpserve/middleware/sentry/doc.go
  internal/httpserve/middleware/sentry/helpers.go
  internal/httpserve/middleware/sentry/helpers_test.go
  internal/httpserve/middleware/sentry/middleware.go
  internal/httpserve/middleware/sentry/middleware_test.go
  internal/httpserve/server/server.go
  internal/httpserve/serveropts/option.go
  internal/utils/dumper/doc.go
  internal/utils/dumper/response.go
  internal/utils/dumper/response_test.go
  internal/utils/sentry/config.go
  internal/utils/sentry/doc.go
  internal/utils/sentry/logger.go
Labels: httpserve, cli

#546 GraphQL basic subscriptions setup
  go.mod
  gqlgen.yml
  gqlgenc.yml
  internal/datumclient/models.go
  internal/graphapi/gen_models.go
  internal/graphapi/gen_server.go
  internal/graphapi/resolver.go
  internal/graphapi/subs.resolvers.go
  schema.graphql
  subscriptions/subs.graphql
Labels: graphapi, datumclient, codegenerators

#541 add authz checks for org and group members
  go.mod
  go.sum
  internal/ent/generated/auth_from_mutation.go
  internal/ent/generated/authz_checks.go
  internal/ent/generated/groupmembership/groupmembership.go
  internal/ent/generated/groupmembership_query.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/orgmembership/orgmembership.go
  internal/ent/generated/orgmembership_query.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/groupmembers.go
  internal/ent/hooks/invite_test.go
  internal/ent/privacy/rule/group.go
  internal/ent/privacy/rule/organization.go
  internal/ent/schema/group.go
  internal/ent/schema/groupmembership.go
  internal/ent/schema/organization.go
  internal/ent/schema/orgmembership.go
  internal/graphapi/group_test.go
  internal/graphapi/groupmembers_test.go
  internal/graphapi/models_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/orgmembers_test.go
  internal/graphapi/user_test.go
Labels: dbschema, graphapi, datumclient

#531 update error package, request / reply structs
  Taskfile.yaml
  internal/datumclient/login.go
  internal/datumclient/refresh.go
  internal/graphapi/user_test.go
  internal/httpserve/handlers/email.go
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/forgotpassword.go
  internal/httpserve/handlers/forgotpassword_test.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/invite.go
  internal/httpserve/handlers/invite_test.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/oauth_register.go
  internal/httpserve/handlers/readiness.go
  internal/httpserve/handlers/refresh.go
  internal/httpserve/handlers/refresh_test.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/register_test.go
  internal/httpserve/handlers/resend_test.go
  internal/httpserve/handlers/resendemail.go
  internal/httpserve/handlers/resetpassword.go
  internal/httpserve/handlers/resetpassword_test.go
  internal/httpserve/handlers/static.go
  internal/httpserve/handlers/static_test.go
  internal/httpserve/handlers/userinfo.go
  internal/httpserve/handlers/verify_test.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/middleware/auth/auth.go
  internal/httpserve/middleware/auth/auth_test.go
  internal/httpserve/middleware/auth/authoptions.go
  internal/httpserve/middleware/auth/errors.go
  internal/httpserve/route/doc.json
  internal/httpserve/route/login.go
  internal/httpserve/route/robots.txt
  internal/httpserve/route/routes.go
  internal/httpserve/route/security.txt
  internal/httpserve/route/static.go
  internal/httpserve/serveropts/option.go
  internal/rout/doc.go
  internal/rout/errors.go
  internal/tokens/oidc.go
  internal/utils/emails/emailmanager.go
  internal/utils/responses/doc.go
  internal/utils/responses/errors.go
  internal/utils/responses/marshal.go
  internal/utils/sendgrid/api.go
Labels: ci, dbschema, local-development, httpserve, graphapi, datumclient, cli, codegenerators

#556 The Audi of Config Setups
  .buildkite/pipeline.yaml
  .gitignore
  README.md
  Taskfile.yaml
  cmd/root.go
  cmd/serve.go
  config/.env-allinone.example
  config/.env-dev.example
  config/.env.example
  config/config-dev.example.yaml
  config/config.example.yaml
  config/config.go
  config/config.yaml
  go.mod
  go.sum
  internal/cache/client.go
  internal/entdb/client.go
  internal/httpserve/config/config.go
  internal/httpserve/config/configproviderrefresh.go
  internal/httpserve/handlers/oauth_login.go
  internal/httpserve/handlers/oauth_register.go
  internal/httpserve/server/server.go
  internal/httpserve/serveropts/option.go
  internal/httpserve/serveropts/server.go
  internal/otelx/otel.go
  internal/providers/github/client.go
  internal/providers/github/config.go
  internal/providers/github/login.go
  internal/providers/github/login_test.go
  internal/providers/google/config.go
  internal/sessions/sessions.go
  internal/tokens/config.go
  internal/utils/emails/config.go
  internal/utils/sentry/config.go
  jsonschema/DOC.md
  jsonschema/Taskfile.yml
  jsonschema/config.yaml
  jsonschema/datum.config.json
  jsonschema/schema_generator.go
Labels: ci, local-development, httpserve

#559 Trying to fix the flakey test
  internal/httpserve/handlers/invite_test.go
Labels: httpserve

#560 fix docker images
  .buildkite/pipeline.yaml
  Taskfile.yaml
  docker/all-in-one/Dockerfile.all-in-one
  docker/docker-compose.yml
Labels: ci, local-development

#561 linter fixes, sonar exclusions and badge, basic readme updates
  .github/CONTRIBUTING.md
  README.md
  internal/ent/hooks/invite_test.go
  internal/ent/hooks/orgmembers.go
  internal/ent/mixin/softdelete_mixin.go
  internal/ent/privacy/rule/allow_if_admin.go
  internal/ent/privacy/rule/allow_if_token_valid.go
  internal/ent/privacy/rule/allow_mutation_after_owner_filter.go
  internal/ent/privacy/rule/allow_viewer_owner.go
  internal/graphapi/group_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/user_test.go
  internal/httpserve/handlers/invite_test.go
  internal/httpserve/handlers/oauth_login_handlers_test.go
  internal/httpserve/handlers/register_test.go
  internal/keygen/keygen.go
  internal/tokens/jwks_test.go
  internal/tokens/mock.go
  internal/utils/emails/emailmanager.go
  internal/utils/marionette/marionette_test.go
  internal/utils/marionette/scheduler_test.go
  internal/utils/sqlite/sqlite_test.go
  sonar-project.properties
Labels: ci, mixin, httpserve, graphapi

#562 dont require lint to pass for push to run
  .buildkite/pipeline.yaml
Labels: ci

#567 port entx to external package
  docker/Taskfile.yml
  go.mod
  go.sum
  gqlgen.yml
  gqlgenc.yml
  internal/ent/entc.go
  internal/ent/generated/auth_from_mutation.go
  internal/ent/hooks/group.go
  internal/ent/hooks/user.go
  internal/ent/mixin/softdelete_mixin.go
  internal/ent/schema/emailverificationtoken.go
  internal/ent/schema/group.go
  internal/ent/schema/organization.go
  internal/ent/schema/passwordresettoken.go
  internal/ent/schema/user.go
  internal/ent/schema/webauthn.go
  internal/entx/annotation.go
  internal/entx/annotation_test.go
  internal/entx/doc.go
  internal/entx/generator.go
  internal/entx/gqlhooks.go
  internal/entx/json.go
  internal/entx/softdeletes.go
  internal/graphapi/organization_test.go
  internal/graphapi/personalaccesstoken_test.go
  internal/graphapi/user_test.go
Labels: mixin, dbschema, local-development, graphapi, codegenerators

#563 update auth and session middleware to support PAT auth
  cmd/serve.go
  internal/datumclient/login.go
  internal/ent/generated/authz_checks.go
  internal/ent/hooks/group.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/invite_test.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/personalaccesstoken.go
  internal/ent/hooks/user.go
  internal/ent/interceptors/group.go
  internal/ent/interceptors/organization.go
  internal/ent/mixin/audit_mixin.go
  internal/ent/mixin/softdelete_mixin.go
  internal/ent/privacy/rule/context.go
  internal/ent/privacy/rule/group.go
  internal/ent/privacy/rule/invite.go
  internal/ent/privacy/rule/organization.go
  internal/ent/privacy/viewer/viewer.go
  internal/graphapi/invite_test.go
  internal/graphapi/tools_test.go
  internal/graphapi/user.resolvers.go
  internal/graphapi/user_test.go
  internal/httpserve/handlers/invite.go
  internal/httpserve/handlers/invite_test.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/oauth_login.go
  internal/httpserve/handlers/oauth_register.go
  internal/httpserve/handlers/refresh.go
  internal/httpserve/handlers/register_test.go
  internal/httpserve/handlers/userinfo.go
  internal/httpserve/handlers/userinfo_test.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/middleware/auth/auth.go
  internal/httpserve/middleware/auth/authoptions.go
  internal/httpserve/serveropts/option.go
  pkg/auth/auth.go
  pkg/auth/auth_test.go
  pkg/auth/context.go
  pkg/auth/doc.go
  pkg/auth/errors.go
  pkg/auth/test_tools.go
  pkg/auth/user.go
  pkg/auth/user_test.go
Labels: mixin, httpserve, graphapi, datumclient

#571 fix bad error on invalid PAT
  internal/httpserve/middleware/auth/auth.go
Labels: httpserve

#564 fix update json schema for external, use koanf field
  .github/labeler.yml
  config/config.example.yaml
  go.mod
  go.sum
  internal/cache/client.go
  internal/entdb/client.go
  jsonschema/DOC.md
  jsonschema/datum.config.json
  jsonschema/schema_generator.go
Labels: ci

#575 fix all in one startup failure
  docker/all-in-one/Dockerfile.all-in-one
Labels: local-development

#576 fix config not found in docker aio image
  docker/all-in-one/Dockerfile.all-in-one
Labels: local-development

#578 brew install gomplate
  Taskfile.yaml
Labels: local-development

#577 Add Libsql + Fixup Postgres tests to actually run
  .buildkite/pipeline.yaml
  Taskfile.yaml
  cmd/serve.go
  config/config-dev.example.yaml
  config/config.example.yaml
  config/config.go
  db/create_migrations.go
  go.mod
  go.sum
  internal/ent/generated/authz_checks.go
  internal/ent/hooks/emailverificationtoken.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/passwordresettoken.go
  internal/entdb/client.go
  internal/entdb/client_test.go
  internal/entdb/errors.go
  internal/entdb/multidriver.go
  internal/graphapi/invite_test.go
  internal/graphapi/tools_test.go
  internal/graphapi/user_test.go
  internal/httpserve/handlers/forgotpassword_test.go
  internal/httpserve/handlers/invite_test.go
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/refresh_test.go
  internal/httpserve/handlers/register_test.go
  internal/httpserve/handlers/resend_test.go
  internal/httpserve/handlers/resetpassword_test.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/handlers/verify_test.go
  internal/httpserve/serveropts/option.go
  internal/testutils/db.go
  internal/tokens/urltokens.go
  jsonschema/DOC.md
  jsonschema/datum.config.json
Labels: ci, migrations, local-development, httpserve, graphapi, config

#579 add startup to contributing guide
  .github/CONTRIBUTING.md
Labels: ci

#583 prefix personal access tokens with `dtm_`
  internal/ent/schema/personalaccesstoken.go
  internal/graphapi/personalaccesstoken_test.go
  internal/keygen/keygen.go
  internal/keygen/keygen_test.go
Labels: dbschema, graphapi

#582 contrib formatting, waitfor testcontainers
  .github/CONTRIBUTING.md
  internal/testutils/db.go
Labels: ci

#587 align posthog config to use koanf setup
  cmd/serve.go
  config/config-dev.example.yaml
  config/config.example.yaml
  config/config.go
  internal/ent/entc.go
  internal/ent/generated/client.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/orgmembers.go
  internal/graphapi/tools_test.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/serveropts/option.go
  jsonschema/DOC.md
  jsonschema/datum.config.json
  jsonschema/schema_generator.go
  pkg/analytics/analytics.go
  pkg/analytics/doc.go
  pkg/analytics/machine/doc.go
  pkg/analytics/machine/machine.go
  pkg/analytics/posthog/cli.go
  pkg/analytics/posthog/doc.go
  pkg/analytics/posthog/event.go
  pkg/analytics/posthog/http.go
  pkg/analytics/posthog/logger.go
Labels: httpserve, graphapi, codegenerators, config

#589 database cleanup, turso support
  .buildkite/pipeline.yaml
  atlas.hcl
  cmd/serve.go
  config/config.example.yaml
  db/README.md
  docker/Taskfile.yml
  docker/docker-compose.yml
  go.mod
  go.sum
  internal/entdb/client.go
  internal/httpserve/serveropts/option.go
  internal/httpserve/serveropts/server.go
  jsonschema/DOC.md
  jsonschema/datum.config.json
  schema.hcl
Labels: ci, migrations, local-development, httpserve, config

#594 update entx, remove genschema
  go.mod
  go.sum
  internal/ent/entc.go
  scripts/templates/graph.tpl
Labels: local-development, codegenerators
