Repository datumforge/datum, pull requests merged in 2024-07, with the labels that each got.

#1079 add hermit and taskfile updates
  .gitignore
  .pre-commit-config.yaml
  README.md
  Taskfile.yaml
  bin/.age@latest.pkg
  bin/.atlas@latest.pkg
  bin/.docker-compose@latest.pkg
  bin/.go-1.22.4.pkg
  bin/.golangci-lint@latest.pkg
  bin/.pre-commit@latest.pkg
  bin/.task@latest.pkg
  bin/README.hermit.md
  bin/activate-hermit
  bin/age
  bin/age-keygen
  bin/atlas
  bin/docker-compose
  bin/go
  bin/gofmt
  bin/golangci-lint
  bin/hermit
  bin/hermit.hcl
  bin/pre-commit
  bin/task
  pkg/datumclient/graphclient.go
  query/entitlementplanhistory.graphql
  query/feature.graphql
  query/hushhistory.graphql
  query/organizationsetting.graphql
  query/templatehistory.graphql
  query/webhookhistory.graphql
Labels: enhancement, local-development, datumclient

#1085 set success:true on oauth register response
  internal/httpserve/handlers/oauth_register.go
  internal/httpserve/handlers/oauth_register_test.go
Labels: bug, httpserve

#1086 allow members to be queried in authorized organization
  internal/ent/interceptors/user.go
  internal/graphapi/organization_test.go
Labels: bug, graphapi

#1087 feat: update user default org when added to an org if default org == personal org
  Taskfile.yaml
  internal/ent/generated/orgmembership/orgmembership.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/orgmembers.go
  internal/ent/hooks/usersettings.go
  internal/ent/privacy/rule/allow_if_token_valid.go
  internal/ent/schema/organization.go
  internal/ent/schema/orgmembership.go
  internal/entdb/client.go
  internal/graphapi/models_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/orgmembers_test.go
  internal/graphapi/resolver.go
  internal/graphapi/tools_test.go
  internal/httpserve/handlers/forgotpassword_test.go
  internal/httpserve/handlers/invite.go
  internal/httpserve/handlers/invite_test.go
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/oauth_login_handlers_test.go
  internal/httpserve/handlers/oauth_register_test.go
  internal/httpserve/handlers/refresh_test.go
  internal/httpserve/handlers/register_test.go
  internal/httpserve/handlers/resend_test.go
  internal/httpserve/handlers/resetpassword_test.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/handlers/userinfo_test.go
  internal/httpserve/handlers/verify_test.go
  internal/httpserve/handlers/verifysubscribe_test.go
  pkg/testutils/client.go
Labels: enhancement, dbschema, local-development, httpserve, graphapi

#1094 feat: update session on organization create to new org
  internal/ent/hooks/organization.go
  internal/graphapi/models_test.go
  internal/httpserve/handlers/invite_test.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/handlers/verifysubscribe_test.go
Labels: enhancement, httpserve, graphapi

#1084 refetch google/github/social provider avatars every login
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/ent_test.go
  internal/httpserve/handlers/oauth_login.go
  internal/httpserve/handlers/oauth_login_handlers_test.go
  internal/httpserve/handlers/oauth_register.go
  internal/httpserve/handlers/webauthn.go
  pkg/models/models.go
Labels: httpserve

#1074 Add ForeignKeyError type and error handling in parseRequestError
  internal/graphapi/errors.go
  internal/graphapi/orgmembers_test.go
  pkg/rout/errors.go
Labels: run-ci, graphapi

#1107 install rover plugins with local setup, move to root task file
  Taskfile.yaml
  docker/Taskfile.yaml
Labels: local-development

#1105 add auth extension to return auth token + session data
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap.yaml
  internal/ent/hooks/sessions.go
  internal/graphapi/extensions.go
  internal/graphapi/resolver.go
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/datum.config.json
  pkg/auth/context.go
  pkg/middleware/auth/auth.go
  pkg/sessions/context.go
  pkg/sessions/cookie.go
  pkg/sessions/middleware.go
  pkg/sessions/redisstore.go
  pkg/sessions/redisstore_test.go
  pkg/testutils/client.go
Labels: enhancement, httpserve, graphapi, config

#1112 remove unused default subscriber org
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/handlers/verifysubscribe.go
  jsonschema/api-docs.md
  jsonschema/datum.config.json
  pkg/utils/emails/config.go
Labels: httpserve, config

#1114 added sudo for clean install
  Taskfile.yaml
Labels: bug, local-development

#1119 add ability to run test with tokens and auth middleware
  internal/graphapi/extensions.go
  internal/graphapi/personalaccesstoken_test.go
  internal/httpserve/serveropts/option.go
  pkg/datumclient/options.go
  pkg/middleware/auth/auth.go
  pkg/middleware/auth/authoptions.go
  pkg/testutils/client.go
Labels: enhancement, httpserve, graphapi

#1125 omit fields from auth extension that are not set
  internal/graphapi/extensions.go
Labels: enhancement, graphapi

#1139 feat: upgrade fgax for breaking change, list users perf testing
  cmd/serve.go
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap.yaml
  docker/docker-compose-fga.yml
  docker/docker-compose-pg.yml
  go.mod
  go.sum
  internal/ent/entc.go
  internal/ent/entconfig/config.go
  internal/ent/entconfig/doc.go
  internal/ent/generated/auth_from_mutation.go
  internal/ent/generated/authz_checks.go
  internal/ent/generated/client.go
  internal/ent/generated/orgmembership/orgmembership.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/apitoken.go
  internal/ent/hooks/group.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/tuples.go
  internal/ent/hooks/tuples_test.go
  internal/ent/hooks/usersettings.go
  internal/ent/interceptors/errors.go
  internal/ent/interceptors/group.go
  internal/ent/interceptors/organization.go
  internal/ent/interceptors/orgmembers.go
  internal/ent/interceptors/user.go
  internal/ent/privacy/rule/group.go
  internal/ent/privacy/rule/organization.go
  internal/ent/schema/orgmembership.go
  internal/ent/schema/user.go
  internal/graphapi/organization_test.go
  internal/graphapi/orgmembers_test.go
  internal/graphapi/tools_test.go
  internal/graphapi/user_test.go
  internal/httpserve/handlers/register_test.go
  internal/httpserve/handlers/switch.go
  internal/httpserve/handlers/tools_test.go
  jsonschema/api-docs.md
  jsonschema/datum.config.json
  jsonschema/schema_generator.go
Labels: dbschema, local-development, httpserve, graphapi, codegenerators, config

#1149 Bug token lastused
  internal/graphapi/apitoken_test.go
  internal/graphapi/personalaccesstoken_test.go
  pkg/middleware/auth/auth.go
  pkg/testutils/client.go
Labels: bug, graphapi
