Repository datumforge/datum, pull requests merged in 2024-03, with the labels that each got.

#597 apply should depend on push
  .buildkite/pipeline.yaml
Labels: ci

#602 add configurable allow origins
  internal/httpserve/serveropts/option.go
  pkg/middleware/cors/cors.go
Labels: httpserve

#610 add missing edge cleanup functions
  internal/graphapi/group.resolvers.go
  internal/graphapi/group_test.go
  internal/graphapi/integration.resolvers.go
  internal/graphapi/personalaccesstoken.resolvers.go
  internal/graphapi/usersetting.resolvers.go
Labels: graphapi

#609 Add webauthn provider
  config/config-dev.example.yaml
  config/config.example.yaml
  db/migrations/20240305040112_webauthn_name.sql
  db/migrations/atlas.sum
  go.mod
  go.sum
  internal/ent/enums/auth_provider.go
  internal/ent/generated/client.go
  internal/ent/generated/entql.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/user/user.go
  internal/ent/generated/webauthn.go
  internal/ent/generated/webauthn/webauthn.go
  internal/ent/generated/webauthn/where.go
  internal/ent/generated/webauthn_create.go
  internal/ent/generated/webauthn_update.go
  internal/ent/schema/webauthn.go
  internal/graphapi/gen_server.go
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/ent_test.go
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/oauth_login.go
  internal/httpserve/handlers/oauth_register.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/handlers/webauthn.go
  internal/httpserve/route/openapi.json
  internal/httpserve/route/static.go
  internal/httpserve/route/webauthn.go
  internal/httpserve/serveropts/option.go
  jsonschema/DOC.md
  jsonschema/datum.config.json
  pkg/providers/webauthn/config.go
  pkg/providers/webauthn/doc.go
  pkg/providers/webauthn/errors.go
  pkg/providers/webauthn/passkey-registration.png
  pkg/providers/webauthn/user.go
  pkg/providers/webauthn/user_test.go
  pkg/sessions/cookie.go
  pkg/sessions/cookiestore.go
  pkg/sessions/middleware.go
  pkg/testutils/login/webauthn/README.md
  pkg/testutils/login/webauthn/bootstrap.min.css
  pkg/testutils/login/webauthn/index.es5.umd.min.js
  pkg/testutils/login/webauthn/index.html
  pkg/testutils/login/webauthn/main.go
  pkg/testutils/login/webauthn/script.js
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations, httpserve, graphapi, config

#617 all vars need to be camel case, not snake case
  config/config-dev.example.yaml
  config/config.example.yaml
  config/config.go
  go.mod
  go.sum
  internal/httpserve/handlers/oauth_login.go
  jsonschema/DOC.md
  jsonschema/datum.config.json
  pkg/analytics/posthog/event.go
  pkg/cache/client.go
  pkg/otelx/otel.go
  pkg/providers/github/config.go
  pkg/providers/google/config.go
  pkg/providers/webauthn/config.go
  pkg/sessions/sessions.go
  pkg/tokens/config.go
  pkg/utils/emails/config.go
  pkg/utils/sentry/config.go
Labels: httpserve, config

#614 put cookies back to secure=false in dev
  cmd/cli/Taskfile.yml
  pkg/sessions/cookie.go
Labels: cli

#636 adds missing schema changes
  db/migrations/20240308225026_settings.sql
  db/migrations/atlas.sum
Labels: migrations

#640 remove .env ref
  docker/all-in-one/docker_entrypoint.sh
Labels: local-development

#642 use koanf config for email url settings
  internal/httpserve/serveropts/option.go
Labels: httpserve

#646 port serveral middlewares to konaf config
  cmd/serve.go
  config/config.example.yaml
  config/config.go
  internal/httpserve/serveropts/option.go
  jsonschema/datum.config.json
  pkg/middleware/cachecontrol/cache.go
  pkg/middleware/cors/cors.go
  pkg/middleware/mime/mime.go
  pkg/middleware/redirect/redirect.go
  pkg/middleware/secure/secure.go
  pkg/middleware/secure/secure_test.go
Labels: httpserve, config

#651 Remove gzip mw
  internal/httpserve/serveropts/option.go
Labels: httpserve

#652 docs config generated + ci checks
  .buildkite/pipeline.yaml
  Taskfile.yaml
  jsonschema/DOC.md
  jsonschema/Taskfile.yml
  jsonschema/datum.config.json
  jsonschema/schema_generator.go
Labels: ci, local-development, config

#658 Move graph and rest handler tests to Suites, resuse test containers
  internal/entdb/client.go
  internal/graphapi/group_test.go
  internal/graphapi/groupmembers_test.go
  internal/graphapi/invite_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/orgmembers_test.go
  internal/graphapi/personalaccesstoken_test.go
  internal/graphapi/tfasetting_test.go
  internal/graphapi/tools_test.go
  internal/graphapi/user_test.go
  internal/graphapi/usersetting_test.go
  internal/httpserve/handlers/forgotpassword_test.go
  internal/httpserve/handlers/invite_test.go
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/oauth_login_handlers_test.go
  internal/httpserve/handlers/oauth_register_test.go
  internal/httpserve/handlers/refresh_test.go
  internal/httpserve/handlers/register_test.go
  internal/httpserve/handlers/resend_test.go
  internal/httpserve/handlers/resetpassword_test.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/handlers/userinfo_test.go
  internal/httpserve/handlers/verify_test.go
  pkg/testutils/db.go
Labels: httpserve, graphapi

#654 some cleanup on org owned schemas
  db/migrations/20240313011725_integrations.sql
  db/migrations/atlas.sum
  internal/datumclient/models.go
  internal/ent/generated/auth_from_mutation.go
  internal/ent/generated/authz_checks.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_edge.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/integration.go
  internal/ent/generated/integration/integration.go
  internal/ent/generated/integration/where.go
  internal/ent/generated/integration_create.go
  internal/ent/generated/integration_query.go
  internal/ent/generated/integration_update.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/organization/organization.go
  internal/ent/generated/organization_query.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/orgmembers.go
  internal/ent/privacy/rule/invite.go
  internal/ent/schema/integration.go
  internal/ent/schema/invite.go
  internal/ent/schema/org_owned_mixin.go
  internal/ent/schema/user_owned_mixin.go
  internal/graphapi/gen_server.go
  internal/graphapi/integration.resolvers.go
  internal/graphapi/invite_test.go
  internal/graphapi/orgmembership.resolvers.go
  internal/httpserve/route/openapi.json
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations, httpserve, graphapi, datumclient

#661 some random changes but mostly turso url
  CHANGELOG.md
  atlas.hcl
  db/README.md
  jsonschema/Taskfile.yml
  jsonschema/api-docs.md
Labels: migrations, config

#666 skip apply step while I work on turso libsql
  .buildkite/pipeline.yaml
Labels: ci

#667 squash migration, start fresh
  db/migrations/20240207005637_init.sql
  db/migrations/20240221234913_pat.sql
  db/migrations/20240228191058_openapi.sql
  db/migrations/20240229223635_usersetting.sql
  db/migrations/20240305040112_webauthn_name.sql
  db/migrations/20240306203943_orgsettings.sql
  db/migrations/20240308225026_settings.sql
  db/migrations/20240308235313_tfasettings.sql
  db/migrations/20240313011725_integrations.sql
  db/migrations/20240315200348_init.sql
  db/migrations/atlas.sum
Labels: migrations

#669 fix running handler test suite
  internal/httpserve/handlers/invite_test.go
  internal/httpserve/handlers/tools_test.go
Labels: httpserve

#670 remove db settings baked into container
  config/config-aio.example.yaml
Labels: config

#673 use entx mixins, remove duplicates
  internal/ent/base/entinit.tmpl
  internal/ent/mixin/audit_mixin.go
  internal/ent/mixin/errors.go
  internal/ent/mixin/idmixin.go
  internal/ent/schema/emailverificationtoken.go
  internal/ent/schema/entitlement.go
  internal/ent/schema/group.go
  internal/ent/schema/groupmembership.go
  internal/ent/schema/groupsetting.go
  internal/ent/schema/integration.go
  internal/ent/schema/invite.go
  internal/ent/schema/oauthprovider.go
  internal/ent/schema/ohauthtootoken.go
  internal/ent/schema/organization.go
  internal/ent/schema/organizationsetting.go
  internal/ent/schema/orgmembership.go
  internal/ent/schema/passwordresettoken.go
  internal/ent/schema/personalaccesstoken.go
  internal/ent/schema/subscriber.go
  internal/ent/schema/tfasettings.go
  internal/ent/schema/user.go
  internal/ent/schema/usersetting.go
  internal/ent/schema/webauthn.go
Labels: mixin, dbschema

#678 add marketing base url, add email to unsubscribe link
  config/config-aio.example.yaml
  config/config-dev.example.yaml
  config/config.example.yaml
  internal/httpserve/handlers/email.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/datum.config.json
  pkg/utils/emails/builders_test.go
  pkg/utils/emails/config.go
  pkg/utils/emails/emailmanager.go
  pkg/utils/emails/templates.go
  pkg/utils/emails/templates/partials/footer.html
Labels: httpserve, config

#682 generate env example, defaults for all
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  jsonschema/envparse/doc.go
  jsonschema/envparse/parse.go
  jsonschema/schema_generator.go
  jsonschema/templates/configmap.tmpl
Labels: config

#684 Switch docker plugins to datum ones
  .buildkite/pipeline.yaml
Labels: ci

#689 use echo.bind over QueryParams and JSON decoder
  cmd/cli/cmd/reset/reset.go
  internal/datumclient/invite.go
  internal/datumclient/login.go
  internal/datumclient/refresh.go
  internal/datumclient/register.go
  internal/datumclient/reset.go
  internal/httpserve/handlers/forgotpassword.go
  internal/httpserve/handlers/forgotpassword_test.go
  internal/httpserve/handlers/invite.go
  internal/httpserve/handlers/invite_test.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/oauth_register.go
  internal/httpserve/handlers/oauth_register_test.go
  internal/httpserve/handlers/refresh.go
  internal/httpserve/handlers/refresh_test.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/register_test.go
  internal/httpserve/handlers/resend_test.go
  internal/httpserve/handlers/resendemail.go
  internal/httpserve/handlers/resetpassword.go
  internal/httpserve/handlers/resetpassword_test.go
  internal/httpserve/handlers/subscribe.go
  internal/httpserve/handlers/unsubscribe.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/handlers/verifysubscribe.go
  internal/httpserve/handlers/webauthn.go
  internal/httpserve/route/invite.go
Labels: httpserve, datumclient, cli

#692 OpenAPI Schema Generator
  go.mod
  go.sum
  internal/ent/entc.go
  internal/httpserve/route/forgotpass.go
  internal/httpserve/route/invite.go
  internal/httpserve/route/login.go
  internal/httpserve/route/refresh.go
  internal/httpserve/route/register.go
  internal/httpserve/route/resend.go
  internal/httpserve/route/resetpass.go
  internal/httpserve/route/subscribe.go
  internal/httpserve/route/verify.go
  internal/httpserve/server/server.go
  pkg/rout/errors.go
  schemagen/README.md
  schemagen/base.yaml
  schemagen/mitb.gen.json
  schemagen/mitb.gen.yaml
  schemagen/schemagen.go
Labels: httpserve, codegenerators

#690 include renovate PRs in release notes, add deps label so its categorized
  .github/labeler.yml
  .github/release.yml
  .github/workflows/labeler.yaml
  renovate.json
Labels: ci

#695 Add a few basic issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: ci

#697 Update lint + release tag pipeline and configurations
  .buildkite/pipeline.yaml
  .golangci.yaml
  Taskfile.yaml
  internal/ent/schema/organizationsetting.go
  jsonschema/envparse/parse.go
  jsonschema/schema_generator.go
  pkg/utils/oas/README.md
  pkg/utils/oas/base.yaml
  pkg/utils/oas/oas.go
  schemagen/mitb.gen.json
  schemagen/mitb.gen.yaml
Labels: ci, dbschema, local-development, config

#712 bump fgax, regen config
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  go.mod
  go.sum
  jsonschema/api-docs.md
  jsonschema/datum.config.json
Labels: dependencies, config
