Repository datumforge/datum, pull requests merged in 2024-04, with the labels that each got.

#716 Additional posthog events
  internal/ent/hooks/groupmembers.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/orgmembers.go
  internal/ent/hooks/user.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/subscribe.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/handlers/verifysubscribe.go
  pkg/analytics/analytics.go
  pkg/analytics/posthog/cli.go
  pkg/analytics/posthog/event.go
Labels: httpserve

#721 bug: avatar should be set, without caring about display name
  internal/ent/hooks/organization.go
Labels: bug

#724 deps: bump entx to v0.0.8, run generate
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  go.mod
  go.sum
  jsonschema/api-docs.md
  jsonschema/datum.config.json
Labels: dependencies, config

#727 pull posthog graph events to a runtime hook
  internal/ent/hooks/organization.go
  internal/ent/hooks/user.go
  internal/graphapi/analytics.go
  internal/graphapi/analytics_test.go
  internal/graphapi/resolver.go
  internal/graphapi/tools_test.go
  pkg/analytics/analytics.go
  pkg/analytics/posthog/event.go
Labels: graphapi

#720 feat: adds ability to run migrations files on startup, over atlas auto migrations
  db/Taskfile.yml
  db/create_migrations.go
  db/migrate.go
  db/migrations-goose/20240404040102_init.sql
  db/migrations-goose/20240404040454_base.sql
  db/migrations-goose/atlas.sum
  go.mod
  go.sum
  internal/entdb/client.go
Labels: migrations

#714 feat: Add Geodetic client, Org hook for dedicated DB
  cmd/cli/cmd/org/org_create.go
  cmd/serve.go
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap.yaml
  db/migrations-goose/20240404173329_dedicated_db.sql
  db/migrations-goose/atlas.sum
  db/migrations/20240404173329_dedicated_db.sql
  db/migrations/atlas.sum
  go.mod
  go.sum
  internal/datumclient/graphclient.go
  internal/datumclient/models.go
  internal/ent/entc.go
  internal/ent/enums/region.go
  internal/ent/enums/region_test.go
  internal/ent/generated/client.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/organization.go
  internal/ent/generated/organization/organization.go
  internal/ent/generated/organization/where.go
  internal/ent/generated/organization_create.go
  internal/ent/generated/organization_update.go
  internal/ent/generated/organizationsetting.go
  internal/ent/generated/organizationsetting/organizationsetting.go
  internal/ent/generated/organizationsetting/where.go
  internal/ent/generated/organizationsetting_create.go
  internal/ent/generated/organizationsetting_update.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/organization.go
  internal/ent/schema/organization.go
  internal/ent/schema/organizationsetting.go
  internal/entdb/client.go
  internal/graphapi/gen_server.go
  jsonschema/api-docs.md
  jsonschema/datum.config.json
  pkg/utils/oas/specifications/openapi.json
  query/organization.graphql
  query/organizationsetting.graphql
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations, graphapi, datumclient, cli, codegenerators, config

#740 fix: open the connection with the actual driver, not the ent dialect
  internal/entdb/client.go
Labels: bug

#741 use fork with container fixes
  go.mod
  go.sum
  pkg/analytics/machine/machine.go
Labels: bug, dependencies

#744 feat: add CLI table writer and slice helper utility
  cmd/cli/cmd/org/org_get.go
  cmd/cli/cmd/root.go
  cmd/cli/cmd/user/user_get.go
  cmd/cli/cmd/usersetting/usersetting_get.go
  go.mod
  go.sum
  pkg/utils/cli/tables/doc.go
  pkg/utils/cli/tables/tableprinter.go
  pkg/utils/slice/doc.go
  pkg/utils/slice/sliceutil.go
  pkg/utils/slice/sliceutil_test.go
Labels: enhancement, cli

#750 make taskfile extensions consistent
  Taskfile.yaml
  cmd/cli/Taskfile.yaml
  db/Taskfile.yaml
  docker/Taskfile.yaml
  fga/Taskfile.yaml
  jsonschema/Taskfile.yaml
Labels: migrations, local-development, authorization, cli, config

#757 update template list all resolver
  internal/graphapi/ent.resolvers.go
Labels: graphapi

#758 feat: update event payload metadata to include credential provider
  internal/graphapi/analytics.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/oauth_register.go
  internal/httpserve/handlers/unsubscribe.go
Labels: httpserve, graphapi

#759 feat: Object Storage
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap.yaml
  go.mod
  go.sum
  jsonschema/api-docs.md
  jsonschema/datum.config.json
  pkg/utils/storage/README.md
  pkg/utils/storage/doc.go
  pkg/utils/storage/errors.go
  pkg/utils/storage/fs/doc.go
  pkg/utils/storage/fs/fs.go
  pkg/utils/storage/fs/fs_test.go
  pkg/utils/storage/gcs/doc.go
  pkg/utils/storage/gcs/gcs.go
  pkg/utils/storage/gcs/gcs_test.go
  pkg/utils/storage/s3/doc.go
  pkg/utils/storage/s3/s3.go
  pkg/utils/storage/s3/s3_test.go
  pkg/utils/storage/storage.go
Labels: config

#761 Return encoded session in `LoginReply`
  go.mod
  go.sum
  internal/ent/schema/organization_history.go
  internal/ent/schema/organizationsetting_history.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/oauth_login.go
  internal/httpserve/handlers/oauth_register.go
  internal/httpserve/handlers/webauthn.go
  pkg/sessions/context.go
  pkg/sessions/cookiestore.go
  pkg/sessions/middleware.go
Labels: dbschema, httpserve

#766 updates to templates schemas
  cmd/cli/Taskfile.yaml
  db/migrations-goose/20240412024048_templatedata.sql
  db/migrations-goose/atlas.sum
  db/migrations/20240412024048_templatedata.sql
  db/migrations/atlas.sum
  exampledata/templates/invoice.json
  internal/ent/enums/documenttype.go
  internal/ent/generated/client.go
  internal/ent/generated/documentdata.go
  internal/ent/generated/documentdata/documentdata.go
  internal/ent/generated/documentdata/where.go
  internal/ent/generated/documentdata_create.go
  internal/ent/generated/documentdata_delete.go
  internal/ent/generated/documentdata_query.go
  internal/ent/generated/documentdata_update.go
  internal/ent/generated/edge_cleanup.go
  internal/ent/generated/ent.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_edge.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_node.go
  internal/ent/generated/gql_pagination.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/hook/hook.go
  internal/ent/generated/intercept/intercept.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/internal/schemaconfig.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/predicate/predicate.go
  internal/ent/generated/privacy/privacy.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/template.go
  internal/ent/generated/template/template.go
  internal/ent/generated/template/where.go
  internal/ent/generated/template_create.go
  internal/ent/generated/template_query.go
  internal/ent/generated/template_update.go
  internal/ent/generated/tx.go
  internal/ent/schema/documentdata.go
  internal/ent/schema/template.go
  internal/graphapi/documentdata.resolvers.go
  internal/graphapi/ent.resolvers.go
  internal/graphapi/entitlement.resolvers.go
  internal/graphapi/gen_models.go
  internal/graphapi/gen_server.go
  pkg/datumclient/graphclient.go
  pkg/datumclient/models.go
  pkg/utils/oas/specifications/openapi.json
  query/template.graphql
  schema.graphql
  schema/documentdata.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations, graphapi, datumclient, cli

#767 adds resolvers for document data
  db/migrations-goose/20240412051838_unique_name_template.sql
  db/migrations-goose/atlas.sum
  db/migrations/20240412051838_unique_name_template.sql
  db/migrations/atlas.sum
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/schema/template.go
  internal/graphapi/documentdata.resolvers.go
  internal/graphapi/ent.resolvers.go
  internal/graphapi/template.resolvers.go
  pkg/datumclient/graphclient.go
  query/documentdata.graphql
Labels: dbschema, migrations, graphapi, datumclient

#770 enhancement: update docs, add image, create a few additional READMEs
  README.md
  assets/datumlogo.png
  config/README.md
Labels: config

#771 bug: make pure html instead of a hack since the hack doesn't work
  README.md
Labels: bug

#773 bug: add firstname and lastname input in registration if empty
  internal/httpserve/handlers/register.go
Labels: bug, httpserve

#775 add type to the template create cli
  cmd/cli/Taskfile.yaml
  cmd/cli/cmd/template/template_create.go
Labels: cli

#776 Adds a uischema for the invoice template
  cmd/cli/Taskfile.yaml
  cmd/cli/cmd/template/template_create.go
  exampledata/templates/invoice/invoice.json
  exampledata/templates/invoice/uischema.json
Labels: cli

#774 add models and output
  .golangci.yaml
  jsonschema/models/agreements/accepted_agreement.go
  jsonschema/models/agreements/generate/datum.agreements.json
  jsonschema/models/agreements/generate/datum.agreements.yaml
  jsonschema/models/agreements/generate/schema_generator.go
  jsonschema/models/cloud/cloud.go
  jsonschema/models/cloud/generate/datum.cloud.json
  jsonschema/models/cloud/generate/datum.cloud.yaml
  jsonschema/models/cloud/generate/schema_generator.go
  jsonschema/models/compliance/compliance_document.go
  jsonschema/models/compliance/generate/datum.compliance.json
  jsonschema/models/compliance/generate/datum.compliance.yaml
  jsonschema/models/compliance/generate/schema_generator.go
  jsonschema/models/email/email.go
  jsonschema/models/email/generate/datum.email.json
  jsonschema/models/email/generate/datum.email.yaml
  jsonschema/models/email/generate/schema_generator.go
  jsonschema/models/infra/generate/datum.infra.json
  jsonschema/models/infra/generate/datum.infra.yaml
  jsonschema/models/infra/generate/schema_generator.go
  jsonschema/models/infra/servers.go
  jsonschema/models/invoice/generate/datum.invoice.json
  jsonschema/models/invoice/generate/datum.invoice.yaml
  jsonschema/models/invoice/generate/schema_generator.go
  jsonschema/models/invoice/invoice.go
  jsonschema/models/marketplace/generate/datum.marketplace.json
  jsonschema/models/marketplace/generate/datum.marketplace.yaml
  jsonschema/models/marketplace/generate/schema_generator.go
  jsonschema/models/marketplace/marketplace.go
  jsonschema/models/productcatalog/generate/datum.productcatalog.json
  jsonschema/models/productcatalog/generate/datum.productcatalog.yaml
  jsonschema/models/productcatalog/generate/schema_generator.go
  jsonschema/models/productcatalog/product.go
  jsonschema/models/subscriptions/generate/datum.subscriptions.json
  jsonschema/models/subscriptions/generate/datum.subscriptions.yaml
  jsonschema/models/subscriptions/generate/schema_generator.go
  jsonschema/models/subscriptions/subscription.go
  jsonschema/models/webhook/generate/datum.webhook.json
  jsonschema/models/webhook/generate/datum.webhook.yaml
  jsonschema/models/webhook/generate/schema_generator.go
  jsonschema/models/webhook/webhook.go
  jsonschema/models/workrequests/generate/datum.workrequests.json
  jsonschema/models/workrequests/generate/datum.workrequests.yaml
  jsonschema/models/workrequests/generate/schema_generator.go
  jsonschema/models/workrequests/work_request.go
Labels: config

#777 dont set allow origins in yaml config
  config/config-aio.example.yaml
Labels: config

#779 do not require name on registration
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/register_test.go
Labels: httpserve

#781 add geodetic to run in aio container
  docker/all-in-one/Dockerfile.all-in-one
  docker/all-in-one/docker_entrypoint.sh
Labels: local-development

#778 dont set dev=true, this uses the dev cookie settings
  config/config-aio.example.yaml
Labels: config

#785 add config for generate token signing keys
  cmd/serve.go
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  jsonschema/api-docs.md
  jsonschema/datum.config.json
  pkg/tokens/config.go
Labels: config

#784 fix README typos
  README.md
Labels: run-ci

#780 Template name can be the same across types
  db/migrations-goose/20240414215711_template_unique_name.sql
  db/migrations-goose/atlas.sum
  db/migrations/20240414215711_template_unique_name.sql
  db/migrations/atlas.sum
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/schema/template.go
Labels: dbschema, migrations

#788 run migrate on fga startup
  docker/all-in-one/docker_entrypoint.sh
Labels: local-development

#799 allow host to be set via yaml config
  cmd/cli/cmd/root.go
Labels: cli

#801 Deleting an org deletes all child organizations
  internal/ent/generated/edge_cleanup.go
  internal/ent/generated/internal/schema.go
  internal/ent/interceptors/constants.go
  internal/ent/interceptors/group.go
  internal/ent/interceptors/organization.go
  internal/ent/schema/organization.go
  internal/ent/templates/edge_cleanup.tmpl
  internal/graphapi/models_test.go
  internal/graphapi/organization_test.go
Labels: dbschema, graphapi, codegenerators

#807 automatically retry flakey psql tests
  .buildkite/pipeline.yaml
Labels: ci

#820 feat: parse env var slices
  config/config.go
Labels: config

#821 bump geodetic image
  docker/all-in-one/Dockerfile.all-in-one
Labels: dependencies, local-development

#823 feat: Organization Switcher
  cmd/cli/cmd/switch/doc.go
  cmd/cli/cmd/switch/switch.go
  cmd/cli/main.go
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/switch.go
  internal/httpserve/route/routes.go
  internal/httpserve/route/switch.go
  pkg/datumclient/login.go
  pkg/datumclient/oauth_login.go
  pkg/datumclient/switch.go
Labels: httpserve, cli

#832 return error on unsucesssful exists query
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/errors.go
Labels: bug, httpserve

#830 bump enthistory, add resolvers to get history
  go.mod
  go.sum
  internal/ent/entc.go
  internal/ent/generated/history_from_mutation.go
  internal/ent/generated/internal/schema.go
  internal/ent/schema/documentdata_history.go
  internal/ent/schema/entitlement_history.go
  internal/ent/schema/group_history.go
  internal/ent/schema/groupmembership_history.go
  internal/ent/schema/groupsetting_history.go
  internal/ent/schema/integration_history.go
  internal/ent/schema/oauthprovider_history.go
  internal/ent/schema/organization_history.go
  internal/ent/schema/organizationsetting_history.go
  internal/ent/schema/orgmembership_history.go
  internal/ent/schema/template_history.go
  internal/ent/schema/user_history.go
  internal/ent/schema/usersetting_history.go
  internal/graphapi/ent.resolvers.go
  internal/graphapi/gen_server.go
  pkg/datumclient/models.go
  schema.graphql
  schema/ent.graphql
Labels: dependencies, dbschema, graphqlschema, graphapi, codegenerators

#836 use jsonschema models to create all templates
  cmd/cli/Taskfile.yaml
Labels: cli

#839 Bump gqlgenc, make tags field optional on user settings
  db/migrations-goose/20240423182211_optional_tags.sql
  db/migrations-goose/atlas.sum
  db/migrations/20240423182211_optional_tags.sql
  db/migrations/atlas.sum
  go.mod
  go.sum
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/usersetting/usersetting.go
  internal/ent/generated/usersetting/where.go
  internal/ent/generated/usersetting_create.go
  internal/ent/generated/usersetting_update.go
  internal/ent/generated/usersettinghistory/usersettinghistory.go
  internal/ent/generated/usersettinghistory/where.go
  internal/ent/generated/usersettinghistory_create.go
  internal/ent/generated/usersettinghistory_update.go
  internal/ent/schema/usersetting.go
  internal/graphapi/gen_server.go
  pkg/datumclient/graphclient.go
  pkg/datumclient/models.go
  pkg/utils/oas/specifications/openapi.json
  schema.graphql
  schema/ent.graphql
Labels: dependencies, dbschema, graphqlschema, migrations, graphapi

#850 add session and access tokens to webauthn responses
  internal/httpserve/handlers/webauthn.go
Labels: enhancement, httpserve
