Repository datumforge/datum, pull requests merged in 2024-01, with the labels that each got.

#346 Adds session middleware
  cmd/serve.go
  go.mod
  go.sum
  internal/httpserve/handlers/forgotpassword_test.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/refresh.go
  internal/httpserve/handlers/refresh_test.go
  internal/httpserve/handlers/register_test.go
  internal/httpserve/handlers/resend_test.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/handlers/verify_test.go
  internal/httpserve/middleware/session/doc.go
  internal/httpserve/middleware/session/session.go
  internal/httpserve/server/server.go
  internal/httpserve/serveropts/option.go
Labels: httpserve

#349 switch to envconfig from viper flags for server settings
  .gitignore
  Taskfile.yaml
  cmd/root.go
  cmd/serve.go
  config/.datum.dev.yml
  config/.env.dev
  config/.env.devauth
  config/.env.example
  docker/Dockerfile
  docker/all-in-one/Dockerfile.all-in-one
  docker/all-in-one/docker_entrypoint.sh
  docker/docker-compose-auth.yml
  docker/docker-compose.yml
  internal/entdb/client.go
  internal/entdb/flags.go
  internal/fga/fga.go
  internal/fga/flags.go
  internal/graphapi/tools_test.go
  internal/httpserve/config/config.go
  internal/httpserve/config/defaults.go
  internal/httpserve/config/flags.go
  internal/httpserve/handlers/email.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/serveropts/option.go
  internal/httpserve/serveropts/server.go
  internal/tokens/config.go
  internal/tokens/flags.go
Labels: local-development, authorization, httpserve, graphapi

#332 Update graph generation to entc; Drop gen_graph.sh
  Taskfile.yaml
  internal/ent/entc.go
  scripts/gen_graphql.sh
  scripts/templates/graph.tpl
  sonar-project.properties
Labels: local-development, run-ci, codegenerators

#357 add ToTile case for emails; changes to env files
  .gitignore
  README.md
  Taskfile.yaml
  config/.env-dev.example
  config/.env-devauth.example
  internal/utils/emails/builders.go
  internal/utils/emails/templates/partials/style.html
Labels: local-development

#358 fix naming conventions in docker
  docker/all-in-one/Dockerfile.all-in-one
  docker/docker-compose-auth.yml
  docker/docker-compose.yml
Labels: local-development

#354 Add initial support for postgres supported databases
  .buildkite/pipeline.yaml
  Taskfile.yaml
  cmd/serve.go
  go.mod
  go.sum
  internal/entdb/client.go
  internal/entdb/client_test.go
  internal/entdb/errors.go
  internal/graphapi/organization_test.go
  internal/graphapi/tools_test.go
  internal/httpserve/handlers/tools_test.go
  internal/testutils/db.go
  internal/testutils/doc.go
  internal/testutils/errors.go
  sonar-project.properties
Labels: ci, local-development, run-ci, httpserve, graphapi

#368 publish aio image to gcr on main
  .buildkite/pipeline.yaml
Labels: ci

#369 fix missing var in publish all in one
  .buildkite/pipeline.yaml
Labels: ci

#370 auth enabled flag set with new envconfig
  internal/httpserve/serveropts/option.go
Labels: httpserve

#372 remove task graph
  Taskfile.yaml
  internal/ent/entc.go
Labels: local-development, codegenerators

#375 password should not be returned on queries
  internal/datumclient/graphclient.go
  internal/datumclient/models.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/openapi.json
  internal/ent/generated/user.go
  internal/ent/schema/user.go
  internal/graphapi/gen_server.go
  internal/graphapi/user_test.go
  query/user.graphql
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, graphapi, datumclient

#376 Add schemagen hook
  Taskfile.yaml
  internal/datumclient/graphclient.go
  internal/datumclient/models.go
  internal/ent/entc.go
  internal/ent/generated/internal/schema.go
  internal/ent/schema/emailverificationtoken.go
  internal/ent/schema/passwordresettoken.go
  internal/entx/annotation.go
  internal/entx/annotation_test.go
  internal/graphapi/gen_models.go
  internal/graphapi/gen_server.go
  query/personalaccesstoken.graphql
  schema.graphql
  schema/oauthprovider.graphql
  schema/personalaccesstoken.graphql
  schema/usersetting.graphql
  scripts/files_to_skip.txt
  scripts/templates/graph.tpl
Labels: dbschema, graphqlschema, local-development, run-ci, authorization, graphapi, datumclient, codegenerators

#379 add a echo logger
  internal/httpserve/server/server.go
Labels: httpserve

#381 Add initial support for otel tracing
  cmd/serve.go
  config/.env-dev.example
  config/.env.example
  docker/docker-compose-tracing.yml
  docker/files/otel-collector-config.yaml
  go.mod
  go.sum
  internal/entdb/client.go
  internal/graphapi/resolver.go
  internal/httpserve/config/config.go
  internal/httpserve/serveropts/option.go
  internal/otelx/doc.go
  internal/otelx/errors.go
  internal/otelx/otel.go
  internal/otelx/otel_test.go
Labels: local-development, run-ci, httpserve, graphapi

#380 do not add the authorization header more than once
  internal/datumclient/interceptor.go
Labels: datumclient

#378 Add password reset policy, user-owned mixiin
  db/migrations/20240107034129_user_owned_pat_reset_tokens.sql
  db/migrations/atlas.sum
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/passwordresettoken.go
  internal/ent/generated/passwordresettoken/passwordresettoken.go
  internal/ent/generated/passwordresettoken/where.go
  internal/ent/generated/passwordresettoken_create.go
  internal/ent/generated/passwordresettoken_query.go
  internal/ent/generated/passwordresettoken_update.go
  internal/ent/generated/personalaccesstoken.go
  internal/ent/generated/personalaccesstoken/personalaccesstoken.go
  internal/ent/generated/personalaccesstoken/where.go
  internal/ent/generated/personalaccesstoken_create.go
  internal/ent/generated/personalaccesstoken_query.go
  internal/ent/generated/personalaccesstoken_update.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/user.go
  internal/ent/generated/user/user.go
  internal/ent/generated/user/where.go
  internal/ent/generated/user_create.go
  internal/ent/generated/user_query.go
  internal/ent/generated/user_update.go
  internal/ent/privacy/token/reset_token.go
  internal/ent/schema/passwordresettoken.go
  internal/ent/schema/personalaccesstoken.go
  internal/ent/schema/user.go
  internal/graphapi/gen_server.go
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/resetpassword.go
  internal/httpserve/handlers/resetpassword_test.go
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations, httpserve, graphapi, datumclient

#389 user owned mixin for sesions
  db/migrations/20240108233041_session_owner.sql
  db/migrations/atlas.sum
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/edge_cleanup.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_edge.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/session.go
  internal/ent/generated/session/session.go
  internal/ent/generated/session/where.go
  internal/ent/generated/session_create.go
  internal/ent/generated/session_query.go
  internal/ent/generated/session_update.go
  internal/ent/generated/user.go
  internal/ent/generated/user/user.go
  internal/ent/generated/user/where.go
  internal/ent/generated/user_create.go
  internal/ent/generated/user_query.go
  internal/ent/generated/user_update.go
  internal/ent/schema/session.go
  internal/ent/schema/user.go
  internal/graphapi/gen_server.go
  internal/store/session.go
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations, graphapi, datumclient

#397 add debug log to ensure testing var
  internal/httpserve/handlers/email.go
Labels: httpserve

#398 try not setting these in the aio
  .buildkite/pipeline.yaml
  config/.env-allinone.example
Labels: ci

#395 cascade delete through edges, soft delete org + group members
  db/migrations/20240109201006_soft_delete_org_members.sql
  db/migrations/atlas.sum
  internal/datumclient/models.go
  internal/ent/generated/client.go
  internal/ent/generated/edge_cleanup.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/groupmembership.go
  internal/ent/generated/groupmembership/groupmembership.go
  internal/ent/generated/groupmembership/where.go
  internal/ent/generated/groupmembership_create.go
  internal/ent/generated/groupmembership_update.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/orgmembership.go
  internal/ent/generated/orgmembership/orgmembership.go
  internal/ent/generated/orgmembership/where.go
  internal/ent/generated/orgmembership_create.go
  internal/ent/generated/orgmembership_update.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/schema/group.go
  internal/ent/schema/groupmembership.go
  internal/ent/schema/organization.go
  internal/ent/schema/orgmembership.go
  internal/ent/schema/user.go
  internal/ent/templates/edge_cleanup.tmpl
  internal/entx/annotation.go
  internal/entx/annotation_test.go
  internal/graphapi/gen_server.go
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations, graphapi, datumclient, codegenerators

#402 set context type for response
  internal/httpserve/route/base.go
  internal/httpserve/route/forgotpass.go
  internal/httpserve/route/login.go
  internal/httpserve/route/register.go
  internal/httpserve/route/resend.go
  internal/httpserve/route/resetpass.go
  internal/httpserve/route/verify.go
  internal/httpserve/route/wellknown.go
Labels: httpserve

#410 cli doesn't need the sqlite driver
  cmd/cli/cmd/group/group_create.go
  cmd/cli/cmd/group/group_delete.go
  cmd/cli/cmd/group/group_get.go
  cmd/cli/cmd/group/group_update.go
  cmd/cli/cmd/login/login.go
  cmd/cli/cmd/org/org_create.go
  cmd/cli/cmd/org/org_delete.go
  cmd/cli/cmd/org/org_get.go
  cmd/cli/cmd/org/org_update.go
  cmd/cli/cmd/register/register.go
  cmd/cli/cmd/reset/reset.go
  cmd/cli/cmd/tokens/pat_create.go
  cmd/cli/cmd/tokens/pat_delete.go
  cmd/cli/cmd/user/user_create.go
  cmd/cli/cmd/user/user_delete.go
  cmd/cli/cmd/user/user_get.go
  cmd/cli/cmd/user/user_update.go
Labels: cli

#424 set authmw vars to token config
  cmd/serve.go
  config/.env-devauth.example
  config/.env.example
  internal/httpserve/middleware/auth/auth.go
  internal/httpserve/middleware/auth/authoptions.go
  internal/tokens/config.go
Labels: httpserve

#418 add members as part of org update, org settings for create and update
  internal/datumclient/graphclient.go
  internal/datumclient/models.go
  internal/ent/enums/enums.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/orgmembership/orgmembership.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/orgmembers.go
  internal/ent/hooks/user.go
  internal/ent/schema/orgmembership.go
  internal/graphapi/ent.resolvers.go
  internal/graphapi/gen_server.go
  internal/graphapi/organization.resolvers.go
  internal/graphapi/organization_test.go
  internal/graphapi/orgextended.resolvers.go
  internal/graphapi/orgmembers_test.go
  internal/httpserve/route/openapi.json
  query/organization.graphql
  schema.graphql
  schema/orgextended.graphql
Labels: dbschema, graphqlschema, httpserve, graphapi, datumclient

#419 Add default org to user settings
  db/migrations/20240112200834_user_settings.sql
  db/migrations/atlas.sum
  internal/datumclient/graphclient.go
  internal/datumclient/models.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/usersetting.go
  internal/ent/generated/usersetting/usersetting.go
  internal/ent/generated/usersetting/where.go
  internal/ent/generated/usersetting_create.go
  internal/ent/generated/usersetting_update.go
  internal/ent/hooks/user.go
  internal/ent/schema/usersetting.go
  internal/graphapi/gen_server.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/register_test.go
  internal/httpserve/route/openapi.json
  query/user.graphql
  query/usersetting.graphql
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations, httpserve, graphapi, datumclient

#427 use sonar scanner v5
  .buildkite/pipeline.yaml
  sonar-project.properties
Labels: ci

#433 Update sonar docker version for main
  .buildkite/pipeline.yaml
Labels: ci

#431 fix session schema, hook for issued at, org not required
  db/migrations/20240116075055_session_org.sql
  db/migrations/atlas.sum
  internal/datumclient/models.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/session/where.go
  internal/ent/generated/session_create.go
  internal/ent/generated/session_update.go
  internal/ent/hooks/session.go
  internal/ent/schema/session.go
  internal/graphapi/gen_server.go
  internal/httpserve/route/openapi.json
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations, httpserve, graphapi, datumclient

#432 Unleash the cookie monster
  cmd/serve.go
  config/.env-devauth.example
  config/.env.example
  internal/cookies/cookiemanager.go
  internal/cookies/doc.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/refresh.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/middleware/auth/auth.go
  internal/httpserve/middleware/auth/auth_test.go
  internal/httpserve/middleware/auth/authoptions.go
  internal/httpserve/server/server.go
  internal/keygen/crypto.go
  internal/keygen/crypto_test.go
  internal/keygen/encrypt.go
  internal/keygen/encrypt_test.go
  internal/keygen/keygen.go
  internal/store/cookie.go
  internal/store/parse.go
  internal/testutils/asserts.go
  internal/testutils/server.go
  internal/tokens/config.go
Labels: httpserve

#429 First cut at simplifying tuple creation
  internal/ent/hooks/group.go
  internal/ent/hooks/groupmembers.go
  internal/ent/hooks/orgmembers.go
  internal/ent/hooks/tuples.go
  internal/ent/hooks/tuples_test.go
  internal/fga/tuples.go
  internal/fga/tuples_test.go
  internal/graphapi/group_test.go
  internal/graphapi/groupmembers_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/orgmembers_test.go
  internal/graphapi/tools_test.go
  internal/graphapi/user_test.go
  internal/httpserve/handlers/register_test.go
  internal/httpserve/handlers/tools_test.go
Labels: authorization, httpserve, graphapi

#441 Add Redis Client, Initial cut at session implementation
  Taskfile.yaml
  cmd/cli/cmd/group/group_create.go
  cmd/cli/cmd/group/group_delete.go
  cmd/cli/cmd/group/group_get.go
  cmd/cli/cmd/group/group_update.go
  cmd/cli/cmd/groupmembers/group_members_create.go
  cmd/cli/cmd/groupmembers/group_members_delete.go
  cmd/cli/cmd/groupmembers/group_members_get.go
  cmd/cli/cmd/groupmembers/group_members_update.go
  cmd/cli/cmd/login/login.go
  cmd/cli/cmd/org/org_create.go
  cmd/cli/cmd/org/org_delete.go
  cmd/cli/cmd/org/org_get.go
  cmd/cli/cmd/org/org_update.go
  cmd/cli/cmd/orgmembers/org_members_create.go
  cmd/cli/cmd/orgmembers/org_members_delete.go
  cmd/cli/cmd/orgmembers/org_members_get.go
  cmd/cli/cmd/orgmembers/org_members_update.go
  cmd/cli/cmd/root.go
  cmd/cli/cmd/tokens/pat_create.go
  cmd/cli/cmd/tokens/pat_delete.go
  cmd/cli/cmd/user/user_create.go
  cmd/cli/cmd/user/user_delete.go
  cmd/cli/cmd/user/user_get.go
  cmd/cli/cmd/user/user_update.go
  cmd/serve.go
  config/.env-dev.example
  config/.env-devauth.example
  config/.env.example
  docker/docker-compose-auth.yml
  docker/docker-compose-redis.yml
  docker/docker-compose.yml
  go.mod
  go.sum
  internal/cache/client.go
  internal/cache/doc.go
  internal/datumclient/interceptor.go
  internal/datumclient/login.go
  internal/graphapi/tools_test.go
  internal/httpserve/config/config.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/refresh.go
  internal/httpserve/handlers/refresh_test.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/middleware/auth/auth.go
  internal/httpserve/middleware/auth/auth_test.go
  internal/httpserve/server/server.go
  internal/httpserve/serveropts/option.go
  internal/sessions/doc.go
  internal/sessions/errors.go
  internal/sessions/middleware.go
  internal/sessions/sessions.go
  internal/sessions/sessions_test.go
  internal/sessions/store.go
  internal/sessions/store_test.go
  internal/sessions/storecookie.go
  internal/sessions/storecookie_test.go
Labels: local-development, httpserve, graphapi, datumclient, cli

#454 align enums to all use GoType
  internal/datumclient/graphclient.go
  internal/datumclient/models.go
  internal/ent/enums/join_policy.go
  internal/ent/enums/role.go
  internal/ent/enums/role_test.go
  internal/ent/enums/status.go
  internal/ent/enums/tier.go
  internal/ent/enums/visibility.go
  internal/ent/generated/entitlement.go
  internal/ent/generated/entitlement/entitlement.go
  internal/ent/generated/entitlement/where.go
  internal/ent/generated/entitlement_create.go
  internal/ent/generated/entitlement_update.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/groupsetting.go
  internal/ent/generated/groupsetting/groupsetting.go
  internal/ent/generated/groupsetting/where.go
  internal/ent/generated/groupsetting_create.go
  internal/ent/generated/groupsetting_update.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/openapi.json
  internal/ent/generated/usersetting.go
  internal/ent/generated/usersetting/usersetting.go
  internal/ent/generated/usersetting/where.go
  internal/ent/generated/usersetting_create.go
  internal/ent/generated/usersetting_update.go
  internal/ent/schema/entitlement.go
  internal/ent/schema/groupsetting.go
  internal/ent/schema/orgmembership.go
  internal/ent/schema/usersetting.go
  internal/graphapi/gen_server.go
  internal/graphapi/group_test.go
  internal/httpserve/route/openapi.json
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, httpserve, graphapi, datumclient

#455 missing schema change to entitlement tiers for goType
  db/migrations/20240124173641_entitlements_tier.sql
  db/migrations/atlas.sum
Labels: migrations

#460 consistently use tx clients in all requests
  internal/graphapi/ent.resolvers.go
  internal/graphapi/group.resolvers.go
  internal/graphapi/groupsetting.resolvers.go
  internal/graphapi/integration.resolvers.go
  internal/graphapi/organization.resolvers.go
  internal/graphapi/organizationsetting.resolvers.go
  internal/graphapi/personalaccesstoken.resolvers.go
  internal/graphapi/user.resolvers.go
  internal/graphapi/usersetting.resolvers.go
Labels: graphapi

#457 user test check personal org by id instead of loop
  internal/graphapi/user_test.go
Labels: graphapi

#463 Fix redis name in docker compose
  docker/docker-compose-redis.yml
Labels: local-development

#473 update display_name to no default
  cmd/cli/cmd/user/user_create.go
  db/migrations/20240131210756_display_name.sql
  db/migrations/atlas.sum
  internal/datumclient/models.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/user/user.go
  internal/ent/generated/user_create.go
  internal/ent/schema/user.go
  internal/graphapi/gen_server.go
  internal/graphapi/user_test.go
  schema.graphql
  schema/ent.graphql
Labels: dbschema, graphqlschema, migrations, graphapi, datumclient, cli
